<script lang="ts">
  import { isFemale, isMale, isFertile, getSexes } from "../../Sexes";
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import type { Cow } from "../../types";

  interface Props {
    cows: Cow[];
    isOpen: boolean;
  }

  let { cows, isOpen = $bindable() }: Props = $props();

  let toggle = () => (isOpen = !isOpen);
  let form: HTMLFormElement = $state();
  let tagNumber = $state("");
  let message = $state("Tag number can't be blank");
  let messageClasses = $state("text-danger");
  function validateTagNumber() {
    if (tagNumber == "") {
      message = "Tag number can't be blank";
      messageClasses = "text-danger";
    } else if (cows.map((cow) => cow.tag_number).includes(tagNumber)) {
      message = `${tagNumber} isn't available.`;
      messageClasses = "text-danger";
    } else {
      message = `${tagNumber} is available.`;
      messageClasses = "text-success";
      return true;
    }
    return false;
  }
  function handleSubmit(event) {
    event.preventDefault();
    if (validateTagNumber()) {
      form.submit();
    }
  }
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Cow</ModalHeader>
  <ModalBody>
    <form
      id="newCowForm"
      method="post"
      action="/cows/add"
      onsubmit={handleSubmit}
      bind:this={form}
    >
      <h5>Dam:</h5>
      <select name="dam" id="newCowDam" class="form-control">
        {#each cows as cow}
          {#if !cow.isArchived && isFemale(cow.sex) && isFertile(cow.sex)}
            <option>{cow.tag_number}</option>
          {/if}
        {/each}
        <option value="" selected>N/A</option>
      </select>
      <h5>Sire:</h5>
      <select name="sire" id="newCowSire" class="form-control">
        {#each cows as cow}
          {#if !cow.isArchived && isMale(cow.sex) && isFertile(cow.sex)}
            <option>{cow.tag_number}</option>
          {/if}
        {/each}
        <option value="" selected>N/A</option>
      </select>
      <h5>Tag Number:</h5>
      <small class="form-text {messageClasses}">{message}</small>
      <input
        type="text"
        name="tag_number"
        id="newCowTagNumber"
        class="form-control"
        bind:value={tagNumber}
        oninput={validateTagNumber}
      />
      <h5>Owner:</h5>
      <input name="owner" id="newCowOwner" type="text" class="form-control" />
      <h5>Sex:</h5>
      <select name="sex" id="newCowSex" class="form-control">
        {#each getSexes() as sex}
          <option>{sex}</option>
        {/each}
      </select>
      <h5>Notes:</h5>
      <textarea
        id="newCowNotes"
        name="description"
        form="newCowForm"
        class="form-control"
      ></textarea>
    </form>
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}>
      Close
    </button>
    <input
      type="submit"
      form="newCowForm"
      class="btn btn-primary"
      value="Add"
    />
  </ModalFooter>
</Modal>
