<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import { isFemale, getSexes } from "../../Sexes";
  import type { Cow } from "../../types";

  interface Props {
    isOpen: boolean;
    toggle: () => void;
    cow: Cow;
  }

  let { isOpen, toggle, cow }: Props = $props();
  let possibleParents: string[] = $state();
  async function loadPossibleParents() {
    if (isFemale(cow.sex)) {
      let response = await fetch(
        "/api/cows/get_possible_parents?parent_type=sire"
      );
      possibleParents = (await response.json()).parents;
    } else {
      let response = await fetch(
        "/api/cows/get_possible_parents?parent_type=dam"
      );
      possibleParents = (await response.json()).parents;
    }
  }

  let form: HTMLFormElement = $state();
  let tagNumber = $state("");
  let message = $state("Tag number can't be blank");
  let messageClasses = $state("text-danger");
  async function validateTagNumber() {
    if (tagNumber == "") {
      message = "Tag number can't be blank";
      messageClasses = "text-danger";
      return true;
    }
    const response = await fetch(`/cows/exists/${tagNumber}`);
    const exists = (await response.text()) === "True";
    if (exists) {
      message = `${tagNumber} isn't available.`;
      messageClasses = "text-danger";
    } else {
      message = `${tagNumber} is available.`;
      messageClasses = "text-success";
    }
    return false;
  }
  function handleSubmit(event) {
    event.preventDefault();
    if (validateTagNumber()) {
      form.submit();
    }
  }
  $effect(() => {
    if (isOpen && !possibleParents) loadPossibleParents();
  });
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Calf</ModalHeader>
  <ModalBody
    ><form
      id="newCalfForm"
      method="post"
      action="/cows/add"
      bind:this={form}
      onsubmit={(event) => handleSubmit(event)}
    >
      <h5>Date:</h5>
      <input name="date" type="date" class="form-control" />

      {#if isFemale(cow.sex)}
        <div class="form-check">
          <input
            type="checkbox"
            name="calved_event_enabled"
            id="calved_event_enabled"
            class="form-check-input"
            checked
          />
          <label for="calved_event_enabled" class="form-check-label"
            >Add "calved" event for cow</label
          >
        </div>
      {/if}
      <div class="form-check">
        <input
          type="checkbox"
          name="born_event_enabled"
          id="born_event_enabled"
          class="form-check-input"
          checked
        />
        <label for="born_event_enabled" class="form-check-label"
          >Add "born" event for calf</label
        >
      </div>
      {#if isFemale(cow.sex)}
        <h5>Sire:</h5>
        <select name="sire" id="newCowSire" class="form-control">
          {#if possibleParents}
            {#each possibleParents as possibleSire}
              <option>{possibleSire}</option>
            {/each}
          {/if}
          <option value="">N/A</option>
        </select>
        <input name="dam" value={cow.tag_number} hidden />
      {:else}
        <h5>Dam:</h5>
        <select name="dam" id="newCowDam" class="form-control">
          {#if possibleParents}
            {#each possibleParents as possibleParent}
              <option>{possibleParent}</option>
            {/each}
          {/if}
          <option value="">N/A</option>
        </select>
        <input name="sire" value={cow.tag_number} hidden />
      {/if}

      <h5>Tag Number:</h5>
      <input
        type="text"
        name="tag_number"
        class="form-control"
        bind:value={tagNumber}
        oninput={validateTagNumber}
      />
      <small class="form-text {messageClasses}">{message}</small>
      <h5>Owner:</h5>
      <input name="owner" type="text" class="form-control" value={cow.owner} />
      <h5>Sex:</h5>
      <select name="sex" id="newCowSex" class="form-control">
        {#each getSexes() as sex}
          <option>{sex}</option>
        {/each}
      </select>
      <h5>Notes</h5>
      <textarea name="description" id="newCowNotes" class="form-control"
      ></textarea>
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="newCalfForm"
      class="btn btn-primary"
      value="Add"
    />
  </ModalFooter>
</Modal>
