<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import MultiSelect from "svelte-multiselect";
  import type { Cow } from "../../types";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    cow: Cow;
  }

  let { isOpen, toggle, cow }: Props = $props();
  let possibleDams: { parents: string[] };
  let possibleSires: { parents: string[] };
  let possibleParents = $state([]);
  let selectedParentType = $state("Dam");
  async function setPossibleParents() {
    if (!selectedParentType || selectedParentType == "Dam") {
      if (!possibleDams) {
        let response = await fetch(
          "/api/cows/get_possible_parents?parent_type=dam"
        );
        possibleDams = await response.json();
      }
      possibleParents = possibleDams.parents;
    } else if (selectedParentType == "Sire") {
      if (!possibleSires) {
        let response = await fetch(
          "/api/cows/get_possible_parents?parent_type=sire"
        );
        possibleSires = await response.json();
      }
      possibleParents = possibleSires.parents;
    }
    possibleParents.sort();
  }
  let selectedParentTag = $state([]);
  async function submit() {
    const formData = new FormData();
    formData.append("tag_number", cow.tag_number);
    formData.append("parent_type", selectedParentType);
    formData.append("parent_tag", selectedParentTag[0]);
    const response = await fetch(`/cows/add_parent`, {
      method: "POST",
      body: formData,
    });
    if (response.status === 308 || response.status === 200) {
      window.location.reload();
    }
  }
  $effect(() => {
    if (isOpen) setPossibleParents();
  });
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Parent</ModalHeader>
  <ModalBody
    ><form id="addParentForm" method="POST" action="/cows/add_parent">
      <input name="tag_number" value={cow.tag_number} hidden />
      <h5>Parent</h5>
      <div>
        <input
          type="radio"
          id="dam"
          name="parent_type"
          value="Dam"
          checked={selectedParentType === "Dam"}
          onchange={() => {
            selectedParentType = "Dam";
            setPossibleParents();
            selectedParentTag = [];
          }}
        />
        <label for="dam">Dam</label>
      </div>
      <div>
        <input
          type="radio"
          id="sire"
          name="parent_type"
          value="Sire"
          checked={selectedParentType === "Sire"}
          onchange={() => {
            selectedParentType = "Sire";
            setPossibleParents();
            selectedParentTag = [];
          }}
        />
        <label for="sire">Sire</label>
      </div>
      <MultiSelect
        maxSelect={1}
        options={possibleParents}
        bind:selected={selectedParentTag}
      />
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <button class="btn btn-primary" onclick={submit}>Add Parent</button>
  </ModalFooter>
</Modal>
