<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import EventSelector from "../../general/EventSelector.svelte";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    tag_number: string;
  }

  let { isOpen, toggle, tag_number = $bindable() }: Props = $props();
  let selectedEvent: string = $state();
  async function onSubmit(event) {
    event.preventDefault();
    const formData = new FormData();
    formData.append("new_cow", tag_number);
    formData.append("event_id", selectedEvent);
    const response = await fetch(`/events/update_cows`, {
      method: "POST",
      body: formData,
    });
    if (response.status === 308 || response.status === 200) {
      window.location.reload();
    }
  }
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Event</ModalHeader>
  <ModalBody>
    <h5>Event</h5>
    <EventSelector bind:selectedEvent />
    <input name="new_cow" bind:value={tag_number} hidden />
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <button onclick={onSubmit} class="btn btn-primary"
      >Add to Event
    </button></ModalFooter
  >
</Modal>
