<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import { transferCows } from "../../helper/CowsHelper.svelte";
  import type { Cow } from "../../types";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    cows: Cow[];
  }

  let { isOpen, toggle, cows }: Props = $props();

  let owner: string = $state(),
    date: string = $state(),
    price: number = $state(),
    description: string = $state();
  let archiveCows = $state(true);
  let transferEventEnabled = $state(true);
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Transfer Ownership</ModalHeader>
  <ModalBody>
    <h5>New Owner</h5>
    <input
      type="text"
      class="form-control"
      name="new_owner"
      bind:value={owner}
    />
    <input
      type="checkbox"
      name="transfer_event_enabled"
      bind:checked={transferEventEnabled}
    />
    <label for="transfer_event_enabled"
      >Create a "transferred" event and transaction for each event</label
    > <br />
    <input type="checkbox" name="archive_cow" bind:checked={archiveCows} />
    <label for="archive_cow">Archive cows</label>
    {#if transferEventEnabled}
      <h5>Date</h5>
      <input type="date" class="form-control" name="date" bind:value={date} />
      <h5>Price</h5>
      <input
        type="price"
        class="form-control"
        name="price"
        bind:value={price}
      />
      <h5>Additional Information</h5>
      <textarea
        form="transferForm"
        class="form-control"
        name="description"
        bind:value={description}
      ></textarea>
    {/if}
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <button
      class="btn btn-primary"
      onclick={() => {
        if (transferEventEnabled && (!owner || !price || !date)) {
          alert("Missing required field");
          return;
        }
        transferCows(
          cows,
          owner,
          transferEventEnabled,
          archiveCows,
          date,
          price,
          description
        );
        toggle();
      }}>Transfer</button
    >
  </ModalFooter>
</Modal>
