<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import { addCowsToEvent } from "../../helper/CowsHelper.svelte";
  import type { Cow } from "../../types";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    cows: Cow[];
  }

  let { isOpen, toggle, cows }: Props = $props();
  let eventId: number = $state();
  let events = $state([]);
  loadEvents();
  async function loadEvents() {
    const response = await fetch(`/api/events/get_list`, {
      method: "GET",
    });
    events = await response.json();
  }
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Cows to Event</ModalHeader>
  <ModalBody>
    <h5>Event</h5>
    <select class="form-control" bind:value={eventId}>
      {#each events as event}
        <option value={event["event_id"]}
          >{event["name"]}: {event["date"]}</option
        >
      {/each}
    </select>
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <button
      class="btn btn-primary"
      onclick={() => {
        addCowsToEvent(eventId, cows);
        toggle();
      }}>Add to Event</button
    >
  </ModalFooter>
</Modal>
