<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import type { Cow } from "../../types";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    cows: Cow[];
  }

  let { isOpen, toggle, cows }: Props = $props();
  let helperMessage: HTMLElement = $state(),
    date: Date = $state();
  async function checkForEvents() {
    if (!date) return;
    let response = await fetch(`/events/exists/${date}`);
    helperMessage.innerText = await response.text();
  }
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Event</ModalHeader>
  <ModalBody
    ><form id="newEventForm" method="post" action="/events/add">
      {#each cows.map((cow) => cow.tag_number) as tag_number}
        <input name="cows" value={tag_number} hidden />
      {/each}
      <h5>Date</h5>
      <small bind:this={helperMessage} class="form-text text-success"></small>
      <input
        bind:value={date}
        oninput={checkForEvents}
        name="date"
        type="date"
        class="form-control"
      />
      <h5>Name</h5>
      <input name="name" type="text" class="form-control" />
      <h5>Description</h5>
      <textarea name="description" class="form-control"></textarea>
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="newEventForm"
      class="btn btn-primary"
      value="Add"
    />
  </ModalFooter>
</Modal>
