<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    tag_number: string;
  }

  let { isOpen, toggle, tag_number }: Props = $props();
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Change Tag Number</ModalHeader>
  <ModalBody>
    <form id="changeTagNumberForm" method="POST" action="/cows/change_tag">
      <input type="hidden" name="old_tag" value={tag_number} />
      <input name="new_tag" class="form-control" value={tag_number} />
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="changeTagNumberForm"
      class="btn btn-primary"
      value="Update"
    />
  </ModalFooter>
</Modal>
