<script lang="ts">
  import { getSexes } from "../../Sexes";
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    tag_number: string;
  }

  let { isOpen, toggle, tag_number }: Props = $props();
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Notes</ModalHeader>
  <ModalBody
    ><form id="sexChangeForm" method="POST" action="/cows/change_sex">
      <input type="hidden" name="tag_number" value={tag_number} />
      <select name="sex" class="form-control">
        {#each getSexes() as sex}
          <option>{sex}</option>
        {/each}
      </select>
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="sexChangeForm"
      class="btn btn-primary"
      value="Update"
    />
  </ModalFooter>
</Modal>
