<script lang="ts">
  import ReportModal from "../../general/ReportModal.svelte";
  import type { SearchResult, Event, Transaction, Cow } from "../../types";

  interface Props {
    isOpen: boolean;
    toggle: () => void;
    results: SearchResult[];
    title?: string;
  }

  let { isOpen, toggle, results, title = "" }: Props = $props();
  let checkboxes = [
    { id: "tag_number", name: "Tag Number", checked: true },
    { id: "owner", name: "Owner", checked: false },
    { id: "birthdate", name: "Birthdate", checked: false },
    { id: "deathdate", name: "Deathdate", checked: false },
    { id: "sex", name: "Sex", checked: false },
    { id: "dam", name: "Dam", checked: false },
    { id: "sire", name: "Sire", checked: false },
    { id: "events", name: "Events", checked: false },
    { id: "transactions", name: "Transactions", checked: false },
    { id: "calves", name: "Calves", checked: false },
    { id: "description", name: "Notes", checked: false },
    { id: "isArchived", name: "Archived", checked: false },
  ];

  async function generateReport(selectedFields: { id: string }[]) {
    let cows = [];
    for (let i = 0; i < results.length; i++) {
      const result = results[i];
      cows.push(
        await (await fetch(`/api/cows/cow?tag_number=${result.title}`)).json()
      );
    }

    let printFriendlyCows = [];
    for (let i = 0; i < cows.length; i++) {
      const cow = cows[i];
      let printFriendlyCow = {};
      for (let j = 0; j < selectedFields.length; j++) {
        const selectedField = selectedFields[j];
        switch (selectedField.id) {
          case "dam":
            printFriendlyCow["dam"] = cow.dam?.tag_number || "";
            break;
          case "sire":
            printFriendlyCow["sire"] = cow.sire?.tag_number || "";
            break;
          case "events":
            printFriendlyCow["events"] = cow.events
              .map((event: Event) => event.name)
              .join(", ");
            break;
          case "transactions":
            printFriendlyCow["transactions"] = cow.transactions
              .map((transaction: Transaction) => transaction.name)
              .join(", ");
            break;
          case "calves":
            printFriendlyCow["calves"] = cow.calves
              .map((calf: Cow) => calf.tag_number)
              .join(", ");
            break;
          case "isArchived":
            printFriendlyCow["isArchived"] = cow.isArchived ? "Yes" : "No";
            break;
          default:
            printFriendlyCow[selectedField.id] = cow[selectedField.id]
              ? cow[selectedField.id]
              : "";
            break;
        }
      }
      printFriendlyCows.push(printFriendlyCow);
    }
    return printFriendlyCows;
  }
</script>

<ReportModal {isOpen} {toggle} {title} {checkboxes} {generateReport} />
