<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    tag_number: string;
  }

  let { isOpen, toggle, tag_number }: Props = $props();
  let date = $state("");
  let causeOfDeath = $state("");

  async function submit() {
    const response = await fetch(`/api/cows/record_death_loss`, {
      method: "POST",
      body: JSON.stringify({
        tag_number: tag_number,
        date: date,
        cause: causeOfDeath,
      }),
    });
    if (response.status === 308 || response.status === 200) {
      window.location.reload();
    }
  }
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Record Death Loss</ModalHeader>
  <ModalBody>
    <h5>Date</h5>
    <input class="form-control" type="date" bind:value={date} required />
    <h5>Cause</h5>
    <textarea class="form-control pt-2" bind:value={causeOfDeath}
    ></textarea></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="button"
      onclick={submit}
      class="btn btn-primary"
      value="Save"
    />
  </ModalFooter>
</Modal>
