<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    tag_number: string;
  }

  let { isOpen, toggle, tag_number }: Props = $props();

  let transferEventEnabled = $state(true);
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Transfer Ownership</ModalHeader>
  <ModalBody>
    <form id="transferForm" method="POST" action="/cows/transfer_ownership">
      <input type="hidden" name="tag_number" value={tag_number} />
      <h5>New Owner</h5>
      <input type="text" class="form-control" name="new_owner" required />
      <input
        type="checkbox"
        name="transfer_event_enabled"
        bind:checked={transferEventEnabled}
      />
      <label for="transfer_event_enabled"
        >Create a "transferred" event and transaction</label
      > <br />
      <input type="checkbox" name="archive_cow" checked />
      <label for="archive_cow">Archive cow</label>
      {#if transferEventEnabled}
        <h5>Date</h5>
        <input type="date" class="form-control" name="date" required />
        <h5>Price</h5>
        <input type="price" class="form-control" name="price" required />
        <h5>Additional Information</h5>
        <textarea form="transferForm" class="form-control" name="description"
        ></textarea>
      {/if}
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="transferForm"
      class="btn btn-primary"
      value="Transfer"
    />
  </ModalFooter>
</Modal>
