<script lang="ts">
  import { run } from 'svelte/legacy';

  import { onMount } from "svelte";
  import Flatpickr from "svelte-flatpickr";
  import "flatpickr/dist/flatpickr.css";
  import RangeSlider from "svelte-range-slider-pips";
  interface Filters {
    prices?: number[];
    types?: string[];
    tags?: string[];
    owners?: string[];
    sexes?: string[];
    dams?: string[];
    sires?: string[];
    event_names?: string[];
    dates?: string[];
    transaction_names?: string[];
    tofroms?: string[];
  }
  let availableFilters: Filters = $state({});
  interface Props {
    searchParams: Filters;
  }
  let { searchParams = $bindable()}: Props = $props();
  let maxPrice: number = $state();
  let minPrice: number = $state();
  onMount(async () => {
    let response = await fetch("/search/get_available_filters");
    availableFilters = await response.json();
    if (availableFilters.prices) {
      minPrice = Math.min(...availableFilters.prices);
      maxPrice = Math.max(...availableFilters.prices);
      searchParams.prices = [minPrice, maxPrice];
    }
  });
  
  run(() => {
    if (!searchParams.types.includes("Cow")) {
      searchParams.tags = [];
      searchParams.owners = [];
      searchParams.sexes = [];
      searchParams.dam = null;
      searchParams.sire = null;
    }
  });

  const jq = window.$;
  run(() => {
    searchParams &&
      jq(function () {
        if (!window.matchMedia("(max-width: 576px)").matches) {
          jq("#collapseFilters").collapse("show");
        }
      });
  });
  
</script>

<div class="col-sm-4 px-lg-6">
  <div class="d-sm-block d-md-none w-100">
    <a
      class="btn btn-secondary w-100 mb-2"
      data-toggle="collapse"
      href="#collapseFilters"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
      ><i class="bi bi-filter"></i> Toggle Filters</a
    >
  </div>
  <div class="collapse" id="collapseFilters">
    <div class="card pg-lg-3 p-3">
      <h4><b>Filter Results</b></h4>
      {#if availableFilters.types}
        <h6><b>Result Type</b></h6>
        {#each availableFilters.types as type, index}
          <div class="form-check">
            <input
              type="checkbox"
              checked={searchParams.types.includes(type)}
              onchange={(e) => {
                if (e.target.checked) {
                  searchParams.types.push(type);
                  // Make svelte realize it's been updated
                  searchParams = searchParams;
                } else {
                  searchParams.types = searchParams.types.filter(
                    (item) => item !== type
                  );
                }
              }}
              class="form-check-input"
              id="{type}-{index}-type"
              value={type}
            /><label class="form-check-label" for="{type}-{index}-type"
              >{type}</label
            >
          </div>
        {/each}
      {/if}
      {#if searchParams.types.includes("Cow")}
        {#if availableFilters.tags}
          <h6><b>Tag Number</b></h6>
          {#each availableFilters.tags as tag_number, index}
            <div class="form-check">
              <input
                bind:group={searchParams.tags}
                value={tag_number}
                type="checkbox"
                class="form-check-input"
                id="{tag_number}-{index}-tag-number"
              />
              <label
                class="form-check-label"
                for="{tag_number}-{index}-tag-number"
              >
                {tag_number}
              </label>
            </div>
          {/each}
        {/if}
        {#if availableFilters?.owners}
          <h6><b>Owner</b></h6>
          {#each availableFilters.owners as owner, index}
            <div class="form-check">
              <input
                bind:group={searchParams.owners}
                value={owner}
                type="checkbox"
                class="form-check-input"
                id="{owner}-{index}-owner"
              /><label class="form-check-label" for="{owner}-{index}-owner"
                >{owner}</label
              >
            </div>
          {/each}
        {/if}
        {#if availableFilters.sexes}
          <h6><b>Sex</b></h6>
          {#each availableFilters.sexes as sex, index}
            <div class="form-check">
              <input
                bind:group={searchParams.sexes}
                value={sex}
                type="checkbox"
                class="form-check-input"
                id="{sex}-{index}-sex"
              /><label class="form-check-label" for="{sex}-{index}-sex"
                >{sex}</label
              >
            </div>
          {/each}
        {/if}
        {#if availableFilters.dams}
          <h6><b>Dam</b></h6>
          <select class="form-control" bind:value={searchParams.dam}>
            <option></option>
            {#each availableFilters.dams as dam}
              <option>{dam}</option>
            {/each}
          </select>
        {/if}
        {#if availableFilters.sires}
          <h6><b>Sire</b></h6>
          <select class="form-control" bind:value={searchParams.sire}>
            <option></option>
            {#each availableFilters.sires as sire}
              <option>{sire}</option>
            {/each}
          </select>
        {/if}
      {/if}

      {#if searchParams.types.includes("Event")}
        {#if availableFilters.event_names}
          <h6><b>Name</b></h6>
          {#each availableFilters.event_names as name, index}
            <div class="form-check">
              <input
                bind:group={searchParams.event_names}
                value={name}
                type="checkbox"
                class="form-check-input"
                id="{name}-{index}-event-name"
              /><label class="form-check-label" for="{name}-{index}-event-name"
                >{name}</label
              >
            </div>
          {/each}
        {/if}
        {#if availableFilters.dates}
          <h6><b>Date Range</b></h6>
          <Flatpickr
            bind:value={searchParams.dates}
            options={{ mode: "range" }}
            class="form-control"
          />
        {/if}
      {/if}
      {#if searchParams.types.includes("Transaction")}
        {#if availableFilters.transaction_names}
          <h6><b>Name</b></h6>
          {#each availableFilters.transaction_names as name, index}
            <div class="form-check">
              <input
                bind:group={searchParams.transaction_names}
                value={name}
                type="checkbox"
                class="form-check-input"
                id="{name}-{index}-transaction-name"
              /><label
                class="form-check-label"
                for="{name}-{index}-transaction-name">{name}</label
              >
            </div>
          {/each}
        {/if}
        {#if availableFilters.tofroms}
          <h6><b>To/From</b></h6>
          {#each availableFilters.tofroms as tofrom, index}
            <div class="form-check">
              <input
                bind:group={searchParams.tofroms}
                value={tofrom}
                type="checkbox"
                class="form-check-input"
                id="{tofrom}-{index}-tofrom"
              /><label class="form-check-label" for="{tofrom}-{index}-tofrom"
                >{tofrom}</label
              >
            </div>
          {/each}
        {/if}
        {#if availableFilters.prices}
          <h6><b>Price</b></h6>
          <RangeSlider
            min={minPrice}
            max={maxPrice}
            bind:values={searchParams.prices}
            on:change={(e) => {
              searchParams.priceSelected = true;
            }}
            range={true}
            prefix="$"
            first="label"
            last="label"
            float
          />
        {/if}
      {/if}
    </div>
  </div>
</div>
