<script lang="ts">
  import { BarLoader } from "svelte-loading-spinners";
  import Result from "./Result.svelte";
  import print from "print-js";
  import WhereLine from "./WhereLine.svelte";
  import CowReportModal from "../cow/modals/CowReportModal.svelte";
  import TransactionReportModal from "../transaction/TransactionReportModal.svelte";
  import EventReportModal from "../event/EventReportModal.svelte";
  import { SelectionHelper } from "../helper/SelectionHelper.svelte";
  import CowBulkButtons from "../cow/buttons/BulkButtons.svelte";
  import EventBulkButtons from "../event/buttons/BulkButtons.svelte";
  import TransactionBulkButtons from "../transaction/buttons/BulkButtons.svelte";

  interface Props {
    results: any;
    loading: boolean;
    searchParams: any;
  }

  let { results = $bindable(), loading, searchParams }: Props = $props();

  let selectionHelper = new SelectionHelper((updatedResults) => {
    results = updatedResults;
  });
  $effect(() => {
    selectionHelper.setItems(results);
  });

  let cow_bulk_buttons_visible: boolean = $derived(
    results.every((result) => result.type == "cow" || !result.selected) &&
      results.some((result) => result.selected)
  );

  let event_bulk_buttons_visible: boolean = $derived(
    results.every((result) => result.type == "event" || !result.selected) &&
      results.some((result) => result.selected)
  );

  let transaction_bulk_buttons_visible: boolean = $derived(
    results.every(
      (result) => result.type == "transaction" || !result.selected
    ) && results.some((result) => result.selected)
  );

  let cowReportModalVisible = $state(false);
  let toggleCowReportModal = () => {
    cowReportModalVisible = !cowReportModalVisible;
  };
  let eventReportModalVisible = $state(false);
  let toggleEventReportModal = () => {
    eventReportModalVisible = !eventReportModalVisible;
  };
  let transactionReportModalVisible = $state(false);
  let toggleTransactionReportModal = () => {
    transactionReportModalVisible = !transactionReportModalVisible;
  };
</script>

<div class="col-sm-8">
  {#if loading}
    <div class="loader-wrapper">
      <BarLoader color="#007bff" duration="0.75s" size="75" />
    </div>
  {:else}
    <div class="d-flex justify-content-end my-2">
      {#if searchParams.types.length == 1}
        <button
          type="button"
          class="btn btn-success d-inline w-sm-100"
          onclick={() => {
            switch (searchParams.types[0]) {
              case "Cow":
                toggleCowReportModal();
                break;
              case "Event":
                toggleEventReportModal();
                break;
              case "Transaction":
                toggleTransactionReportModal();
                break;
              default:
                break;
            }
          }}
        >
          <i class="bi bi-printer-fill"></i>
          Create Report
        </button>
      {:else}
        <button
          type="button"
          class="btn btn-success d-inline w-sm-100"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Print a detailed report by selecting only one result type"
          onclick={() => {
            print("printarea", "html");
          }}
        >
          <i class="bi bi-printer-fill"></i>
          Print Results
        </button>
      {/if}
      {#if cow_bulk_buttons_visible}
        <div class="pl-2">
          <CowBulkButtons
            selectedCows={results
              .filter(
                (result) => result.type == "cow" && result.selected == true
              )
              .map((result) => {
                return { tag_number: result.id, isArchived: result.isArchived };
              })}
          />
        </div>
      {/if}
      {#if event_bulk_buttons_visible}
        <div class="pl-2">
          <EventBulkButtons
            selectedEvents={results
              .filter(
                (result) => result.type == "event" && result.selected == true
              )
              .map((result) => {
                return {
                  transaction_id: result.id,
                  isArchived: result.isArchived,
                };
              })}
            onEventUpdate={() => {}}
          />
        </div>
      {/if}
      {#if transaction_bulk_buttons_visible}
        <div class="pl-2">
          <TransactionBulkButtons
            selectedTransactions={results
              .filter(
                (result) =>
                  result.type == "transaction" && result.selected == true
              )
              .map((result) => {
                return {
                  transaction_id: result.id,
                  isArchived: result.isArchived,
                };
              })}
            onTransactionUpdate={() => {}}
          />
        </div>
      {/if}
    </div>
    <div id="printarea">
      <h2>
        {results.length} result{results.length == 1 ? "" : "s"} found for
        {searchParams.q}:
      </h2>
      <WhereLine {searchParams} />
      <ul id="results">
        {#if results.length == 0}
          <h4>
            We didn't find any results for {#if searchParams.q != undefined}{searchParams.q}{/if}
          </h4>
          <button
            class="m-2 btn btn-success"
            data-toggle="modal"
            data-target="#newCowModal"
          >
            Add Cow
          </button>
          <button
            class="m-2 btn btn-success"
            data-toggle="modal"
            data-target="#newEventModal"
          >
            Add Event
          </button>
        {:else}
          <li>
            <input
              type="checkbox"
              class="master-selector"
              id="master-selector"
              checked={selectionHelper.getAllSelected()}
              onchange={() => {
                selectionHelper.masterToggle();
              }}
            />
            <label for="master-selector">Select All</label>
          </li>
        {/if}
        {#each results as result, index}
          <Result
            result={{
              ...result,
              toggleSelection: () => {
                result.selected = !result.selected;
                selectionHelper.setLastSelectedIndex(index);
              },
              onclick: () => {
                window.location.href = result.url;
              },
              handleShiftSelect: () => {
                selectionHelper.handleShiftSelect(index);
              },
            }}
          ></Result>
        {/each}
      </ul>
    </div>
  {/if}
</div>
<CowReportModal
  isOpen={cowReportModalVisible}
  toggle={toggleCowReportModal}
  {results}
  title={searchParams.q}
/>
<EventReportModal
  isOpen={eventReportModalVisible}
  toggle={toggleEventReportModal}
  {results}
  title={searchParams.q}
/>
<TransactionReportModal
  isOpen={transactionReportModalVisible}
  toggle={toggleTransactionReportModal}
  {results}
  title={searchParams.q}
/>

<style>
  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
  }
  @media (max-width: 576px) {
    .w-sm-100 {
      width: 100%;
    }
  }
  #results {
    margin: 0;
    padding-left: 0;
    list-style: none;
    float: left;
  }
</style>
