<script lang="ts">
  let { result } = $props();

  function resultClicked(event) {
    if (event.ctrlKey) {
      result.toggleSelection();
      return;
    }
    if (event.shiftKey) {
      result.handleShiftSelect();
      return;
    }
    result.onclick();
  }
</script>

<li
  class="p-2"
  class:bg-primary={result.selected}
  tabindex="-1"
  onclick={resultClicked}
  onkeypress={(event) => {
    if (event.key == "Enter") {
      resultClicked(event);
    }
  }}
>
  <input
    type="checkbox"
    class="selector"
    name={`${result.type}-${result.id}`}
    checked={result.selected}
    onclick={(event) => {
      event.stopPropagation();
    }}
    onchange={() => {
      result.toggleSelection();
    }}
  />
  <h4 class="d-inline">
    <a class="text-dark" href={result.url}>{result.title}</a>
  </h4>
  <p class="result-description pl-3">{result.body}</p>
</li>
