<script lang="ts">
  import { run } from 'svelte/legacy';

  let { searchParams } = $props();
  let phrases = $state();
  let lastPhrase = $state();
  run(() => {
    phrases = [];
    if (searchParams?.types?.length > 0) {
      phrases.push(`type is ${searchParams?.types.join(" or ")}`);
    }
    if (searchParams?.tags?.length > 0) {
      phrases.push(`tag starts with ${searchParams?.tags.join(" or ")}`);
    }
    if (searchParams?.sexs?.length > 0) {
      phrases.push(`sex is ${searchParams?.sex.join(" or ")}`);
    }
    if (searchParams?.owners?.length > 0) {
      phrases.push(`owner is ${searchParams?.owners.join(" or ")}`);
    }
    if (searchParams?.sire) {
      phrases.push(`sire is ${searchParams?.sire}`);
    }
    if (searchParams?.dam) {
      phrases.push(`dam is ${searchParams?.dam}`);
    }
    if (searchParams?.event_names?.length > 0) {
      phrases.push(`event is ${searchParams?.event_names.join(" or ")}`);
    }
    if (searchParams?.dates?.length == 2) {
      phrases.push(
        `event date is between ${new Date(searchParams?.dates[0]).toLocaleDateString()} and ${new Date(searchParams?.dates[1]).toLocaleDateString()}`
      );
    }
    if (searchParams?.transaction_names?.length > 0) {
      phrases.push(
        `transaction is ${searchParams?.transaction_names.join(" or ")}`
      );
    }
    if (searchParams.priceSelected) {
      phrases.push(
        `transaction amount is between $${searchParams?.prices[0]} and $${searchParams?.prices[1]}`
      );
    }
    phrases = phrases;
    if (phrases.length > 0) {
      lastPhrase = phrases.pop();
    } else {
      lastPhrase = null;
    }
  });
</script>

<p>
  {#if lastPhrase}
    Where
    {#if phrases.length > 0}
      {phrases.join(", ")} and
    {/if}
    {lastPhrase}:
  {/if}
</p>
