<script lang="ts">
  import type { Event } from "../types";

  interface Props {
    // The event being represented by this card
    event: Event;
    archivedEventsVisible: boolean;
  }

  let { event = $bindable(), archivedEventsVisible }: Props = $props();
  $effect(() => {
    event.visible = !event.isArchived || archivedEventsVisible;
  });

  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
</script>

<!-- If this event is archived, set it to -->
{#if event.visible}
  <div
    class="col-12 col-sm-6 p-3 {event.isArchived
      ? 'text-secondary archived'
      : ''}"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title name">{event.name}</h5>
        <div class="card-text">
          <ul>
            <li>
              <b>Date: </b>
              <span class="date">{event.date}</span>
            </li>
            <li>
              <b>Description: </b>
              <span class="description">{event.description}</span>
            </li>
            <li>
              <b>Cows: </b>
              <span class="cows">
                {event.cows?.map((cow) => cow.tag_number).join(", ") ||
                  ""}</span
              >
            </li>
            {#if event.transactions}
              <li>
                <b>Transactions: </b>
                <span class="transactions">
                  {event.transactions
                    ?.map((transaction) => transaction.name)
                    .join(", ") || ""}</span
                >
              </li>
              <li>
                <b>Price: </b>
                <span class="price"
                  >{formatter.format(
                    event.transactions.reduce((x, y) => {
                      return x + y.price;
                    }, 0)
                  ) || 0}
                </span>
              </li>
            {/if}
          </ul>
        </div>
        <a href="/events/event/{event.event_id}" class="btn btn-primary"
          >View Event</a
        >
      </div>
    </div>
  </div>
{/if}
