<script lang="ts">
  import type { Event } from "../types";
  import Card from "./Card.svelte";
  interface Props {
    events: Event[];
    archivedEventsVisible: boolean;
    handleSort: (event: any) => void;
    showSortOptions?: boolean;
  }

  let {
    events,
    archivedEventsVisible,
    handleSort,
    showSortOptions = false,
  }: Props = $props();
</script>

<div class="container-fluid d-block d-md-none">
  <br />
  {#if showSortOptions}
    <p class=" mr-auto d-inline">Sorting by:</p>
    <select class="form-control" id="cardSortSelect" onchange={handleSort}>
      <option data-field="date" selected value="date">Date</option>
      <option data-field="name" value="name">Name</option>
      <option data-field="description" value="description">Description</option>
      <option data-field="price" value="price">Price</option>
    </select>
  {/if}
  <div class="row" id="eventCards">
    {#each events as event, i}<Card
        bind:event={events[i]}
        {archivedEventsVisible}
      />{/each}
  </div>
</div>
