<script lang="ts">
  import { BarLoader } from "svelte-loading-spinners";
  import Row from "../general/Row.svelte";
  import { SelectionHelper } from "../helper/SelectionHelper.svelte";
  import type { Event } from "../types";
  interface Props {
    events: Event[];
    archivedEventsVisible: boolean;
    sortField: string;
    sortDirection: string;
    loadingFirstPage: boolean;
    handleSort: (event: any) => void;
  }

  let {
    events = $bindable(),
    archivedEventsVisible,
    sortField,
    sortDirection,
    loadingFirstPage,
    handleSort,
  }: Props = $props();

  let selectionHelper = new SelectionHelper((updatedEvents) => {
    events = updatedEvents;
  });
  $effect(() => {
    selectionHelper.setItems(events);
  });

  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
</script>

{#if loadingFirstPage}
  <div class="loader-wrapper">
    <BarLoader color="#007bff" duration="0.75s" size="75" />
  </div>
{:else}
  <table class="d-none d-md-table table sortable">
    <thead style="position: sticky;top: 50px" class="text-dark bg-light">
      <tr>
        <th class="nosort">
          <input
            type="checkbox"
            class="master-selector"
            checked={selectionHelper.getAllSelected()}
            onchange={() => {
              selectionHelper.masterToggle();
            }}
          />
        </th>
        <th
          onclick={handleSort}
          data-field="date"
          class="sort"
          class:sorted-asc={sortField == "date" && sortDirection == "asc"}
          class:sorted-desc={sortField == "date" && sortDirection == "desc"}
          >Date</th
        >
        <th
          onclick={handleSort}
          data-field="name"
          class="sort"
          class:sorted-asc={sortField == "name" && sortDirection == "asc"}
          class:sorted-desc={sortField == "name" && sortDirection == "desc"}
          >Name
        </th>
        <th
          onclick={handleSort}
          data-field="description"
          class="sort"
          class:sorted-asc={sortField == "description" &&
            sortDirection == "asc"}
          class:sorted-desc={sortField == "description" &&
            sortDirection == "desc"}
          >Description
        </th>
        <th>Cows </th>
        <th>Transactions </th>
        <th
          onclick={handleSort}
          data-field="price"
          class="sort"
          class:sorted-asc={sortField == "price" && sortDirection == "asc"}
          class:sorted-desc={sortField == "price" && sortDirection == "desc"}
          >Price
        </th>
      </tr>
    </thead>
    <tbody>
      {#each events as event, index}
        <Row
          item={{
            id: event.event_id.toString(),
            visible: !event.isArchived || archivedEventsVisible,
            selected: event.selected,
            isArchived: event.isArchived,
            columns: [
              event.date,
              event.name,
              event.description,
              event.cows?.map((cow) => cow.tag_number).join(", "),
              event.transactions
                ?.map((transaction) => transaction.name)
                .join(", "),
              formatter.format(
                event.transactions.reduce((x, y) => {
                  return x + y.price;
                }, 0)
              ) || 0,
            ],
            toggleSelection: () => {
              event.selected = !event.selected;
              selectionHelper.setLastSelectedIndex(index);
            },
            handleShiftSelect: () => {
              selectionHelper.handleShiftSelect(index);
            },
            onclick: () => {
              window.location.href = `/events/event/${event.event_id}`;
            },
          }}
        />
      {/each}
    </tbody>
  </table>
{/if}

<!-- This is just so Playwright can scroll to the bottom of the table -->
<div id="table-bottom"></div>

<style>
  .sort,
  .sorted-desc,
  .sorted-asc {
    cursor: pointer;
  }
  .sort:not(.sorted-asc):not(.sorted-desc)::after {
    content: " \25B4\25BE";
  }
  .sorted-asc::after {
    content: " \25B4";
  }
  .sorted-desc::after {
    content: " \25BE";
  }
  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }
</style>
