<script lang="ts">
  import MultiSelect from "svelte-multiselect/MultiSelect.svelte";
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import type { Event } from "../../types";
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
  interface Props {
    event: Event;
  }

  let { event }: Props = $props();

  let eventSexes = [...new Set(event.cows.map((cow) => cow.sex))];

  let price: number = $state();
  let name: string = $state();
  let tofrom: string = $state();
  let description: string = $state();

  let eventCowsNumbers = event.cows.map((cow) => {
    return cow.tag_number;
  });
  let selectedCowsNumbers = $state(eventCowsNumbers);

  async function submit() {
    const formData = new FormData();
    formData.append("event_id", event.event_id.toString());
    formData.append("name", name);
    formData.append("price", price.toString());
    formData.append("tofrom", tofrom);
    formData.append("description", description);

    for (let i = 0; i < selectedCowsNumbers.length; i++) {
      const selectedCow = selectedCowsNumbers[i];
      formData.append("cows", selectedCow);
    }

    const response = await fetch(`/transactions/add`, {
      method: "POST",
      body: formData,
    });

    if (response.status === 308 || response.status === 200) {
      window.location.reload();
    }
  }
</script>

<button class="m-2 btn btn-success" onclick={toggle}>Add Transaction</button>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Transaction</ModalHeader>
  <ModalBody
    ><form id="newTransactionForm" method="post" action="/transactions/add">
      <input type="text" name="event_id" hidden value={event.event_id} />
      <h5>Transaction Name</h5>
      <input type="text" name="name" class="form-control" bind:value={name} />
      <h5>Amount</h5>
      <small><i>Negative for expenses/Positive for income</i></small><br />
      <input
        type="number"
        step=".01"
        name="price"
        class="form-control"
        bind:value={price}
        class:text-success={price > 0}
        class:text-danger={price < 0}
      />
      <h5>To/From</h5>
      <input
        type="text"
        name="tofrom"
        bind:value={tofrom}
        class="form-control"
      />
      <h5>Cows</h5>
      {#if eventSexes.length > 1}
        {#each eventSexes as sex}
          <input
            class="d-md-inline-block"
            type="checkbox"
            id={sex}
            checked={true}
            onchange={(e) => {
              if (e.target.checked) {
                selectedCowsNumbers = [
                  ...selectedCowsNumbers,
                  ...eventCowsNumbers.filter(
                    (tagNumber) =>
                      !selectedCowsNumbers.includes(tagNumber) &&
                      event.cows.some(
                        (cow) => cow.tag_number === tagNumber && cow.sex === sex
                      )
                  ),
                ];
              } else {
                selectedCowsNumbers = selectedCowsNumbers.filter((tagNumber) =>
                  event.cows.some(
                    (cow) => cow.tag_number === tagNumber && cow.sex !== sex
                  )
                );
              }
            }}
          />
          <label class="d-inline-block mx-2 my-auto" for={sex}>{sex}s</label>
        {/each}
      {/if}
      <MultiSelect
        bind:selected={selectedCowsNumbers}
        options={eventCowsNumbers}
      />
      <h5>Additional Information</h5>
      <textarea name="description" bind:value={description} class="form-control"
      ></textarea>
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="button"
      onclick={submit}
      class="btn btn-primary"
      value="Add Transaction"
    />
  </ModalFooter>
</Modal>
