<script lang="ts">
  import {
    archiveTransactions,
    unarchiveTransactions,
    deleteTransactions,
  } from "../../helper/TransactionsHelper.svelte";
  import type { Transaction } from "../../types";
  interface Props {
    selectedTransactions: Transaction[];
    onTransactionUpdate: () => void;
  }

  let { selectedTransactions, onTransactionUpdate }: Props = $props();
  // Opt into tooltips for the bulk buttons
  //@ts-ignore
  const jq = window.$;
  $effect(() => {
    jq(function () {
      jq('[data-toggle="tooltip"]').tooltip();
    });
  });
</script>

<div class="btn-group" role="group" aria-label="Bulk Actions">
  {#if selectedTransactions.some((transaction) => !transaction.isArchived)}
    <button
      type="button"
      class="btn"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Archive Transactions"
      aria-label="Archive Transactions"
      onclick={() => {
        if (
          confirm(
            `Are you sure you want to archive ${selectedTransactions.length} transactions?`
          )
        ) {
          archiveTransactions(selectedTransactions);
          onTransactionUpdate();
        }
      }}><i class="bi bi-archive"></i></button
    >
  {/if}
  {#if selectedTransactions.some((transaction) => transaction.isArchived)}
    <button
      type="button"
      class="btn"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Unarchive Transactions"
      aria-label="Unarchive Transactions"
      onclick={() => {
        if (
          confirm(
            `Are you sure you want to unarchive ${selectedTransactions.length} transactions?`
          )
        ) {
          unarchiveTransactions(selectedTransactions);
          onTransactionUpdate();
        }
      }}><i class="bi bi-inbox"></i></button
    >
  {/if}
  <button
    type="button"
    class="btn"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Delete Transactions"
    aria-label="Delete Transactions"
    onclick={() => {
      if (
        confirm(
          `Are you sure you want to delete ${selectedTransactions.length} transactions?`
        )
      ) {
        deleteTransactions(selectedTransactions);
        onTransactionUpdate();
      }
    }}><i class="bi bi-trash"></i></button
  >
</div>
