<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  let { transaction_id, price, headerText, buttonText } = $props();
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };

  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
</script>

<button class="w-100 btn btn-primary" onclick={toggle}>
  <i class="bi bi-cash"></i>
  {buttonText}
</button>
<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>{headerText}</ModalHeader>
  <ModalBody>
    <form
      id="transactionChangePriceForm"
      method="POST"
      action="/transactions/change_price"
    >
      <input type="hidden" name="transaction_id" value={transaction_id} />
      <h5>New Amount</h5>
      <small
        ><i>Enter a negative number for expenses, postive for income</i></small
      >
      <input
        name="price"
        type="number"
        class="form-control"
        placeholder={formatter.format(price)}
        step=".01"
      />
    </form>
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="transactionChangePriceForm"
      class="btn btn-primary"
      value={buttonText}
    />
  </ModalFooter>
</Modal>
