<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  let { transaction_id, tofrom, headerText, buttonText } = $props();
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
</script>

<button class="w-100 btn btn-primary" onclick={toggle}>
  <i class="bi bi-arrow-left-right"></i>
  {buttonText}
</button>
<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>{headerText}</ModalHeader>
  <ModalBody>
    <form
      id="tofromChangeForm"
      method="POST"
      action="/transactions/change_to_from"
    >
      <input type="hidden" name="transaction_id" value={transaction_id} />
      <input name="tofrom" class="form-control" value={tofrom} />
    </form>
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="tofromChangeForm"
      class="btn btn-primary"
      value={buttonText}
    />
  </ModalFooter>
</Modal>
