<script lang="ts">
  //The transaction being represented by this card
  interface Props {
    transaction: any;
    archivedTransactionsVisible: any;
  }

  let { transaction = $bindable(), archivedTransactionsVisible }: Props =
    $props();
  $effect(() => {
    transaction.visible =
      !transaction.isArchived || archivedTransactionsVisible;
  });

  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
</script>

<!-- If this transaction is archived, set it to -->
{#if transaction.visible}
  <div
    class="col-12 col-sm-6 p-3 {transaction.isArchived
      ? 'text-secondary archived'
      : ''}"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title name">{transaction.name}</h5>
        <div class="card-text">
          <ul>
            <li>
              <b>Date: </b>
              <span class="date">{transaction.date}</span>
            </li>
            <li>
              <b>To/From: </b>
              <span class="tofrom">{transaction.tofrom}</span>
            </li>
            <li>
              <b>Description: </b>
              <span class="description">{transaction.description}</span>
            </li>
            <li>
              <b>Cows: </b>
              <span class="cows">
                {transaction.cows?.map((cow) => cow.tag_number).join(", ") ||
                  ""}</span
              >
            </li>
            {#if transaction.price}
              <li>
                <b>Price: </b>
                <span class="transactions">
                  {formatter.format(transaction.price)}</span
                >
              </li>
              <li>
                <b>Total: </b>
                <span class="price">
                  {#if transaction.cows}
                    {formatter.format(
                      transaction.price * transaction.cows.length
                    )}
                  {:else}
                    {formatter.format(transaction.price)}
                  {/if}
                </span>
              </li>
            {/if}
          </ul>
        </div>
        <a
          href="/transactions/transaction/{transaction.transaction_id}"
          class="btn btn-primary">View Transaction</a
        >
      </div>
    </div>
  </div>
{/if}
