<script lang="ts">
  import Card from "./Card.svelte";
  interface Props {
    transactions: any;
    archivedTransactionsVisible: any;
    handleSort: any;
    showSortOptions?: boolean;
  }

  let {
    transactions,
    archivedTransactionsVisible,
    handleSort,
    showSortOptions = false,
  }: Props = $props();
</script>

<div class="container-fluid d-block d-md-none">
  <br />
  {#if showSortOptions}
    <p class=" mr-auto d-inline">Sorting by:</p>
    <select class="form-control" id="cardSortSelect" onchange={handleSort}>
      <option data-field="date" selected value="date">Date</option>
      <option data-field="name" value="name">Name</option>
      <option data-field="tofrom" value="tofrom">To/From</option>
      <option data-field="description" value="description">Description</option>
      <option data-field="price" value="price">Price</option>
    </select>
  {/if}
  <div class="row" id="transactionCards">
    {#each transactions as transaction, i}<Card
        bind:transaction={transactions[i]}
        {archivedTransactionsVisible}
      />{/each}
  </div>
</div>
