<script lang="ts">
  import { BarLoader } from "svelte-loading-spinners";
  import Row from "../general/Row.svelte";
  import { SelectionHelper } from "../helper/SelectionHelper.svelte";
  let {
    transactions = $bindable(),
    archivedTransactionsVisible,
    sortField,
    sortDirection,
    loadingFirstPage,
    handleSort,
  } = $props();

  let selectionHelper = new SelectionHelper((updatedTransactions) => {
    transactions = updatedTransactions;
  });
  $effect(() => {
    selectionHelper.setItems(transactions);
  });

  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
</script>

{#if loadingFirstPage}
  <div class="loader-wrapper">
    <BarLoader color="#007bff" duration="0.75s" size="75" />
  </div>
{:else}
  <table class="d-none d-md-table table sortable">
    <thead style="position: sticky;top: 23px" class="text-dark bg-light">
      <tr>
        <th class="nosort">
          <input
            type="checkbox"
            class="master-selector"
            checked={selectionHelper.getAllSelected()}
            onchange={selectionHelper.masterToggle}
          />
        </th>
        <th
          onclick={handleSort}
          data-field="date"
          class="sort"
          class:sorted-asc={sortField == "date" && sortDirection == "asc"}
          class:sorted-desc={sortField == "date" && sortDirection == "desc"}
          >Date</th
        >
        <th
          onclick={handleSort}
          data-field="tofrom"
          class="sort"
          class:sorted-asc={sortField == "tofrom" && sortDirection == "asc"}
          class:sorted-desc={sortField == "tofrom" && sortDirection == "desc"}
          >To/From
        </th>
        <th
          onclick={handleSort}
          data-field="name"
          class="sort"
          class:sorted-asc={sortField == "name" && sortDirection == "asc"}
          class:sorted-desc={sortField == "name" && sortDirection == "desc"}
          >Name
        </th>
        <th
          onclick={handleSort}
          data-field="description"
          class="sort"
          class:sorted-asc={sortField == "description" &&
            sortDirection == "asc"}
          class:sorted-desc={sortField == "description" &&
            sortDirection == "desc"}
          >Description
        </th>
        <th>Cows </th>
        <th
          onclick={handleSort}
          data-field="price"
          class="sort"
          class:sorted-asc={sortField == "price" && sortDirection == "asc"}
          class:sorted-desc={sortField == "price" && sortDirection == "desc"}
          >Price/head
        </th>
        <th>Price(total) </th>
      </tr>
    </thead>
    <tbody>
      {#each transactions as transaction, index}
        <Row
          item={{
            id: transaction.transaction_id,
            visible: !transaction.isArchived || archivedTransactionsVisible,
            selected: transaction.selected,
            isArchived: transaction.isArchived,
            columns: [
              transaction.event.date,
              transaction.tofrom,
              transaction.name,
              transaction.description,
              transaction.cows?.map((cow) => cow.tag_number).join(", "),
              formatter.format(transaction.price),
              formatter.format(transaction.price * transaction.cows.length),
            ],
            onclick: () => {
              window.location.href = `/transactions/transaction/${transaction.transaction_id}`;
            },
            toggleSelection: () => {
              transaction.selected = !transaction.selected;
              selectionHelper.setLastSelectedIndex(index);
            },
            handleShiftSelect: () => {
              selectionHelper.handleShiftSelect(index);
            },
          }}
        />
      {/each}
    </tbody>
  </table>
{/if}

<style>
  .sort,
  .sorted-desc,
  .sorted-asc {
    cursor: pointer;
  }
  .sort:not(.sorted-asc):not(.sorted-desc)::after {
    content: " \25B4\25BE";
  }
  .sorted-asc::after {
    content: " \25B4";
  }
  .sorted-desc::after {
    content: " \25BE";
  }
  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }
</style>
