<script lang="ts">
  import Card from "./Card.svelte";
  import type { Cow } from "../types";
  interface Props {
    cows: Cow[];
    archivedCowsVisible: boolean;
    handleSort: (event: any) => void;
    showSortOptions?: boolean;
  }

  let {
    cows,
    archivedCowsVisible,
    handleSort,
    showSortOptions = true,
  }: Props = $props();
</script>

<div class="container-fluid d-block d-md-none">
  <br />
  {#if showSortOptions}
    <p class=" mr-auto d-inline">Sorting by:</p>
    <select
      class="form-control"
      id="cardSortSelect"
      onchange={() => {
        handleSort;
      }}
    >
      <option data-field="tag_number" selected value="tag-number"
        >Tag Number</option
      >
      <option data-field="birthdate" value="birthdate">Birthdate</option>
      <option data-field="owner" value="owner">Owner</option>
      <option data-field="sex" value="sex">Sex</option>
      <!--<option value="dam">Dam</option>-->
      <!--<option value="sire">Sire</option>-->
      <!--<option value="calves">Calves</option>-->
      <option data-field="description" value="description">Notes</option>
    </select>
  {/if}
  <div class="row" id="cowCards">
    {#each cows as cow, i}<Card
        bind:cow={cows[i]}
        {archivedCowsVisible}
      />{/each}
  </div>
</div>
