<script lang="ts">
  import type { Cow } from "../types";

  interface Props {
    // The cow being represented by this card
    cow: Cow;
    // The cow being represented by this card
    archivedCowsVisible: boolean;
  }

  let { cow = $bindable(), archivedCowsVisible }: Props = $props();
  $effect(() => {
    cow.visible = !cow.isArchived || archivedCowsVisible;
  });
</script>

<!-- If this cow is archived, set it to -->
{#if cow.visible}
  <div
    class="col-12 col-sm-6 p-3 {cow.isArchived
      ? 'text-secondary archived'
      : ''}"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title tag-number">{cow.tag_number}</h5>
        <div class="card-text">
          <ul>
            {#if cow.birthdate}
              <li>
                <b>Born: </b>
                <span class="birthdate">{cow.birthdate}</span>
              </li>
            {/if}
            <li>
              <b>Owner: </b>
              <span class="owner">{cow.owner}</span>
            </li>
            <li>
              <b>Sex: </b>
              <span class="sex">{cow.sex}</span>
            </li>
            {#if cow.dam}
              <li>
                <b>Dam: </b>
                <span class="dam">{cow.dam.tag_number}</span>
              </li>
            {/if}
            {#if cow.sire}
              <li>
                <b>Sire: </b>
                <span class="sire">{cow.sire.tag_number}</span>
              </li>
            {/if}
            {#if cow.calves}
              <li>
                <b>Calves: </b>
                <span class="calves">
                  {cow.calves.map((calf) => calf.tag_number).join(", ")}
                </span>
              </li>
            {/if}
            {#if cow.description}
              <li>
                <b>Notes: </b>
                <span class="description">
                  {cow.description}
                </span>
              </li>
            {/if}
          </ul>
        </div>
        <a href="/cows/cow/{cow.tag_number}" class="btn btn-primary">View Cow</a
        >
      </div>
    </div>
  </div>
{/if}
