<script lang="ts">
  import { BarLoader } from "svelte-loading-spinners";
  import { SelectionHelper } from "../helper/SelectionHelper.svelte";
  import Row from "../general/Row.svelte";
  import {
    handleSort,
    getSortField,
    getSortDirection,
    getArchivedCowsVisible,
    getCows,
    getLoadingFirstPage,
  } from "../helper/CowsHelper.svelte";
  import type { Cow } from "../types";

  let selectionHelper = new SelectionHelper((updatedCows: Cow[]) => {
    setCows(updatedCows);
  });
  $effect(() => {
    selectionHelper.setItems(getCows());
  });
</script>

{#if getLoadingFirstPage()}
  <div class="loader-wrapper">
    <BarLoader color="#007bff" duration="0.75s" size="75" />
  </div>
{:else}
  <table class="d-none d-md-table table">
    <thead style="position: sticky;top: 50px" class="text-dark bg-light">
      <tr>
        <th class="nosort">
          <input
            type="checkbox"
            class="master-selector"
            checked={selectionHelper.getAllSelected()}
            onchange={() => {
              selectionHelper.masterToggle();
            }}
          />
        </th>
        <th
          onclick={handleSort}
          data-field="tag_number"
          class="sort"
          class:sorted-asc={getSortField() == "tag_number" &&
            getSortDirection() == "asc"}
          class:sorted-desc={getSortField() == "tag_number" &&
            getSortDirection() == "desc"}>Cow</th
        >
        <th
          onclick={handleSort}
          data-field="birthdate"
          class="sort"
          class:sorted-asc={getSortField() == "birthdate" &&
            getSortDirection() == "asc"}
          class:sorted-desc={getSortField() == "birthdate" &&
            getSortDirection() == "desc"}
          >Born
        </th>
        <th
          onclick={handleSort}
          data-field="owner"
          class="sort"
          class:sorted-asc={getSortField() == "owner" &&
            getSortDirection() == "asc"}
          class:sorted-desc={getSortField() == "owner" &&
            getSortDirection() == "desc"}
          >Owner
        </th>
        <th
          onclick={handleSort}
          data-field="sex"
          class="sort"
          class:sorted-asc={getSortField() == "sex" &&
            getSortDirection() == "asc"}
          class:sorted-desc={getSortField() == "sex" &&
            getSortDirection() == "desc"}>Sex</th
        >
        <th>Dam </th>
        <th>Sire </th>
        <th>Calves </th>
        <th
          onclick={handleSort}
          data-field="description"
          class="sort"
          class:sorted-asc={getSortField() == "description" &&
            getSortDirection() == "asc"}
          class:sorted-desc={getSortField() == "description" &&
            getSortDirection() == "desc"}
          >Notes
        </th>
      </tr>
    </thead>
    <tbody>
      {#each getCows() as cow, index}
        <Row
          item={{
            id: cow.tag_number,
            visible: !cow.isArchived || getArchivedCowsVisible(),
            selected: cow.selected,
            isArchived: cow.isArchived,
            columns: [
              cow.tag_number,
              cow.birthdate,
              cow.owner,
              cow.sex,
              cow?.dam?.tag_number,
              cow?.sire?.tag_number,
              cow.calves?.map((calf) => calf.tag_number).join(", "),
              cow.description,
            ],
            toggleSelection: () => {
              cow.selected = !cow.selected;
              selectionHelper.setLastSelectedIndex(index);
            },
            onclick: () => {
              window.location.href = `/cows/cow/${cow.tag_number}`;
            },
            handleShiftSelect: () => {
              selectionHelper.handleShiftSelect(index);
            },
          }}
        />
      {/each}
    </tbody>
  </table>
{/if}

<!-- This is just so Playwright can scroll to the bottom of the table -->
<div id="table-bottom"></div>

<style>
  .sort,
  .sorted-desc,
  .sorted-asc {
    cursor: pointer;
  }
  .sort:not(.sorted-asc):not(.sorted-desc)::after {
    content: " \25B4\25BE";
  }
  .sorted-asc::after {
    content: " \25B4";
  }
  .sorted-desc::after {
    content: " \25BE";
  }
  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }
</style>
