This package contains a modified version of ca-bundle.crt:
<br>

<br>
ca-bundle.crt -- Bundle of CA Root Certificates
<br>

<br>
Certificate data from Mozilla as of: Thu Nov 3 19:04:19 2011#
<br>
This is a bundle of X.509 certificates of public Certificate Authorities
<br>
(CA). These were automatically extracted from Mozilla's root certificates
<br>
file (certdata.txt). This file can be found in the mozilla source tree:
<br>
https://hg.mozilla.org/mozilla-central/file/tip/security/nss/lib/ckfw/builtins/certdata.txt
<br>
It contains the certificates in PEM format and therefore
<br>
can be directly used with curl / libcurl / php_curl, or with
<br>
an Apache+mod_ssl webserver for SSL client authentication.
<br>
Just configure this file as the SSLCACertificateFile.#
<br>

<br>
***** BEGIN LICENSE BLOCK *****
<br>
This Source Code Form is subject to the terms of the Mozilla Public License,
<br>
v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain
<br>
one at http://mozilla.org/MPL/2.0/.
<br>

<br>
***** END LICENSE BLOCK *****
<br>
@(#) $RCSfile: certdata.txt,v $ $Revision: 1.80 $ $Date: 2011/11/03 15:11:58 $