Zope Public License (ZPL) Version 2.1
<br>

<br>
A copyright notice accompanies this license document that identifies the
<br>
copyright holders.
<br>

<br>
This license has been certified as open source. It has also been designated as
<br>
GPL compatible by the Free Software Foundation (FSF).
<br>

<br>
Redistribution and use in source and binary forms, with or without
<br>
modification, are permitted provided that the following conditions are met:
<br>

<br>
1. Redistributions in source code must retain the accompanying copyright
<br>
notice, this list of conditions, and the following disclaimer.
<br>

<br>
2. Redistributions in binary form must reproduce the accompanying copyright
<br>
notice, this list of conditions, and the following disclaimer in the
<br>
documentation and/or other materials provided with the distribution.
<br>

<br>
3. Names of the copyright holders must not be used to endorse or promote
<br>
products derived from this software without prior written permission from the
<br>
copyright holders.
<br>

<br>
4. The right to distribute this software or to use it for any purpose does not
<br>
give you the right to use Servicemarks (sm) or Trademarks (tm) of the
<br>
copyright
<br>
holders. Use of them is covered by separate agreement with the copyright
<br>
holders.
<br>

<br>
5. If any files are modified, you must cause the modified files to carry
<br>
prominent notices stating that you changed the files and the date of any
<br>
change.
<br>

<br>
Disclaimer
<br>

<br>
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS ``AS IS'' AND ANY EXPRESSED
<br>
OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
<br>
OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
<br>
EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY DIRECT, INDIRECT,
<br>
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
<br>
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
<br>
PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
<br>
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
<br>
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
<br>
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.