TATSU - A PEG/Packrat parser generator for Python
<br>

<br>
Copyright (C) 2017-2022 Juancarlo Añez
<br>
All rights reserved.
<br>

<br>
Redistribution and use in source and binary forms, with or without
<br>
modification, are permitted provided that the following conditions
<br>
are met:
<br>

<br>
1. Redistributions of source code must retain the above copyright
<br>
notice, this list of conditions and the following disclaimer.
<br>

<br>
2. Redistributions in binary form must reproduce the above copyright
<br>
notice, this list of conditions and the following disclaimer in
<br>
the documentation and/or other materials provided with the
<br>
distribution.
<br>

<br>
3. Neither the name of the copyright holder nor the names of its
<br>
contributors may be used to endorse or promote products derived
<br>
from this software without specific prior written permission.
<br>

<br>
4. Redistributions of any form whatsoever must retain the following
<br>
acknowledgment: 'This product includes software developed by
<br>
"Juancarlo Añez" (https://apalala.bitbucket.io).'
<br>

<br>
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
<br>
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
<br>
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
<br>
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
<br>
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
<br>
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
<br>
TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
<br>
PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
<br>
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
<br>
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
<br>
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.