<script lang="ts">
  import AddParentModal from "../modals/AddParentModal.svelte";
  import type { Cow } from "../../types";
  interface Props {
    cow: Cow;
  }

  let { cow }: Props = $props();

  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
</script>

<button class="w-100 btn btn-success" onclick={toggle}>
  {#if cow.dam && cow.sire}
    <i class="bi bi-people"></i>
    Modify Parent
  {:else if (cow.dam && !cow.sire) || (!cow.dam && cow.sire)}
    <i class="bi bi-people"></i>
    Add/Modify Parent
  {:else}
    <i class="bi bi-person-plus"></i>
    Add Parent
  {/if}
</button>
<AddParentModal bind:isOpen {cow} {toggle} />
