<script lang="ts">
  import AddToExistingEventModal from "../modals/AddToExistingEventModal.svelte";
  interface Props {
    tag_number: string;
  }

  let { tag_number }: Props = $props();

  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
</script>

<button class="m-2 btn btn-success" onclick={toggle}>
  <i class="bi bi-calendar-date"></i>
  Add to Existing Event
</button>
<AddToExistingEventModal bind:isOpen {toggle} {tag_number} />
