<script lang="ts">
  import {
    archiveCows,
    deleteCows,
    unarchiveCows,
  } from "../../helper/CowsHelper.svelte";
  import BulkAddCowsToEventModal from "../modals/BulkAddCowsToEventModal.svelte.svelte";
  import BulkAddEventWithCows from "../modals/BulkAddEventWithCows.svelte";
  import BulkTransferOwnershipModal from "../modals/BulkTransferOwnershipModal.svelte";
  import type { Cow } from "../../types";
  interface Props {
    selectedCows: Cow[];
  }

  let { selectedCows }: Props = $props();

  // Opt into tooltips for the bulk buttons
  //@ts-ignore
  const jq = window.$;

  jq(function () {
    jq('[data-toggle="tooltip"]').tooltip();
  });

  let transferModalVisible = $state(false);
  let toggleTransferModal = () => {
    transferModalVisible = !transferModalVisible;
  };
  let eventCreationModalVisibile = $state(false);
  let toggleEventCreationModal = () => {
    eventCreationModalVisibile = !eventCreationModalVisibile;
  };
  let eventSelectorModalVisible = $state(false);
  let toggleEventSelectorModal = () => {
    eventSelectorModalVisible = !eventSelectorModalVisible;
  };
</script>

<BulkTransferOwnershipModal
  isOpen={transferModalVisible}
  toggle={toggleTransferModal}
  cows={selectedCows}
/>
<BulkAddCowsToEventModal
  isOpen={eventSelectorModalVisible}
  toggle={toggleEventSelectorModal}
  cows={selectedCows}
/>
<BulkAddEventWithCows
  isOpen={eventCreationModalVisibile}
  toggle={toggleEventCreationModal}
  cows={selectedCows}
/>
<div class="btn-group" role="group" aria-label="Bulk Actions">
  <button
    type="button"
    class="btn"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Transfer Cows"
    aria-label="Transfer Cows"
    onclick={toggleTransferModal}><i class="bi bi-arrow-left-right"></i></button
  >
  <button
    type="button"
    class="btn"
    data-toggle="tooltip"
    data-placement="bottom"
    title="New Event"
    aria-label="New Event"
    onclick={toggleEventCreationModal}><i class="bi bi-calendar"></i></button
  >
  <button
    type="button"
    class="btn"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Add to Existing Event"
    aria-label="Add to Existing Event"
    onclick={toggleEventSelectorModal}
    ><i class="bi bi-calendar-date"></i></button
  >
  {#if selectedCows.some((cow) => !cow.isArchived)}
    <button
      type="button"
      class="btn"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Archive Cows"
      aria-label="Archive Cows"
      onclick={() => {
        if (
          confirm(
            `Are you sure you want to archive ${selectedCows.length} cows?`
          )
        ) {
          archiveCows(selectedCows);
        }
      }}><i class="bi bi-archive"></i></button
    >
  {/if}
  {#if selectedCows.some((cow) => cow.isArchived)}
    <button
      type="button"
      class="btn"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Unarchive Cows"
      aria-label="Unarchive Cows"
      onclick={() => {
        if (
          confirm(
            `Are you sure you want to unarchive ${selectedCows.length} cows?`
          )
        ) {
          unarchiveCows(selectedCows);
        }
      }}><i class="bi bi-inbox"></i></button
    >
  {/if}
  <button
    type="button"
    class="btn"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Delete Cows"
    aria-label="Delete Cows"
    onclick={() => {
      if (
        confirm(`Are you sure you want to delete ${selectedCows.length} cows?`)
      ) {
        deleteCows(selectedCows);
      }
    }}><i class="bi bi-trash"></i></button
  >
</div>
