<script lang="ts">
  import ChangeTagNumberModal from "../modals/ChangeTagNumberModal.svelte";
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
  interface Props {
    tag_number: string;
  }

  let { tag_number }: Props = $props();
</script>

<button class="w-100 btn btn-secondary" onclick={toggle}>
  <i class="bi bi-arrow-left-right"></i>
  Change Tag Number
</button>
<ChangeTagNumberModal {isOpen} {toggle} {tag_number} />
