<script lang="ts">
  import ChangeSexModal from "../modals/ChangeSexModal.svelte";
  import { isFemale } from "../../Sexes";
  interface Props {
    tag_number: string;
    sex: string;
  }

  let { tag_number, sex }: Props = $props();

  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
</script>

<button class="w-100 btn btn-secondary" onclick={toggle}>
  {#if isFemale(sex)}
    <i class="bi bi-gender-female"></i>
  {:else}
    <i class="bi bi-gender-male"></i>
  {/if}
  Change Sex
</button>

<ChangeSexModal bind:isOpen {toggle} {tag_number} />
