<script lang="ts">
  import DeathLossModal from "../modals/DeathLossModal.svelte";
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
  interface Props {
    tag_number: string;
  }

  let { tag_number }: Props = $props();
</script>

<button class="w-100 btn btn-warning" onclick={toggle}>
  <i class="bi bi-clipboard2-x-fill"></i>
  Death Loss
</button>
<DeathLossModal {isOpen} {toggle} {tag_number} />
