<script lang="ts">
  import TransferOwnershipModal from "../modals/TransferOwnershipModal.svelte";
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
  interface Props {
    tag_number: string;
  }

  let { tag_number }: Props = $props();
</script>

<button class="w-100 btn btn-primary" onclick={toggle}>
  <i class="bi bi-calendar-date"></i>
  Transfer Ownership
</button>
<TransferOwnershipModal {isOpen} {toggle} {tag_number} />
