<script lang="ts">
  import { onMount } from "svelte";
  import Cards from "../../cows/Cards.svelte";
  import Row from "../Row.svelte";
  import { SelectionHelper } from "../../helper/SelectionHelper.svelte";
  import BulkButtons from "../../cow/buttons/BulkButtons.svelte";
  let { cows, showDam, showSire, headerButtons, footerButtons } = $props();
  let reactiveCows = $state(cows);
  cows = reactiveCows;

  let table = $state();
  let selectionHelper = new SelectionHelper((updatedCows: Cow[]) => {
    cows = updatedCows;
  });
  $effect(() => {
    selectionHelper.setItems(cows);
  });
  // Show the bulk buttons if at least one cow is selected
  let bulk_buttons_visible = $derived(cows.some((cow) => cow.selected));

  onMount(() => {
    //@ts-ignore
    sorttable.init();
    //@ts-ignore
    sorttable.makeSortable(table);
  });
</script>

<div
  class="tab-pane fade show active"
  id="cows"
  role="tabpanel"
  aria-labelledby="cows-tab"
>
  <div class="container-fluid">
    <div class="row">
      {@render headerButtons?.()}
      {#if bulk_buttons_visible}
        <div class="ml-auto my-auto" id="bulk-button-group-wrapper">
          <BulkButtons selectedCows={cows.filter((cow) => cow.selected)} />
        </div>{/if}
    </div>
  </div>

  <table class="d-none d-md-table w-100 table sortable" bind:this={table}>
    <thead>
      <tr>
        <th class="sorttable_nosort">
          <input
            type="checkbox"
            class="master-selector"
            checked={selectionHelper.getAllSelected()}
            onchange={() => {
              selectionHelper.masterToggle();
            }}
          />
        </th>
        <th>Tag</th>
        <th>Born</th>
        <th>Owner</th>
        <th>Sex</th>
        {#if showSire}
          <th> Sire </th>
        {/if}
        {#if showDam}
          <th> Dam </th>
        {/if}
        <th>Calves</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {#each cows as cow, index}
        <Row
          item={{
            id: cow.tag_number,
            visible: true,
            selected: cow.selected,
            isArchived: cow.isArchived,
            columns: [
              cow.tag_number,
              cow.birthdate,
              cow.owner,
              cow.sex,
              ...(showSire ? [cow.sire?.tag_number] : []),
              ...(showDam ? [cow.dam?.tag_number] : []),
              cow.calves?.map((calf) => calf.tag_number).join(", "),
              cow.description,
            ],
            toggleSelection: () => {
              cow.selected = !cow.selected;
              selectionHelper.setLastSelectedIndex(index);
            },
            onclick: () => {
              window.location.href = `/cows/cow/${cow.tag_number}`;
            },
            handleShiftSelect: () => {
              selectionHelper.handleShiftSelect(index);
            },
          }}
        />
      {/each}
    </tbody>
  </table>

  <Cards
    {cows}
    archivedCowsVisible={true}
    handleSort={() => {}}
    showSortOptions={false}
  />
  {@render footerButtons?.()}
</div>

<style>
  table.sortable
    th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(
      .sorttable_nosort
    ):after {
    content: " \25B4\25BE";
  }
</style>
