<script lang="ts">
  import { onMount } from "svelte";
  import Cards from "../../events/Cards.svelte";
  import { SelectionHelper } from "../../helper/SelectionHelper.svelte";
  import {
    archiveEvents,
    unarchiveEvents,
    deleteEvents,
  } from "../../helper/EventsHelper.svelte";
  import Row from "../Row.svelte";
  import BulkButtons from "../../event/buttons/BulkButtons.svelte";
  let { events = $bindable(), headerButtons } = $props();

  let reactiveEvents = $state(events);
  events = reactiveEvents;

  events = events.sort((a, b) => a.date > b.date);

  let selectionHelper = new SelectionHelper((updatedCows) => {
    events = updatedCows;
  });
  $effect(() => {
    selectionHelper.setItems(events);
  });

  let table = $state();
  onMount(() => {
    //sorttable.init();
    //@ts-ignore
    sorttable.makeSortable(table);
  });

  // Show the bulk buttons if at least one cow is selected
  let bulk_buttons_visible = $state();
  $effect(() => {
    bulk_buttons_visible = events.some((events) => events.selected);
  });

  // Opt into tooltips for the bulk buttons
  //@ts-ignore
  const jq = window.$;
  $effect(() => {
    bulk_buttons_visible &&
      jq(function () {
        jq('[data-toggle="tooltip"]').tooltip();
      });
  });
</script>

<div
  class="tab-pane fade show"
  id="events"
  role="tabpanel"
  aria-labelledby="events-tab"
>
  <div class="container-fluid">
    <div class="row">
      {@render headerButtons?.()}
      {#if bulk_buttons_visible}
        <div class="my-auto" id="bulk-button-group-wrapper">
          <BulkButtons
            selectedEvents={events.filter((event) => event.selected)}
            onEventUpdate={() => {
              events = events;
            }}
          />
        </div>
      {/if}
    </div>
  </div>
  <table class="d-none d-md-table table sortable" bind:this={table}>
    <thead>
      <tr>
        <th class="sorttable_nosort">
          <input
            type="checkbox"
            class="master-selector"
            checked={selectionHelper.getAllSelected()}
            onchange={() => {
              selectionHelper.masterToggle();
            }}
          />
        </th>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {#each events as event, index}
        <Row
          item={{
            id: event.event_id,
            visible: true,
            selected: event.selected,
            isArchived: event.isArchived,
            columns: [event.date, event.name, event.description],
            toggleSelection: () => {
              event.selected = !event.selected;
              selectionHelper.setLastSelectedIndex(index);
            },
            handleShiftSelect: () => {
              selectionHelper.handleShiftSelect(index);
            },
            onclick: () => {
              window.location.href = `/events/event/${event.event_id}`;
            },
          }}
        />
      {/each}
    </tbody>
  </table>

  <Cards
    {events}
    archivedEventsVisible={true}
    handleSort={() => {}}
    showSortOptions={false}
  />
</div>

<style>
  table.sortable
    th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(
      .sorttable_nosort
    ):after {
    content: " \25B4\25BE";
  }
</style>
