<!-- @migration-task Error while migrating Svelte code: `<td>` is invalid inside `<tfoot>` -->
<script lang="ts">
  import { run } from 'svelte/legacy';

  import { onMount } from "svelte";
  import { SelectionHelper } from "../../helper/SelectionHelper.svelte";
  import {
    archiveTransactions,
    unarchiveTransactions,
    deleteTransactions,
  } from "../../helper/TransactionsHelper.svelte";
  import Row from "../Row.svelte";
  import Cards from "../../transactions/Cards.svelte";
  import BulkButtons from "../../transaction/buttons/BulkButtons.svelte";

  let { transactions = $bindable(), includeDate, headerButtons } = $props();

  let reactiveTransactions = $state(transactions);
  transactions = reactiveTransactions;

  let profitLossClasses = $state("");

  let selectionHelper = new SelectionHelper((updatedTransactions) => {
    transactions = updatedTransactions;
  });
  run(() => {
    selectionHelper.setItems(transactions);
  });

  run(() => {
    if (transactions.price > 0) {
      profitLossClasses = "text-success";
    } else {
      profitLossClasses = "text-danger";
    }
  });

  let transactionTotal = $state(0);
  run(() => {
    transactionTotal = transactions.reduce((sum, current) => {
      return sum + current.price;
    }, 0);
  });
  let table = $state();
  onMount(() => {
    //sorttable.init();
    //@ts-ignore
    sorttable.makeSortable(table);
  });

  // Show the bulk buttons if at least one cow is selected
  let bulk_buttons_visible = $state();
  run(() => {
    bulk_buttons_visible = transactions.some(
      (transactions) => transactions.selected
    );
  });

  // Opt into tooltips for the bulk buttons
  //@ts-ignore
  const jq = window.$;
  run(() => {
    bulk_buttons_visible &&
      jq(function () {
        jq('[data-toggle="tooltip"]').tooltip();
      });
  });

  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
</script>

<div
  class="tab-pane fade show"
  id="transactions"
  role="tabpanel"
  aria-labelledby="transactions"
>
  <div class="container-fluid">
    <div class="row">
      {@render headerButtons?.()}
      {#if bulk_buttons_visible}
        <div class="my-auto" id="bulk-button-group-wrapper">
          <BulkButtons
            selectedTransactions={transactions.filter(
              (transaction) => transaction.selected
            )}
            onTransactionUpdate={() => {
              transactions = transactions;
            }}
          />
        </div>
      {/if}
    </div>
  </div>
  <table class="d-none d-md-table table sortable" bind:this={table}>
    <thead>
      <tr>
        <th class="sorttable_nosort">
          <input
            type="checkbox"
            class="master-selector"
            checked={selectionHelper.getAllSelected()}
            onchange={() => {
              selectionHelper.masterToggle();
            }}
          />
        </th>
        {#if includeDate}
          <th>Date</th>
        {/if}
        <th>To/From</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {#each transactions as transaction, index}
        <Row
          item={{
            id: transaction.transaction_id,
            visible: true,
            selected: transaction.selected,
            isArchived: transaction.isArchived,
            columns: [
              ...(includeDate ? [transaction.event.date] : []),
              transaction.tofrom,
              transaction.name,
              transaction.description,
              formatter.format(transaction.price),
            ],
            onclick: () => {
              window.location.href = `/transactions/transaction/${transaction.transaction_id}`;
            },
            toggleSelection: () => {
              transaction.selected = !transaction.selected;
              selectionHelper.setLastSelectedIndex(index);
            },
            handleShiftSelect: () => {
              selectionHelper.handleShiftSelect(index);
            },
          }}
        />
      {/each}
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        {#if includeDate}<td></td>{/if}
        <td></td>
        <td></td>
        <td></td>
        <td>{formatter.format(transactionTotal)}</td>
      </tr>
    </tfoot>
  </table>
  <Cards
    {transactions}
    archivedTransactionsVisible={false}
    handleSort={() => {}}
    showSortOptions={false}
  />
</div>

<style>
  table.sortable
    th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(
      .sorttable_nosort
    ):after {
    content: " \25B4\25BE";
  }
</style>
