<script lang="ts">
  import { onMount } from "svelte";
  import { DataSet, Network } from "vis-network/standalone";
  let element = $state();
  let { tag_number } = $props();
  async function fetchData() {
    try {
      const response = await fetch(`/cows/tree/${tag_number}`);
      const { nodes, edges } = await response.json();
      return { nodes, edges };
    } catch (error) {
      console.error("Error fetching data:", error);
      return null;
    }
  }

  const options = {
    physics: {
      hierarchicalRepulsion: {
        centralGravity: 0.3,
        springLength: 100,
        springConstant: 0.01,
        nodeDistance: 80,
        damping: 0.09,
        avoidOverlap: 1,
      },
    },
    nodes: {
      font: { size: 32 },
      shape: "box",
      scaling: {
        label: true,
      },
    },
    edges: {
      arrows: "to",
      smooth: {
        type: "cubicBezier", //'dynamic', 'continuous', 'discrete', 'diagonalCross', 'straightCross', 'horizontal', 'vertical', 'curvedCW', 'curvedCCW', 'cubicBezier'
        forceDirection: "vertical",
      },
    },
    layout: {
      hierarchical: {
        enabled: true,
        levelSeparation: 400,
        nodeSpacing: 400,
        treeSpacing: 100,
        blockShifting: true,
        edgeMinimization: true,
        parentCentralization: true,
        direction: "UD", // UD, DU, LR, RL
        sortMethod: "directed", // hubsize, directed
        shakeTowards: "roots", // roots, leaves
      },
    },
  };

  onMount(async () => {
    let fetchedData = await fetchData();

    // Create vis.js Dataset
    const nodes = new DataSet(
      fetchedData.nodes.map((node) => ({
        id: node,
        label: node,
        chosen: node === tag_number,
      }))
    );
    const edges = new DataSet(
      fetchedData.edges.map((edge) => ({ from: edge.from, to: edge.to }))
    );

    let data = {
      nodes: nodes,
      edges: edges,
    };

    let observer = new IntersectionObserver(() => {
      const network = new Network(element, data, options);
      network.on("click", (event) => {
        if (event.nodes.length == 1) {
          window.location.href = `/cows/cow/${event.nodes[0]}?tab=tree`;
        }
      });
      network.focus(tag_number);
      network.fit();
    });
    observer.observe(element);
  });
</script>

<div
  class="tab-pane fade show"
  id="tree"
  role="tabpanel"
  aria-labelledby="tree"
>
  <div class="container-fluid">
    <div bind:this={element} class="graph"></div>
  </div>
</div>

<style>
  .graph {
    width: 100%;
    height: 80vh;
  }
</style>
