<script lang="ts">
  import MultiSelect from "svelte-multiselect";
  import { onMount } from "svelte";
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import type { Cow } from "../../types";
  interface Props {
    event_id: number;
    selectedCows: Cow[];
  }

  let { event_id, selectedCows }: Props = $props();
  let selectedCowsNumbers = $state(
    selectedCows.map((cow) => {
      return cow.tag_number;
    })
  );

  let allCows: Cow[] = [];
  let allCowsNumbers: string[] = $state();

  onMount(async () => {
    const response = await fetch("/api/cows/get_list");
    allCows = await response.json();
    allCowsNumbers = allCows.map((cow) => {
      return cow.tag_number;
    });
  });
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
  async function submit() {
    const formData = new FormData();
    formData.append("event_id", event_id.toString());
    for (let i = 0; i < selectedCowsNumbers.length; i++) {
      const selectedCow = selectedCowsNumbers[i];
      formData.append("all_cows", selectedCow);
    }
    const response = await fetch(`/events/update_cows`, {
      method: "POST",
      body: formData,
    });
    if (response.status === 308 || response.status === 200) {
      window.location.reload();
    }
  }
</script>

<button class="m-2 btn btn-success" onclick={toggle}>
  <i class="bi bi-plus-slash-minus"></i>
  Add/Remove Cows
</button>
<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add/Remove Cows</ModalHeader>
  <ModalBody>
    <MultiSelect bind:selected={selectedCowsNumbers} options={allCowsNumbers} />
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <button class="btn btn-primary" onclick={submit}>Add/Remove Cows</button>
  </ModalFooter>
</Modal>
