<script lang="ts">
  import {
    archiveEvents,
    unarchiveEvents,
    deleteEvents,
  } from "../../helper/EventsHelper.svelte";
  import type { Event } from "../../types";

  interface Props {
    selectedEvents: Event[];
    onEventUpdate: () => void;
  }

  let { selectedEvents, onEventUpdate }: Props = $props();
</script>

<div class="btn-group" role="group" aria-label="Bulk Actions">
  {#if selectedEvents.some((event) => !event.isArchived)}
    <button
      type="button"
      class="btn"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Archive Events"
      aria-label="Archive Events"
      onclick={() => {
        archiveEvents(selectedEvents);
        onEventUpdate();
      }}><i class="bi bi-archive"></i></button
    >
  {/if}
  {#if selectedEvents.some((event) => event.isArchived)}
    <button
      type="button"
      class="btn"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Unarchive Events"
      aria-label="Unarchive Events"
      onclick={() => {
        unarchiveEvents(selectedEvents);
        onEventUpdate();
      }}><i class="bi bi-inbox"></i></button
    >
  {/if}
  <button
    type="button"
    class="btn"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Delete Events"
    aria-label="Delete Events"
    onclick={() => {
      deleteEvents(selectedEvents);
      onEventUpdate();
    }}><i class="bi bi-trash"></i></button
  >
</div>
