<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import EventSelector from "../../general/EventSelector.svelte";
  import type { Cow, Event } from "../../types";
  interface Props {
    event_id: number;
    selectedCows: Cow[];
  }

  let { event_id, selectedCows }: Props = $props();
  let selectedCowsNumbers = selectedCows.map((cow: Cow) => {
    return cow.tag_number;
  });

  let selectedEventID: string = $state();
  let selectedEvent: Event;
  async function onSelect() {
    // This query causes a false positive in Ublock Origin with EasyPrivacy
    let response = await fetch(`/api/events/event?event_id=${selectedEventID}`);
    selectedEvent = await response.json();
  }

  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
  async function submit() {
    const formData = new FormData();
    formData.append("event_id", event_id.toString());
    for (const selectedCow of selectedCowsNumbers) {
      formData.append("all_cows", selectedCow);
    }
    for (const cow of selectedEvent.cows) {
      formData.append("all_cows", cow.tag_number);
    }
    const response = await fetch(`/events/update_cows`, {
      method: "POST",
      body: formData,
    });
    if (response.status === 308 || response.status === 200) {
      window.location.reload();
    }
  }
</script>

<button class="m-2 btn btn-success" onclick={toggle}>
  <i class="bi bi-clipboard"></i>
  Copy Cows from Another Event
</button>
<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Copy Cows from Another Event</ModalHeader>
  <ModalBody
    ><EventSelector
      bind:selectedEvent={selectedEventID}
      {onSelect}
    /></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <button class="btn btn-primary" onclick={submit}>Copy Cows</button>
  </ModalFooter>
</Modal>
