Apache License
<br>
Version 2.0, January 2004
<br>
http://www.apache.org/licenses/
<br>

<br>
TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
<br>

<br>
1. Definitions.
<br>

<br>
"License" shall mean the terms and conditions for use, reproduction,
<br>
and distribution as defined by Sections 1 through 9 of this document.
<br>

<br>
"Licensor" shall mean the copyright owner or entity authorized by
<br>
the copyright owner that is granting the License.
<br>

<br>
"Legal Entity" shall mean the union of the acting entity and all
<br>
other entities that control, are controlled by, or are under common
<br>
control with that entity. For the purposes of this definition,
<br>
"control" means (i) the power, direct or indirect, to cause the
<br>
direction or management of such entity, whether by contract or
<br>
otherwise, or (ii) ownership of fifty percent (50%) or more of the
<br>
outstanding shares, or (iii) beneficial ownership of such entity.
<br>

<br>
"You" (or "Your") shall mean an individual or Legal Entity
<br>
exercising permissions granted by this License.
<br>

<br>
"Source" form shall mean the preferred form for making modifications,
<br>
including but not limited to software source code, documentation
<br>
source, and configuration files.
<br>

<br>
"Object" form shall mean any form resulting from mechanical
<br>
transformation or translation of a Source form, including but
<br>
not limited to compiled object code, generated documentation,
<br>
and conversions to other media types.
<br>

<br>
"Work" shall mean the work of authorship, whether in Source or
<br>
Object form, made available under the License, as indicated by a
<br>
copyright notice that is included in or attached to the work
<br>
(an example is provided in the Appendix below).
<br>

<br>
"Derivative Works" shall mean any work, whether in Source or Object
<br>
form, that is based on (or derived from) the Work and for which the
<br>
editorial revisions, annotations, elaborations, or other modifications
<br>
represent, as a whole, an original work of authorship. For the purposes
<br>
of this License, Derivative Works shall not include works that remain
<br>
separable from, or merely link (or bind by name) to the interfaces of,
<br>
the Work and Derivative Works thereof.
<br>

<br>
"Contribution" shall mean any work of authorship, including
<br>
the original version of the Work and any modifications or additions
<br>
to that Work or Derivative Works thereof, that is intentionally
<br>
submitted to Licensor for inclusion in the Work by the copyright owner
<br>
or by an individual or Legal Entity authorized to submit on behalf of
<br>
the copyright owner. For the purposes of this definition, "submitted"
<br>
means any form of electronic, verbal, or written communication sent
<br>
to the Licensor or its representatives, including but not limited to
<br>
communication on electronic mailing lists, source code control systems,
<br>
and issue tracking systems that are managed by, or on behalf of, the
<br>
Licensor for the purpose of discussing and improving the Work, but
<br>
excluding communication that is conspicuously marked or otherwise
<br>
designated in writing by the copyright owner as "Not a Contribution."
<br>

<br>
"Contributor" shall mean Licensor and any individual or Legal Entity
<br>
on behalf of whom a Contribution has been received by Licensor and
<br>
subsequently incorporated within the Work.
<br>

<br>
2. Grant of Copyright License. Subject to the terms and conditions of
<br>
this License, each Contributor hereby grants to You a perpetual,
<br>
worldwide, non-exclusive, no-charge, royalty-free, irrevocable
<br>
copyright license to reproduce, prepare Derivative Works of,
<br>
publicly display, publicly perform, sublicense, and distribute the
<br>
Work and such Derivative Works in Source or Object form.
<br>

<br>
3. Grant of Patent License. Subject to the terms and conditions of
<br>
this License, each Contributor hereby grants to You a perpetual,
<br>
worldwide, non-exclusive, no-charge, royalty-free, irrevocable
<br>
(except as stated in this section) patent license to make, have made,
<br>
use, offer to sell, sell, import, and otherwise transfer the Work,
<br>
where such license applies only to those patent claims licensable
<br>
by such Contributor that are necessarily infringed by their
<br>
Contribution(s) alone or by combination of their Contribution(s)
<br>
with the Work to which such Contribution(s) was submitted. If You
<br>
institute patent litigation against any entity (including a
<br>
cross-claim or counterclaim in a lawsuit) alleging that the Work
<br>
or a Contribution incorporated within the Work constitutes direct
<br>
or contributory patent infringement, then any patent licenses
<br>
granted to You under this License for that Work shall terminate
<br>
as of the date such litigation is filed.
<br>

<br>
4. Redistribution. You may reproduce and distribute copies of the
<br>
Work or Derivative Works thereof in any medium, with or without
<br>
modifications, and in Source or Object form, provided that You
<br>
meet the following conditions:
<br>

<br>
(a) You must give any other recipients of the Work or
<br>
Derivative Works a copy of this License; and
<br>

<br>
(b) You must cause any modified files to carry prominent notices
<br>
stating that You changed the files; and
<br>

<br>
(c) You must retain, in the Source form of any Derivative Works
<br>
that You distribute, all copyright, patent, trademark, and
<br>
attribution notices from the Source form of the Work,
<br>
excluding those notices that do not pertain to any part of
<br>
the Derivative Works; and
<br>

<br>
(d) If the Work includes a "NOTICE" text file as part of its
<br>
distribution, then any Derivative Works that You distribute must
<br>
include a readable copy of the attribution notices contained
<br>
within such NOTICE file, excluding those notices that do not
<br>
pertain to any part of the Derivative Works, in at least one
<br>
of the following places: within a NOTICE text file distributed
<br>
as part of the Derivative Works; within the Source form or
<br>
documentation, if provided along with the Derivative Works; or,
<br>
within a display generated by the Derivative Works, if and
<br>
wherever such third-party notices normally appear. The contents
<br>
of the NOTICE file are for informational purposes only and
<br>
do not modify the License. You may add Your own attribution
<br>
notices within Derivative Works that You distribute, alongside
<br>
or as an addendum to the NOTICE text from the Work, provided
<br>
that such additional attribution notices cannot be construed
<br>
as modifying the License.
<br>

<br>
You may add Your own copyright statement to Your modifications and
<br>
may provide additional or different license terms and conditions
<br>
for use, reproduction, or distribution of Your modifications, or
<br>
for any such Derivative Works as a whole, provided Your use,
<br>
reproduction, and distribution of the Work otherwise complies with
<br>
the conditions stated in this License.
<br>

<br>
5. Submission of Contributions. Unless You explicitly state otherwise,
<br>
any Contribution intentionally submitted for inclusion in the Work
<br>
by You to the Licensor shall be under the terms and conditions of
<br>
this License, without any additional terms or conditions.
<br>
Notwithstanding the above, nothing herein shall supersede or modify
<br>
the terms of any separate license agreement you may have executed
<br>
with Licensor regarding such Contributions.
<br>

<br>
6. Trademarks. This License does not grant permission to use the trade
<br>
names, trademarks, service marks, or product names of the Licensor,
<br>
except as required for reasonable and customary use in describing the
<br>
origin of the Work and reproducing the content of the NOTICE file.
<br>

<br>
7. Disclaimer of Warranty. Unless required by applicable law or
<br>
agreed to in writing, Licensor provides the Work (and each
<br>
Contributor provides its Contributions) on an "AS IS" BASIS,
<br>
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
<br>
implied, including, without limitation, any warranties or conditions
<br>
of TITLE, NON-INFRINGEMENT, MERCHANTABILITY, or FITNESS FOR A
<br>
PARTICULAR PURPOSE. You are solely responsible for determining the
<br>
appropriateness of using or redistributing the Work and assume any
<br>
risks associated with Your exercise of permissions under this License.
<br>

<br>
8. Limitation of Liability. In no event and under no legal theory,
<br>
whether in tort (including negligence), contract, or otherwise,
<br>
unless required by applicable law (such as deliberate and grossly
<br>
negligent acts) or agreed to in writing, shall any Contributor be
<br>
liable to You for damages, including any direct, indirect, special,
<br>
incidental, or consequential damages of any character arising as a
<br>
result of this License or out of the use or inability to use the
<br>
Work (including but not limited to damages for loss of goodwill,
<br>
work stoppage, computer failure or malfunction, or any and all
<br>
other commercial damages or losses), even if such Contributor
<br>
has been advised of the possibility of such damages.
<br>

<br>
9. Accepting Warranty or Additional Liability. While redistributing
<br>
the Work or Derivative Works thereof, You may choose to offer,
<br>
and charge a fee for, acceptance of support, warranty, indemnity,
<br>
or other liability obligations and/or rights consistent with this
<br>
License. However, in accepting such obligations, You may act only
<br>
on Your own behalf and on Your sole responsibility, not on behalf
<br>
of any other Contributor, and only if You agree to indemnify,
<br>
defend, and hold each Contributor harmless for any liability
<br>
incurred by, or claims asserted against, such Contributor by reason
<br>
of your accepting any such warranty or additional liability.