Copyright 2017- Paul Ganssle &lt;paul@ganssle.io&gt;
<br>
Copyright 2017- dateutil contributors (see AUTHORS file)
<br>

<br>
Licensed under the Apache License, Version 2.0 (the "License");
<br>
you may not use this file except in compliance with the License.
<br>
You may obtain a copy of the License at
<br>

<br>
http://www.apache.org/licenses/LICENSE-2.0
<br>

<br>
Unless required by applicable law or agreed to in writing, software
<br>
distributed under the License is distributed on an "AS IS" BASIS,
<br>
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
<br>
See the License for the specific language governing permissions and
<br>
limitations under the License.
<br>

<br>
The above license applies to all contributions after 2017-12-01, as well as
<br>
all contributions that have been re-licensed (see AUTHORS file for the list of
<br>
contributors who have re-licensed their code).
<br>
--------------------------------------------------------------------------------
<br>
dateutil - Extensions to the standard Python datetime module.
<br>

<br>
Copyright (c) 2003-2011 - Gustavo Niemeyer <gustavo@niemeyer.net>
    <br>
    Copyright (c) 2012-2014 - Tomi Pieviläinen <tomi.pievilainen@iki.fi>
        <br>
        Copyright (c) 2014-2016 - Yaron de Leeuw <me@jarondl.net>
            <br>
            Copyright (c) 2015- - Paul Ganssle <paul@ganssle.io>
                <br>
                Copyright (c) 2015- - dateutil contributors (see AUTHORS file)
                <br>

                <br>
                All rights reserved.
                <br>

                <br>
                Redistribution and use in source and binary forms, with or without
                <br>
                modification, are permitted provided that the following conditions are met:
                <br>

                <br>
                * Redistributions of source code must retain the above copyright notice,
                <br>
                this list of conditions and the following disclaimer.
                <br>
                * Redistributions in binary form must reproduce the above copyright notice,
                <br>
                this list of conditions and the following disclaimer in the documentation
                <br>
                and/or other materials provided with the distribution.
                <br>
                * Neither the name of the copyright holder nor the names of its
                <br>
                contributors may be used to endorse or promote products derived from
                <br>
                this software without specific prior written permission.
                <br>

                <br>
                THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
                <br>
                "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
                <br>
                LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
                <br>
                A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR
                <br>
                CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
                <br>
                EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
                <br>
                PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
                <br>
                PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
                <br>
                LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
                <br>
                NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
                <br>
                SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                <br>

                <br>
                The above BSD License Applies to all code, even that also covered by Apache 2.0.