<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    tag_number?: any;
  }

  let { isOpen, toggle, tag_number = null }: Props = $props();
  let helperMessage: HTMLElement = $state(),
    date: string = $state();
  async function checkForEvents() {
    if (!date) return;
    let response = await fetch(`/events/exists/${date}`);
    helperMessage.innerText = await response.text();
  }
</script>

<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>Add Event</ModalHeader>
  <ModalBody
    ><form id="newEventForm" method="post" action="/events/add">
      {#if tag_number}<input name="tag_number" value={tag_number} hidden />{/if}
      <h5>Date</h5>
      <small bind:this={helperMessage} class="form-text text-success"></small>
      <input
        bind:value={date}
        oninput={checkForEvents}
        name="date"
        type="date"
        class="form-control"
      />
      <h5>Name</h5>
      <input name="name" type="text" class="form-control" />
      <h5>Description</h5>
      <textarea name="description" class="form-control"></textarea>
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="newEventForm"
      class="btn btn-primary"
      value="Add"
    />
  </ModalFooter>
</Modal>
