<script lang="ts">
  import { run } from 'svelte/legacy';

  import { BarLoader } from "svelte-loading-spinners";
  interface Props {
    onSelect?: any;
    selectedEvent: string;
  }

  let { onSelect = () => {}, selectedEvent = $bindable() }: Props = $props();
  let loading = $state(false);
  let events = $state([]);
  async function getEvents() {
    loading = true;
    let response = await fetch("/api/events/get_list");
    events = await response.json();
    loading = false;
    events = events.sort((a, b) => (a.date < b.date ? 1 : -1));
  }
  run(() => {
    if (events.length == 0) getEvents();
  });
</script>

{#if loading}
  <BarLoader color="#007bff" duration="2s" size="100" />
  <p>Loading existing events</p>
{:else}
  <select
    class="form-control"
    name="event_id"
    bind:value={selectedEvent}
    onchange={onSelect}
  >
    {#each events as event}
      <option value={event.event_id}>{event.date} - {event.name}</option>
    {/each}
  </select>
{/if}
