<script lang="ts">
  import {
    Button,
    Modal,
    ModalBody,
    ModalFooter,
  } from "@sveltestrap/sveltestrap";
  let { messages } = $props();

  let messageModalStates = $state([]);
  messages.map((message, index) => {
    messageModalStates.push({
      visible: true,
      message: message,
      toggle: () =>
        (messageModalStates[index].visible =
          !messageModalStates[index].visible),
    });
  });
</script>

{#if messages}
  {#each messageModalStates as messageModalState}
    {#if messageModalState.message != ""}
      <Modal
        fade={true}
        isOpen={messageModalState.visible}
        toggle={messageModalState.toggle}
      >
        <ModalBody>{messageModalState.message}</ModalBody>
        <ModalFooter>
          <Button color="secondary" on:click={messageModalState.toggle}
            >Close</Button
          >
        </ModalFooter>
      </Modal>
    {/if}
  {/each}
{/if}
