<script lang="ts">
  interface Props {
    logged_in: boolean;
    username: string;
    update_available: boolean;
    query?: string;
    onSearch?: any;
  }

  let {
    logged_in,
    username,
    update_available,
    query = "",
    onSearch = (e, query) => {
      e.preventDefault();
      window.location.href = "/search?q=" + encodeURIComponent(query);
    },
  }: Props = $props();
</script>

<nav class="mb-5 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CattleDB</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/cows">Cows<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events"
          >Events<span class="sr-only"></span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transactions"
          >Transactions<span class="sr-only"></span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar"
          >Calendar<span class="sr-only"></span></a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-4">
      <form
        id="search-form"
        action="/search"
        onsubmit={(e) => {
          onSearch(e, query);
        }}
      >
        <div class="input-group">
          <input
            name="q"
            class="form-control rounded"
            type="search"
            placeholder="Search"
            aria-label="Search"
            bind:value={query}
          />
          <button
            class="input-group-text border-0 bg-transparent text-light"
            type="submit"
            aria-label="Search"
            ><i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      {#if logged_in}
        <li class="ml-lg-5 nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {username}
            {#if update_available}
              <span class="badge badge-pill badge-danger my-auto">1</span>
            {/if}
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown"
            style="z-index: 2000"
          >
            <a class="dropdown-item" href="/settings">Settings</a>
            <a class="dropdown-item" href="/install/show_server_info"
              >Show Server Info</a
            >
            {#if update_available}
              <a
                class="text-warning bg-dark dropdown-item"
                href="https://cattledb.jforseth.com">Download Update</a
              >
            {/if}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
      {/if}
    </ul>
  </div>
</nav>
