<script lang="ts">
  import printJS from "print-js";
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import { Circle } from "svelte-loading-spinners";
  interface Props {
    isOpen: boolean;
    toggle: () => void;
    title?: string;
    checkboxes: { id: string; name: string; checked: boolean }[];
    generateReport: Function;
  }

  let {
    isOpen,
    toggle,
    title = $bindable(""),
    checkboxes,
    generateReport,
  }: Props = $props();

  let selectedFields = [];
  updateSelectedFields();
  function updateSelectedFields() {
    selectedFields = checkboxes.filter((checkbox) => checkbox.checked);
  }
  let generating = $state(false);
  async function printReport() {
    generating = true;
    let printFriendlyCows = await generateReport(selectedFields);
    printJS({
      printable: printFriendlyCows,
      properties: selectedFields.map((field) => {
        return { field: field.id, displayName: field.name };
      }),
      type: "json",
      header: `<h1>${title}</h1><h2>${printFriendlyCows.length} results</h2>`,
      style: "html {font-family: sans-serif;}",
      gridStyle: "border:  none; border-top: 1px solid black",
      gridHeaderStyle: "border: none; text-align: left",
      targetStyles: ["*"],
    });
    generating = false;
  }
</script>

<Modal fade={true} {isOpen} {toggle}>
  <ModalHeader children={false}>Create Report</ModalHeader>
  <ModalBody>
    <h6>Report Title</h6>
    <input
      type="text"
      name="report_title"
      id=""
      class="form-control"
      bind:value={title}
    />
    <h6 class="pt-2">Fields</h6>

    <div class="form-check" onchange={updateSelectedFields}>
      {#each checkboxes as checkbox}
        <input
          type="checkbox"
          class="form-check-input"
          bind:checked={checkbox.checked}
          id={checkbox.id}
        />
        <label class="form-check-label d-block" for={checkbox.id}>
          {checkbox.name}
        </label>
      {/each}
    </div>
  </ModalBody>
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}>
      Close
    </button>

    {#if generating}
      <button type="button" class="btn btn-primary">
        <Circle color="#FFFFFF" size="25" />
      </button>
    {:else}
      <button type="button" class="btn btn-primary" onclick={printReport}>
        Print
      </button>
    {/if}
  </ModalFooter>
</Modal>
