<script lang="ts">
  type Item = {
    id: string | number;
    visible: boolean;
    selected: boolean;
    columns: string[];
    isArchived?: boolean;
    onclick: Function;
    toggleSelection: Function;
    handleShiftSelect: Function;
  };
  interface Props {
    item: Item;
  }

  let { item = $bindable() }: Props = $props();

  $effect(() => {
    if (!item.visible) {
      item.selected = false;
    }
  });
  function rowClicked(event) {
    if (event.ctrlKey) {
      item.toggleSelection();
      return;
    }
    if (event.shiftKey) {
      item.handleShiftSelect();
      return;
    }
    item.onclick();
  }
</script>

{#if item.visible}
  <tr
    class="clickable-tr"
    class:bg-primary={item.selected}
    class:archived={item.isArchived}
    class:text-secondary={item.isArchived}
    tabindex="0"
    onclick={rowClicked}
    onkeypress={(event) => {
      if (event.key == "Enter") {
        rowClicked(event);
      }
    }}
  >
    <td>
      <input
        type="checkbox"
        class="selector"
        name={item.id.toString()}
        checked={item.selected}
        onclick={(event) => {
          event.stopPropagation();
        }}
        onchange={() => {
          item.toggleSelection();
        }}
      />
    </td>
    {#each item.columns as column}
      <td>
        <h7>{column || ""}</h7>
      </td>
    {/each}
  </tr>
{/if}
