<script lang="ts">
  import ReportModal from "../general/ReportModal.svelte";
  import type { SearchResult, Transaction, Cow } from "../types";

  interface Props {
    isOpen: boolean;
    toggle: () => void;
    results: SearchResult[];
    title?: string;
  }

  let { isOpen, toggle, results, title = "" }: Props = $props();
  let checkboxes = [
    { id: "name", name: "Name", checked: true },
    { id: "date", name: "Date", checked: true },
    { id: "description", name: "Description", checked: false },
    { id: "isArchived", name: "Archived", checked: false },
    { id: "cows", name: "Cows", checked: false },
    { id: "transactions", name: "Transactions", checked: false },
  ];
  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
  async function generateReport(selectedFields: { id: string }[]) {
    let events = [];
    for (let i = 0; i < results.length; i++) {
      const result = results[i];
      const id = result.id;
      events.push(
        await (await fetch(`/api/events/event?event_id=${id}`)).json()
      );
    }

    let printFriendlyEvents = [];
    for (let i = 0; i < events.length; i++) {
      const event = events[i];
      let printFriendlyEvent = {};
      for (let j = 0; j < selectedFields.length; j++) {
        const selectedField = selectedFields[j];
        switch (selectedField.id) {
          case "transactions":
            printFriendlyEvent["transactions"] = event.transactions.map(
              (transaction: Transaction) =>
                `${transaction.name}: ${formatter.format(transaction.price)}`
            );
          case "cows":
            printFriendlyEvent["cows"] = event.cows
              .map((cow: Cow) => cow.tag_number)
              .join(", ");
            break;
          case "isArchived":
            printFriendlyEvent["isArchived"] = event.isArchived ? "Yes" : "No";
            break;
          default:
            printFriendlyEvent[selectedField.id] = event[selectedField.id]
              ? event[selectedField.id]
              : "";
            break;
        }
      }
      printFriendlyEvents.push(printFriendlyEvent);
    }
    return printFriendlyEvents;
  }
</script>

<ReportModal {isOpen} {toggle} {title} {checkboxes} {generateReport} />
