<script lang="ts">
  import ChangeDateButton from "../general/modalButtons/ChangeDateButton.svelte";
  import ChangeNameButton from "../general/modalButtons/ChangeNameButton.svelte";
  import ChangeDescriptionButton from "../general/modalButtons/ChangeDescriptionButton.svelte";
  import type { Event } from "../types";
  interface Props {
    event: Event;
  }

  let { event }: Props = $props();
</script>

<div class="col-md-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{event.name}</h2>
      <small><i>System Id: #000{event.event_id}</i></small>
      <ul>
        <li>Date: {event.date}</li>
        <li>
          Archived: {#if event.isArchived}Yes{:else}No{/if}
        </li>
        <li>
          Description: <br />{event?.description || ""}
        </li>
      </ul>
      <div class="row">
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeDescriptionButton
            identifier={event.event_id}
            identifierName={"event_id"}
            headerText="Change Description"
            buttonText="Change Description"
            buttonIcon="bi-pencil-square"
            action="/events/change_description"
            description={event.description}
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeNameButton
            identifier={event.event_id}
            identifierName={"event_id"}
            headerText="Change Name"
            buttonText="Change Name"
            buttonIcon="bi-pencil-square"
            action="/events/change_name"
            name={event.name}
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeDateButton
            date={event.date}
            headerText="Change Date"
            buttonText="Change Date"
            buttonClasses="w-100 btn btn-primary"
            action="/events/change_date"
            identifier={event.event_id}
            identifierName={"event_id"}
            dateName="date"
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          {#if event.isArchived}
            <a
              class="w-100 btn btn-success"
              href="/events/unarchive?event_id={event.event_id}"
            >
              <i class="bi bi-archive"></i>
              Unarchive</a
            >
          {:else}
            <a
              class="w-100 btn btn-success"
              href="/events/archive?event_id={event.event_id}"
            >
              <i class="bi bi-archive"></i>
              Archive</a
            >
          {/if}
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <form method="post" action="/events/delete">
            <input name="event_id" value={event.event_id} hidden />
            <button type="submit" class="w-100 btn btn-danger">
              <!-- Trash icon-->
              <i class="bi bi-trash"></i>
              Delete Event
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
