<script lang="ts">
  import { TabContent, TabPane } from "@sveltestrap/sveltestrap";
  import { onMount, onDestroy } from "svelte";
  import CowsTab from "../general/tabs/CowsTab.svelte";
  import TransactionsTab from "../general/tabs/TransactionsTab.svelte";
  import AddRemoveCowsButton from "./buttons/AddRemoveCowsButton.svelte";
  import AddTransactionButton from "../transaction/buttons/AddTransactionButton.svelte";
  import CopyCowsFromAnotherEventButton from "./buttons/CopyCowsFromAnotherEventButton.svelte";
  import type { Event } from "../types";
  interface Props {
    event: Event;
  }

  let { event }: Props = $props();
  let activeTab: string = $state();
  let loading = true;

  onMount(() => {
    const urlParams = new URLSearchParams(window.location.search);
    const tabParam = urlParams.get("tab");

    if (!tabParam) {
      activeTab = "cows";
    } else {
      activeTab = tabParam;
    }

    // Event listener for URL changes
    window.addEventListener("popstate", () => {
      const newTabParam = new URLSearchParams(window.location.search).get(
        "tab"
      );
      if (newTabParam && document.getElementById(newTabParam)) {
        activeTab = newTabParam;
      }
    });
    loading = false;
  });

  onDestroy(() => {
    window.removeEventListener("popstate", () => {});
  });

  $effect(() => {
    if (activeTab !== undefined) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set("tab", activeTab);
      const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
      window.history.pushState({ path: newUrl }, "", newUrl);
    }
  });
</script>

<div class="col-md-7">
  {#if activeTab == undefined}
    <p>Loading</p>
  {:else}
    <TabContent on:tab={(e) => (activeTab = e.detail.toString())}>
      <TabPane tabId="cows" tab="Cows" active={activeTab === "cows"}>
        <CowsTab cows={event.cows} showDam={true} showSire={true}>
          {#snippet headerButtons()}
            <span>
              <AddRemoveCowsButton
                event_id={event.event_id}
                selectedCows={event.cows}
              />
              <CopyCowsFromAnotherEventButton
                event_id={event.event_id}
                selectedCows={event.cows}
              />
            </span>
          {/snippet}
        </CowsTab>
      </TabPane>
      <TabPane
        tabId="transactions"
        tab="Transactions"
        active={activeTab === "transactions"}
      >
        <TransactionsTab transactions={event.transactions} includeDate={false}>
          {#snippet headerButtons()}
            <span>
              <AddTransactionButton {event} />
            </span>
          {/snippet}
        </TransactionsTab>
      </TabPane>
    </TabContent>
  {/if}
</div>
