.clickable-tr {
  cursor: pointer;
}
.clickable-tr:hover {
  background-color: lightgray;
}
body.installer {
  background-color: #0f2f4f;
}

.file-selection-text:hover {
  color: #007bff;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
