The following files are derived from Stackless Python and are subject to the
<br>
same license as Stackless Python:
<br>

<br>
src/greenlet/slp_platformselect.h
<br>
files in src/greenlet/platform/ directory
<br>

<br>
See LICENSE.PSF and http://www.stackless.com/ for details.
<br>

<br>
Unless otherwise noted, the files in greenlet have been released under the
<br>
following MIT license:
<br>

<br>
Copyright (c) Armin Rigo, Christian Tismer and contributors
<br>

<br>
Permission is hereby granted, free of charge, to any person obtaining a copy
<br>
of this software and associated documentation files (the "Software"), to deal
<br>
in the Software without restriction, including without limitation the rights
<br>
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
<br>
copies of the Software, and to permit persons to whom the Software is
<br>
furnished to do so, subject to the following conditions:
<br>

<br>
The above copyright notice and this permission notice shall be included in
<br>
all copies or substantial portions of the Software.
<br>

<br>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
<br>
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
<br>
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
<br>
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
<br>
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
<br>
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
<br>
THE SOFTWARE.