{% extends 'installer/base.html' %}
{% block title %}
400 Bad Request
{% endblock %}
{% block content %}
<h3>400 Bad Request</h3>
<hr class="mt-0">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message != "" %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}
{% endwith %}
<p>There's something wrong with whatever you're trying to do.</p>
<p>More info: {{description}}.</p>
<p>Please try again. If it still doesn't work, please contact <a
        href="mailto:support@jforseth.com?subject=CattleDB%20400%20Bad%20Request%20Error">support@jforseth.com</a>.
</p>
<small class="mt-5 mx-auto"><em>Running CattleDB Version: {{version}}</em></small>
<small class="mx-auto"><em>Latest CattleDB Version: {{latest_version}}</em></small>
{%endblock%}