{% extends 'installer/base.html' %}
{% block title %}
404 Not Found
{% endblock %}
{% block content %}
<h3>404 Not Found</h3>
<hr class="mt-0">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message != "" %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}
{% endwith %}
<p>The item you are looking for has been removed, renamed, or is missing. {{description}}.</p>
<small class="mt-5 mx-auto"><em>Running CattleDB Version: {{version}}</em></small>
<small class="mx-auto"><em>Latest CattleDB Version: {{latest_version}}</em></small>
{%endblock%}