{% extends 'installer/base.html' %}
{% block title %}
500 Internal Server Error
{% endblock %}
{% block content %}
<h3>500 Internal Server Error</h3>
<hr class="mt-0">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message != "" %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}
{% endwith %}
<p>Whoops! Looks like something went wrong. Your database could be corrupted, missing, or out-of-date. Or something else
    entirely could've gone wrong. Here's the error message: </p>
<samp>
    {% for line in trace %}
    {{line}}<br>
    {%endfor%}
</samp>
<style>
    samp {
        font-family: monospace;
        font-size: small;
        color: black;
    }
</style>
<p class="mt-4">Don't panic! Your records could still be recoverable!</p>
<p>Troubleshooting steps:</p>
<ol>
    <li>Copy-paste the error message for future reference.</li>
    <li>Download a copy of your <a href="/settings/download_database">database</a> and <a
            href="/settings/download_config">config</a>.</li>
    <li>Go back to the <a href="/">homepage</a> and try again.</li>
    <li><a href="/logout">Log out</a> and back in again.</li>
    <li>Restart your CattleDB host computer.</li>
    <li>Follow the troubleshooting steps recommended in the error message (if applicable).</li>
    <li>Email <a
            href="mailto:support@jforseth.com?subject=CattleDB%20500%20Internal%20Server%20Error&body=Hello!%20I'm%20having%20issues%20with%20my%20CattleDB%20instance.%20%0AI'm%20using%20CattleDB%20version%3A%20{{version}}%0A%0AHere's%20the%20error%20message%20I%20got%3A%20%0A{%for line in trace%}{{trace}}%0A{%endfor %}%0A%0AWhen%20the%20error%20first%20appeared%2C%20I%20was%20trying%20to%20____">support@jforseth.com</a>
        with your CattleDB version, the error message, the details of what you were trying to do when the error first
        appeared, and any additional
        information that might be helpful.
    </li>
</ol>
<small class="mt-5 mx-auto"><em>Running CattleDB Version: {{version}}</em></small>
<small class="mx-auto"><em>Latest CattleDB Version: {{latest_version}}</em></small>
{%endblock%}