<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/style.css" />

  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <title>{% block title %}{% endblock %}</title>
  {% block head%}
  {% endblock %}
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {% if message != "" %}
  <div class="modal fade in" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% block content %} {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/bootstrap/js/Optional Dependencies/jquery-3.4.1.slim.min.js"></script>
  <script src="/static/bootstrap/js/Optional Dependencies/popper.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/sorttable.js"></script>
  {% block js %}{% endblock %}
</body>

</html>