{% extends 'base.html' %} {% block title%}Cattle Records{% endblock %} {% block
content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <!--<img src="/static/brands/{{cow.owner}}.png" alt="{{cow.owner}}'s brand" class="card-img-top p-5">-->
                <div class="card-body">
                    <h2 class="card-title">{{cow.tag_number}}</h2>
                    <small><i>System Id: #000{{cow.cow_id}}</i></small>
                    <ul>
                        <li>Owned By: {{cow.owner}}</li>
                        <li>Sex: {{cow.sex}}</li>
                        {% if cow.dam_id %}
                        <li>
                            <a href="/cows/cow/{{cow.get_dam().tag_number}}">Dam: {{cow.get_dam().tag_number}}</a>
                        </li>
                        {% endif %} {% if cow.sire_id %}
                        <li>
                            <a href="/cows/cow/{{cow.get_sire().tag_number}}">Sire: {{cow.get_sire().tag_number}}</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form method="post" action="/cows/delete" class="p-0 m-2">
                        <input name="tag_number" value="{{cow.tag_number}}" hidden>
                        <button type="submit" class="btn btn-danger">
                            <!-- Trash icon-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                            Delete Cow
                        </button>
                    </form>
                    <button class="m-2 btn btn-primary" data-toggle="modal" data-target="#ownershipTransferModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                        Transfer Ownership
                    </button>
                    <button class="m-2 btn btn-warning" data-toggle="modal" data-target="#tagNumberChangeModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                        Change Tag Number
                    </button>
                    {% if not cow.get_dam() or not cow.get_sire() %}
                    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#addParentModal">
                        Add Parent
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="offspring-tab" data-toggle="tab" href="#offspring" role="tab"
                        aria-controls="offspring" aria-selected="true">Offspring</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab"
                        aria-controls="events" aria-selected="false">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="events-tab" data-toggle="tab" href="#transactions" role="tab"
                        aria-controls="transactions" aria-selected="false">Transactions</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="offspring" role="tabpanel" aria-labelledby="offspring-tab">
                    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#customNewCowModal">Add
                        Calf</button>
                    <table class=table>
                        </tr>
                        <th>Cow</th>
                        <th>Born</th>
                        <th>Owner</th>
                        <th>Sex</th>
                        {% if cow.sex in COW_SEXES_FEMALE %}
                        <th>
                            Sire
                        </th>
                        {% else %}
                        <th>
                            Dam
                        </th>
                        {% endif %}
                        <th>Calves</th>
                        </tr>
                        {% for calf in cow.get_calves() %}
                        <tr class="clickable-tr" onclick="window.location.href = '/cows/cow/{{calf.tag_number}}';">
                            <td>
                                <h7>{{ calf.tag_number }}</h7>
                            </td>
                            <td>
                                <h7>{{ calf.get_birthdate() }}<h7>
                            </td>
                            <td>
                                <h7>{{ calf.owner }}<h7>
                            </td>
                            <td>
                                <h7>{{ calf.sex }}<h7>
                            </td>
                            {% if cow.sex in COW_SEXES_FEMALE %}
                            <td>
                                <h7>{{ calf.get_sire().tag_number }}</h7>
                            </td>
                            {% else %}
                            <td>
                                <h7>{{ calf.get_dam().tag_number }}</h7>
                            </td>
                            {% endif %}
                            <td>
                                <h7>{% for grandcalf in calf.get_calves() %} {{grandcalf.tag_number}}{% if not loop.last
                                    %}, {% endif %}{% endfor %}</h7>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade show" id="events" role="tabpanel" aria-labelledby="events-tab">
                    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#customNewEventModal">New
                        Event</button>
                    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#addToExistingEventModal">Add
                        to Existing Event</button>
                    <table class=table>
                        </tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Description</th>
                        </tr>
                        {% for event in cow.events|sort(attribute='date') %}
                        <tr class="clickable-tr" onclick="window.location.href = '/event/{{event.event_id}}';">
                            <td>
                                <h7>{{event.date}}<h7>
                            </td>
                            <td>
                                <h7>{{event.name}}<h7>
                            </td>
                            <td>
                                <h7>{{event.description}}<h7>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade show" id="transactions" role="tabpanel" aria-labelledby="transactions">
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>To/From</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        {% for event in cow.events %}
                        {% for transaction in event.transactions %}
                        <tr class="clickable-tr"
                            onclick="window.location.href = '/transaction/{{transaction.transaction_id}}';">
                            <td>
                                <h7>{{transaction.event.date}}</h7>
                            </td>
                            <td>
                                <h7>{{transaction.tofrom}}</h7>
                            </td>
                            <td>
                                <h7>{{transaction.name}}</h7>
                            </td>
                            <td>
                                <h7>{{ transaction.description }}<h7>
                            </td>
                            <td>
                                <h7 class="{% if transaction.price >0 %}text-success{% else %}text-danger{%endif%}">{{
                                    transaction.price }}<h7>
                            </td>
                        </tr>
                        {% endfor %}
                        {%endfor%}
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{cow.get_transaction_total()}}</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ownershipTransferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Transfer Ownership</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="transferForm" method="POST" action="/cows/transfer_ownership">
                        <input type="hidden" name="tag_number" value="{{cow.tag_number}}">
                        <h5>New Owner</h5>
                        <input type="text" class="form-control" name="newOwner" />
                        <h5>Date</h5>
                        <input type="date" class="form-control" name="date" />
                        <h5>Price</h5>
                        <input type="price" class="form-control" name="price" />
                        <h5>Additional Information</h5>
                        <textarea form="transferForm" class="form-control" name="description"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <input type="submit" form="transferForm" class="btn btn-primary" value="Transfer" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tagNumberChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Tag Number</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Changing this <i>shouldn't</i> break anything, but it might. Be careful!</p>
                    <form id="tagNumberChangeForm" method="POST" action="/cows/change_tag_number">
                        <input type="hidden" name="old_tag_number" value="{{cow.tag_number}}">
                        <input name="new_tag_number" class="form-control" value="{{cow.tag_number}}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" form="tagNumberChangeForm" class="btn btn-primary" value="Update" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addToExistingEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to Existing Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addToExistingEventForm" method="POST" action="/events/update_cows">
                        <h5>Event</h5>
                        <select class="form-control" name="event">
                            {% for event in events|sort(attribute="date")|reverse %}
                            <option value="{{event.event_id}}">{{event.date}} - {{event.name}}</option>
                            {% endfor %}
                        </select>
                        <input name="new_cow" value={{cow.tag_number}} hidden />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <input type="submit" form="addToExistingEventForm" class="btn btn-primary" value="Add to Event" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addParentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Parent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addParentForm" method="POST" action="/cows/add_parent">
                        <input name="tag_number" value="{{cow.tag_number}}" hidden>
                        {% if not cow.get_dam() and not cow.get_sire()%}
                        <h5>Parent</h5>
                        <select name="parent_type" class="form-control">
                            <option>Dam</option>
                            <option>Sire</option>
                        </select>
                        <select name="parent_tag" class="form-control">
                            {% for cow in cows %}
                            <option>{{cow.tag_number}}</option>
                            {% endfor %}
                            <option value="">N/A</option>
                        </select>
                        {% elif not cow.get_dam() and cow.get_sire()%}
                        <input name="parent_type" value="Dam" hidden />
                        <h5>Dam</h5>
                        <select name="parent_tag" class="form-control">
                            {% for cow in cows %} {% if cow.sex in COW_SEXES_FEMALE_POSSIBLE_PARENTS %}
                            <option>{{cow.tag_number}}</option>
                            {% endif %} {% endfor %}
                            <option value="">N/A</option>
                        </select>
                        {% else %}
                        <h5>Sire</h5>
                        <input name="parent_type" value="Sire" hidden />
                        <select name="parent_tag" id="newCowSire" class="form-control">
                            {% for cow in cows %} {% if cow.sex in COW_SEXES_MALE_POSSIBLE_PARENTS %}
                            <option>{{cow.tag_number}}</option>
                            {% endif %} {% endfor %}
                            <option value="">N/A</option>
                        </select>
                        {% endif %}

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <input type="submit" form="addParentForm" class="btn btn-primary" value="Add Parent" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customNewCowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Cow</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newCowForm" method="post" action="/cows/new"
                        onsubmit="return validateTagNumber(document.getElementById('newCowTagNumber'))">
                        <h5>Date:</h5>
                        <input name="date" type="date" class="form-control" />
                        <div class="form-check">
                            <input type="checkbox" name="born_event" id="born_event" class="form-check-input" checked>
                            <label for="born_event" class="form-check-label">Add "born" event for calf</label>
                        </div>
                        {% if cow.sex in COW_SEXES_FEMALE %}
                        <div class="form-check">
                            <input type="checkbox" name="calved_event" id="calved_event" class="form-check-input"
                                checked>
                            <label for="calved_event" class="form-check-label">Add "calved" event for cow</label>
                        </div>
                        {% endif%}
                        {% if cow.sex in COW_SEXES_FEMALE %}
                        <h5>Sire:</h5>
                        <select name="sire" id="newCowSire" class="form-control">
                            {% for cowi in cows %}
                            {% if cowi.sex in COW_SEXES_MALE_POSSIBLE_PARENTS %}
                            <option>{{cowi.tag_number}}</option>
                            {% endif %}
                            {% endfor %}
                            <option value="">N/A</option>
                        </select>
                        <input name="dam" value="{{cow.tag_number}}" hidden />
                        {% else %}
                        <h5>Dam:</h5>
                        <select name="dam" id="newCowDam" class="form-control">
                            {% for cowi in cows %}
                            {% if cowi.sex in COW_SEXES_FEMALE %}
                            <option>{{cowi.tag_number}}</option>
                            {% endif %}
                            {% endfor %}
                            <option value="">N/A</option>
                        </select>
                        <input name="sire" value="{{cow.tag_number}}" hidden />
                        {% endif %}

                        <h5>Tag Number:</h5>
                        <input type="text" name="tag_number" id="newCowTagNumber" class="form-control">
                        <small id="tagAvailabilityText" class="form-text">
                        </small>
                        <h5>Owner:</h5>
                        <input name="owner" id="newCowOwner" type="text" class="form-control" />
                        <h5>Sex:</h5>
                        <select name="sex" id="newCowSex" class="form-control">
                            {% for sex in COW_SEXES %}
                            <option>{{sex}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" form="newCowForm" class="btn btn-primary" value="Add" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customNewEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newEventForm" method="post" action="/events/new">
                        <input name="tag_number" value="{{cow.tag_number}}" hidden>
                        <h5>Date</h5>
                        <small id="dateHelperText" class="form-text text-success"></small>
                        <input id="cowNewEventDateField" name="date" type="date" class="form-control" />
                        <h5>Name</h5>
                        <input name="name" type="text" class="form-control" />
                        <h5>Description</h5>
                        <textarea name="description" class="form-control"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" form="newEventForm" class="btn btn-primary" value="Add" />
                </div>
            </div>
        </div>
    </div>
    <script>
        document
            .getElementById("cowNewEventDateField")
            .addEventListener("input", function () {
                checkForEvents(this);
            });
    </script>
    {% endblock %}