{% extends 'base.html' %}
{% block title%}Cattle Records{% endblock %}
{% block content %}
<div class="container-fluid">
    <table class=table>
        <thead style="position: sticky;top: 0" class="text-dark bg-light">
            <tr>
                <th>Cow</th>
                <th>Born</th>
                <th>Owner</th>
                <th>Sex</th>
                <th>Dam</th>
                <th>Sire</th>
                <th>Calves</th>
            </tr>
        </thead>
        {% for cow in cows|sort(attribute='tag_number') %}
        <tr class="clickable-tr {% if cow.owner not in usernames%}text-secondary{%endif%}" onclick="window.location.href = '/cow/{{cow.tag_number}}';">
            <td>
                <h7>{{ cow.tag_number }}<h7>
            </td>
            <td>
                <h7>{{ cow.get_birthdate() }}<h7>
            </td>
            <td>
                <h7>{{ cow.owner }}<h7>
            </td>
            <td>
                <h7>{{ cow.sex }}<h7>
            </td>
            <td>
                <h7>{{ cow.get_dam().tag_number }}</h7>
            </td>
            <td>
                <h7>{{ cow.get_sire().tag_number }}</h7>
            </td>
            <td>
                <h7>{% for calf in cow.get_calves() %} {{calf.tag_number}}{% if not loop.last %}, {% endif %}{%
                    endfor %}</h7>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#newCowModal">Add Cow</button>
</div>
{% endblock %}
{% block js %}
<script>


</script>
{% endblock %}