{% extends 'base.html' %} {% block title%}Cattle Records{% endblock %} {% block
content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{event.name}}</h2>
                    <small><i>System Id: #000{{event.event_id}}</i></small>
                    <ul>
                        <li>Date: {{event.date}}</li>
                        <li>Description: {{event.description}}</li>
                    </ul>
                    <form method="post" action="/deleteevent" class="p-0 m-2">
                        <input name="event_id" value="{{event.event_id}}" hidden />
                        <button type="submit" class="btn btn-danger">
                            <!-- Trash icon-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                            Delete Event
                        </button>
                    </form>
                    <button class="m-2 btn btn-primary" data-toggle="modal" data-target="#dateChangeModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-calendar-date" viewBox="0 0 16 16">
                            <path
                                d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg>
                        Change Date
                    </button>
                    <button class="m-2 btn btn-secondary" data-toggle="modal" data-target="#descriptionChangeModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        Change Description
                    </button>
                    <button class="m-2 btn btn-secondary" data-toggle="modal" data-target="#nameChangeModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        Change Name
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="cows-tab" data-toggle="tab" href="#cows" role="tab"
                        aria-controls="cows" aria-selected="true">Cows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cows-tab" data-toggle="tab" href="#transactions" role="tab"
                        aria-controls="cows" aria-selected="false">Transactions</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="cows" role="tabpanel" aria-labelledby="cows-tab">
                    <table class="table">
                        <tr>
                            <th>Tag Number</th>
                            <th>Owner</th>
                            <th>Sex</th>
                        </tr>
                        {% for cow in event.cows %}
                        <tr class="clickable-tr" onclick="window.location.href = '/cow/{{cow.tag_number}}';">
                            <td>
                                <h7>{{cow.tag_number}}</h7>
                            </td>
                            <td>
                                <h7>{{ cow.owner }}<h7>
                            </td>
                            <td>
                                <h7>{{ cow.sex }}<h7>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button class="m-2 btn btn-success" data-toggle="modal"
                        data-target="#eventAddRemoveCowsModal">Add/Remove Cows</button>
                </div>
                <div class="tab-pane fade show" id="transactions" role="tabpanel" aria-labelledby="transactions">
                    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#addTransactionModal">Add
                        Transaction</button>
                    <table class="table">
                        <tr>
                            <th>To/From</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        {% for transaction in event.transactions %}
                        <tr class="clickable-tr"
                            onclick="window.location.href = '/transaction/{{transaction.transaction_id}}';">
                            <td>
                                <h7>{{transaction.tofrom}}</h7>
                            </td>
                            <td>
                                <h7>{{transaction.name}}</h7>
                            </td>
                            <td>
                                <h7>{{ transaction.description }}<h7>
                            </td>
                            <td>
                                <h7 class="{% if transaction.price >0 %}text-success{% else %}text-danger{%endif%}">{{
                                    transaction.price }}<h7>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <th>{{event.transactions|sum(attribute="price")}}</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eventAddRemoveCowsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add or Remove Cows from Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="eventAddRemoveCowsForm" method="POST" action="/eventAddRemoveCows">
                    <input type="hidden" name="event" value="{{event.event_id}}">
                    {% for cow in cows %}
                    <div class="form-check">
                        <input type="checkbox" name="all_cows" value="{{cow.tag_number}}"
                            id="eventAddRemoveCows{{cow.tag_number}}" class="form-check-input" {% if cow in event.cows
                            %}checked{%endif%}>
                        <label for="eventAddRemoveCows{{cow.tag_number}}"
                            class="form-check-label">{{cow.tag_number}}</label>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" form="eventAddRemoveCowsForm" class="btn btn-primary" value="Update" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="descriptionChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="descriptionChangeForm" method="POST" action="/eventChangeDescription">
                    <input type="hidden" name="event_id" value="{{event.event_id}}">
                    <textarea name="description" class="form-control">{{event.description}}</textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" form="descriptionChangeForm" class="btn btn-primary" value="Update" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="nameChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="nameChangeForm" method="POST" action="/eventChangeName">
                    <input type="hidden" name="event_id" value="{{event.event_id}}">
                    <input name="name" class="form-control" value="{{event.name}}" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" form="nameChangeForm" class="btn btn-primary" value="Update" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dateChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="eventChangeDateForm" method="POST" action="/eventChangeDate">
                    <input type="hidden" name="event_id" value="{{event.event_id}}">
                    <h5>Date</h5>
                    <input type="date" name="date" class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" form="eventChangeDateForm" class="btn btn-primary" value="Change Date" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newTransactionForm" method="post" action="/newTransaction">
                    <input type="text" name="event_id" hidden value="{{event.event_id}}" />
                    <h5>Transaction Name</h5>
                    <input type="text" name="name" class="form-control" />
                    <h5>Amount</h5>
                    <small><i>Negative for expenses/Positive for income</i></small><br />
                    <input type="number" name="price" cless="form-control" oninput="colorCodePriceInput(this)" />
                    <h5>To/From</h5>
                    <input type="text" name="tofrom" class="form-control" />
                    <h5>Additional Information</h5>
                    <textarea name="description" class="form-control"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="newTransactionForm" class="btn btn-primary">Add Transaction</button>
            </div>
        </div>
    </div>
</div>
<script>
    function colorCodePriceInput(event) {
        if (event.value > 0) {
            event.classList.add("text-success");
            event.classList.remove("text-danger");
        } else {
            event.classList.add("text-danger");
            event.classList.remove("text-success");

        }
    }
</script>
{% endblock %}