{% extends 'base.html' %}
{% block title%}Cattle Records{% endblock %}
{% block content %}
<div class="container-fluid">
<table class=table>
</tr>
<th>Name</th>
<th>Description</th>
<th>Cows</th>
<th>Date</th>
</tr>
{% for event in events %}
        <tr class="clickable-tr" onclick="window.location.href = '/event/{{event.event_id}}';">
    <td class="w-25">
        <h7>{{event.name}}<h7>
    </td>
    <td class="w-25">
        <h7>{{event.description}}<h7>
    </td>
    <td>
        <h7>{% for cow in event.get_cows() %} {{cow.tag_number}}{% if not loop.last %}, {% endif %}{% endfor %}</h7>
        <td class="w-25">
            <h7>{{event.date}}<h7>
        </td>
    </td>
</tr>
{% endfor %}
</table>
<button class="m-2 btn btn-success" data-toggle="modal" data-target="#newEventModal">Add Event</button>
  <div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newEventForm" method="post" action="/newEvent">
                    <h5>Cows</h5> 
                    {% for cow in cows %}
                    <div class="form-check form-check-inline">
                    <input name="cows" id="{{cow.cow_id}}" class="form-check-input" type="checkbox" value="{{cow.tag_number}}">
                    <label for="{{cow.cow_id}}" class="" for="flexCheckDefault">
                      {{cow.tag_number}}
                      </label>
                    </div>
                    {% endfor %}
                    <h5>Date</h5> 
                    <input name="date" type="date" class="form-control"/>
                    <h5>Name</h5>
                    <input name="name" type="text" class="form-control"/>
                    <h5>Description</h5>
                    <textarea name="description" class="form-control"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" form="newEventForm" class="btn btn-primary" value="Add"/>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
    