<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <script lang="javascript">


    {{ inertia.include_router() }}

  </script>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/bootstrap/js/Optional Dependencies/jquery-3.4.1.slim.min.js"></script>
  <script src="/static/bootstrap/js/Optional Dependencies/popper.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/sorttable.js"></script>

</head>

<body>

  <div id="app" data-page='{{ page | tojson }}'></div>
  <script type="module" src="{{ url_for('static', filename='dist/main.js') }}" defer></script>

</body>

</html>