{% extends 'base.html' %} {% block title%}CattleDB{% endblock %} {% block
content %}

<form id="inputForm" action="/cows/add_calving_record" method="post" novalidate>
    <div class="container">
        <h3>New Calving Record</h3>
        <p>This will create a new calf (and "born" event for the calf and "calved" event for the cow) for each row.</p>
        <p class="text-danger">This will add multiple entries to the database, double check entries before submitting!
        </p>
            <h5>Owner to Autofill:</h5>
                <input class="mb-2 text-center w-25 form-control" id="masterOwner" required
                    placeholder="Owner" onchange="validateOwner(this)" />
                <div class="valid-feedback">
                </div>
                <div class="invalid-feedback">
                </div>
        <div class="row">
            <input class="d-inline-block ml-auto" type="checkbox" name="create_nonexistant_cows"
                id="create_nonexistant_cows" onchange="revalidateRows()">
            <label class="d-inline-block mx-2 my-auto text-danger" for="create_nonexistant_cows">
                Create cows and sires if they don't exist</label>
        </div>
    </div>
    <table class="table" id="calving-record">
        <thead>
            <tr>
                <th>Sire</th>
                <th>Cow</th>
                <th>Calf</th>
                <th>Owner</th>
                <th>D.O.B</th>
                <th>Sex</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(24)%}
            <tr>
                <td>
                    <button type="button" class="sireToggle btn btn-success" data-toggle="modal" id="sireToggle-{{i}}" data-target="#sireModal-{{i}}" tabindex="-1">
                        +
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="sireModal-{{i}}" tabindex="-1" role="dialog"
                        aria-labelledby="sireModalLabel-{{i}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="sireModalLabel-{{i}}">Add Sire</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input name="sire-{{i}}" class="sire form-control"
                                    oninput="validateSire(this); this.parentElement.classList.add('was-validated')" />
                                    <div class="valid-feedback">
                                    </div>
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><input name="cow-{{i}}" class="cow form-control" oninput="validateRow(this);"
                        onblur="validateRow(this);" />
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </td>
                <td><input name="calf-{{i}}" class="calf form-control" onblur="validateRow(this)"
                        onfocus="clearCalf(this)" />
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </td>
                <td><input name="owner-{{i}}" class="owner form-control" onblur="validateRow(this)"
                        onfocus="clearOwner(this)" />
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </td>
                <td><input name="dob-{{i}}" type="date" class="date form-control" onblur="validateRow(this)" />
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </td>
                <td><input name="sex-{{i}}" class="sex form-control" onblur="validateRow(this)" />
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </td>
                <td><input name="description-{{i}}" class="notes form-control" onblur="validateRow(this)" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" class="d-block my-3 mx-auto btn btn-success" value="Submit" />
</form>
{% endblock %}
{%block js%}
<script src="/static/arrow-table.min.js"></script>
<script src="https://rawgit.com/marklagendijk/jQuery.tabbable/master/jquery.tabbable.js"></script>
<script>
    var now = new Date(),
        // minimum date the user can choose, in this case now and in the future
        maxDate = now.toISOString().substring(0, 10);
    $('input[type="date"]').prop("max", maxDate);
    $(function () {
        $('input').on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                e.stopPropagation();
                $.tabNext();
            }
        });
    });
    $('#calving-record').arrowTable();
</script>
<script src="/static/calvingRecordValidation.js"></script>
{%endblock%}
