{% extends 'base.html' %}
{% block title%}Search results for {{query}}{% endblock %}
{% block content %}
<div class="container">
    <h2>Search results for "{{ query }}":</h2>
    <ul>
        {% for result in results %}
            <li>
                <h4>
                    <a href="{{result.url}}">{{result.title}}</a>
                </h4>
                <p>{{result.body}}</p>
            </li>
        {% endfor %}
    </ul>
    {% if not results %}
    <h4>We didn't find any results for {{query}}</h4>
    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#newCowModal">Add Cow</button>
    <button class="m-2 btn btn-success" data-toggle="modal" data-target="#newEventModal">Add Event</button>
    {% endif %}
</div>
{% endblock %}