{% extends 'base.html' %} {% block title%} {{results|length}} results found for
{{query}}{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 px-5">
      <div class="card p-3">
        <h4>Filter Results:</h4>
        <h5 class="pt-3">Type</h5>
        {% for type in unique_values["types"] %}
        <div class="form-check">
          <input type="checkbox" id="typeFilterCheck{{type}}"
          class="form-check-input" name="type" value="{{type}}" {% if
          checked_values["types"] and type in checked_values["types"]%}
          checked=true {%endif%} form="search-form"
          onchange="this.form.submit()" />
          <label class="form-check-label" for="typeFilterCheck{{type}}"
            >{{type}}</label
          >
        </div>
        {% endfor %} {% if not checked_values["types"] or "Cow" in
        checked_values["types"] %}
        <h5>Tag Number</h5>
        {% for tag in unique_values["tags"]|sort %}
        <div class="form-check">
          <input type="checkbox" id="tagFilterCheck{{tag}}"
          class="form-check-input" name="tag" value="{{tag}}" {% if
          checked_values["tags"] and tag in checked_values["tags"]%}
          checked=true {%endif%} form="search-form"
          onchange="this.form.submit()" />
          <label class="form-check-label" for="tagFilterCheck{{tag}}"
            >{{tag}}{% if tag != "N/A" %}**{% endif %}</label
          >
        </div>
        {% endfor %}
        <h5 class="pt-3">Sex</h5>
        {% for sex in unique_values["sexes"] %}
        <div class="form-check">
          <input type="checkbox" id="sexFilterCheck{{sex}}"
          class="form-check-input" name="sex" value="{{sex}}" {% if
          checked_values["sexes"] and sex in checked_values["sexes"]%}
          checked=true {%endif%} form="search-form"
          onchange="this.form.submit()" />
          <label class="form-check-label" for="sexFilterCheck{{sex}}"
            >{{sex}}</label
          >
        </div>
        {% endfor %}
        <h5 class="pt-3">Owner</h5>
        {% for owner in unique_values["owners"]|sort %}
        <div class="form-check">
          <input type="checkbox" id="ownerFilterCheck{{owner}}"
          class="form-check-input" name="owner" value="{{owner}}" {% if
          checked_values["owners"] and owner in checked_values["owners"]%}
          checked=true {%endif%} form="search-form"
          onchange="this.form.submit()" />
          <label class="form-check-label" for="ownerFilterCheck{{owner}}"
            >{{owner}}</label
          >
        </div>
        {% endfor %}
        <h5 class="pt-3">Sire</h5>
        {% for sire in unique_values["sires"] %}
        <div class="form-check">
          <input type="checkbox" id="sireFilterCheck{{sire}}"
          class="form-check-input" name="sire" value="{{sire}}" {% if
          checked_values["sires"] and sire in checked_values["sires"]%}
          checked=true {%endif%} form="search-form"
          onchange="this.form.submit()" />
          <label class="form-check-label" for="sireFilterCheck{{sire}}"
            >{{sire}}</label
          >
        </div>
        {% endfor %}
        <h5 class="pt-3">Dam</h5>
        {% for dam in unique_values["dams"]|sort %}
        <div class="form-check">
          <input type="checkbox" id="damFilterCheck{{dam}}"
          class="form-check-input" name="dam" value="{{dam}}" {% if
          checked_values["dams"] and dam in checked_values["dams"]%}
          checked=true {%endif%} form="search-form"
          onchange="this.form.submit()" />
          <label class="form-check-label" for="damFilterCheck{{dam}}"
            >{{dam}}</label
          >
        </div>
        {% endfor %} {% endif %} {% if not checked_values["types"] or "Event" in
        checked_values["types"] %}
        <h5 class="pt-3">Date</h5>
          <select form="search-form" name="date" class="form-select" onchange="this.form.submit()">
            <option value="" disabled selected>Select Date</option>
            {% for date in unique_values["dates"]|sort %}
            <option>{{date}}</option>
            {% endfor %}
          </select>
        <h5 class="pt-3">Name</h5>
        {% for name in unique_values["names"]|sort %}
        <div class="form-check">
          <input type="checkbox" id="nameFilterCheck{{name}}"
          class="form-check-input" name="name" value="{{name}}" {% if
          checked_values["names"] and name in checked_values["names"]%}
          checked=true {%endif%} form="search-form"
          onchange="this.form.submit()" />
          <label class="form-check-label" for="nameFilterCheck{{name}}"
            >{{name}}</label
          >
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    <div class="col-sm-9">
      <h2>
        {{results|length}} result{% if results|length > 1%}s{%endif%} found for
        {{query}}:
      </h2>
      <ul>
        {% for result in results %}
        <li>
          <h4>
            <a href="{{result.url}}">{{result.title}}</a>
          </h4>
          <p>{{result.body}}</p>
        </li>
        {% endfor %}
      </ul>
      {% if not results %}
      <h4>We didn't find any results for {{query}}</h4>
      <button
        class="m-2 btn btn-success"
        data-toggle="modal"
        data-target="#newCowModal"
      >
        Add Cow
      </button>
      <button
        class="m-2 btn btn-success"
        data-toggle="modal"
        data-target="#newEventModal"
      >
        Add Event
      </button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
