{% extends 'base.html' %}
{% block title%}Family Tree{% endblock %}
{% block head %}
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<style type="text/css">
    #network {
        width: 100%;
        height: 600px;
        background: white;
        border: 1px solid lightgray;
    }
</style>
{% endblock %}
{% block content %}
<div id="network"></div>

<script type="text/javascript">
    async function populateGraph() {
        let nodesJSON = await fetch("/cows/tree/nodes");
        let edgesJSON = await fetch("/cows/tree/edges");

        // create an array with nodes
        var nodes = new vis.DataSet(await nodesJSON.json());

        // create an array with edges
        var edges = new vis.DataSet(await edgesJSON.json());

        // create a network
        var container = document.getElementById('network');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);
        var options = {
            nodes: {
                borderWidth: 1,
                borderWidthSelected: 1,
                shape: "box",
                font: {
                    size: 12
                }
            },
            edges: {
                smooth: {
                    type: "dynamic",
                    roundness: 0.5,
                }
            },
            layout: {
                hierarchical: {
                    direction: 'UD',
                    sortMethod: 'directed',
                    shakeTowards: 'roots',
                    nodeSpacing: 80,
                    levelSeparation: 120,
                    treeSpacing: 90
                }
            },
            interaction: { dragNodes: false },
            physics: false
        };

        network.setOptions(options);
    }
    populateGraph();
</script>
{%endblock%}
