<script lang="ts">
  // Boilerplate. Navbar and message popups
  import Nav from "../general/Nav.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";
  import AddEventModal from "../general/AddEventModal.svelte";
  import QrCode from "svelte-qrcode";
  import { Calendar } from "@fullcalendar/core";
  import dayGridPlugin from "@fullcalendar/daygrid";
  import { BarLoader } from "svelte-loading-spinners";
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import { onMount } from "svelte";

  interface Props {
    // More nav boilerplate
    logged_in: boolean;
    // More nav boilerplate
    username: string;
    // More nav boilerplate
    update_available: boolean;
    // More nav boilerplate
    messages: string[];
    icalendar_route: string;
  }

  let {
    logged_in,
    username,
    update_available,
    messages,
    icalendar_route,
  }: Props = $props();

  let newEventModalIsOpen = $state(false);
  let toggleNewEventModal = () => {
    newEventModalIsOpen = !newEventModalIsOpen;
  };
  let subscribeCalendarModalIsOpen = $state(false);
  let toggleSubscribeCalendarModal = () => {
    subscribeCalendarModalIsOpen = !subscribeCalendarModalIsOpen;
  };

  let calendarEl = $state();
  let loading = $state(true);
  onMount(async () => {
    loading = true;
    //let response = await fetch("/calendar/events/api");
    //let events = await response.json();
    loading = false;
    var calendar = new Calendar(calendarEl, {
      plugins: [dayGridPlugin],
      initialView: "dayGridMonth",
      height: "85vh",
      events: "/calendar/events/api",
      customButtons: {
        newEventButton: {
          text: "Add Event",
          click: toggleNewEventModal,
        },
        subscribeCalendarButton: {
          text: "Subscribe",
          click: toggleSubscribeCalendarModal,
        },
      },
      headerToolbar: {
        start: "title", // will normally be on the left. if RTL, will be on the right
        center: "",
        end: "subscribeCalendarButton newEventButton today prev,next",
      },
      eventMouseEnter: () => {
        document.body.classList.add("pointer");
      },
      eventMouseLeave: () => {
        document.body.classList.remove("pointer");
      },
      eventClick: function (info) {
        window.location.href = "/events/event/" + info.event.id;
      },
    });
    calendar.render();
  });
</script>

<!--Page title-->
<svelte:head>
  <title>CattleDB: Calendar</title>
</svelte:head>

<!--Nav stuff-->
<Nav {logged_in} {username} {update_available} />
<MessagesModal {messages} />
<AddEventModal
  isOpen={newEventModalIsOpen}
  toggle={toggleNewEventModal}
  tag_number={null}
/>
<div class="container" style="height: 80vh">
  {#if loading}
    <div class="loader-wrapper">
      <BarLoader color="#007bff" duration="2s" size="75" />
    </div>
  {/if}
  <div bind:this={calendarEl}></div>
  <!--

    <a href={"webcal://" + window.location.hostname + icalendar_route}
    ><small><i>Download Calendar</i></small></a
    >
    -
    <small><i>Subscribe to Calendar</i></small>
  -->
</div>
<Modal
  fade={true}
  isOpen={subscribeCalendarModalIsOpen}
  toggle={toggleSubscribeCalendarModal}
>
  <ModalHeader children={false}>Subscribe to Calendar</ModalHeader>
  <ModalBody>
    <div class="text-center">
      <QrCode
        value={"webcal://" + window.location.hostname + icalendar_route}
      />
    </div>

    <a href={"webcal://" + window.location.hostname + icalendar_route}
      ><i style="word-wrap: break-word;"
        >{"webcal://" + window.location.hostname + icalendar_route}</i
      ></a
    >
    <br />
    You may need to install an app like
    <a href="https://icsx5.bitfire.at/">ICSx<sup>5</sup></a> in order to subscribe
    to the calendar.
  </ModalBody>

  <ModalFooter>
    <button
      type="button"
      class="btn btn-secondary"
      onclick={toggleSubscribeCalendarModal}>Close</button
    >
  </ModalFooter>
</Modal>

<style>
  body.pointer {
    cursor: pointer;
  }

  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
  }
</style>
