<!--
  The main component for a single cow. 
-->
<script lang="ts">
  // Boilerplate. Navbar and message popups
  import Nav from "../general/Nav.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";

  // Calves, events, transactions with this cow
  import RelationshipTabs from "../cow/RelationshipTabs.svelte";

  // The main information and options for a cow
  import CowCard from "../cow/CowCard.svelte";
  import type { Cow } from "../types";
  

  
  interface Props {
    logged_in: any;
    username: any;
    update_available: any;
    messages: any;
    // The cow we're looking at
    cow: Cow;
  }

  let {
    logged_in,
    username,
    update_available,
    messages,
    cow
  }: Props = $props();
</script>

<!--Page title-->
<svelte:head>
  <title>CattleDB: {cow.tag_number}</title>
</svelte:head>

<!--Nav stuff-->
<Nav {logged_in} {username} {update_available} />
<MessagesModal {messages} />

<!--Main body-->
<div class="container-fluid">
  <div class="row">
    <!--Cow information and options-->
    <CowCard {cow} />
    <!--Associated cows, events, transactions-->
    <RelationshipTabs {cow} />
  </div>
</div>
