<script lang="ts">
  // Imports
  import { onMount } from "svelte";
  import Table from "../cows/Table.svelte";
  import Nav from "../general/Nav.svelte";
  import Cards from "../cows/Cards.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";
  import AddCowModal from "../cow/modals/AddCowModal.svelte";
  import CowReportModal from "../cow/modals/CowReportModal.svelte";
  import { Circle } from "svelte-loading-spinners";
  import {
    loadCows,
    loadAllCows,
    isLoading,
    clearCows,
    handleSort,
    getCows,
    CowListType,
    getActiveCowsListType,
    setActiveCowsListType,
    getArchivedCowsVisible,
    setArchivedCowsVisible,
  } from "../helper/CowsHelper.svelte";
  import BulkButtons from "../cow/buttons/BulkButtons.svelte";
  interface Props {
    logged_in: any;
    username: any;
    update_available: any;
    messages: any;
  }

  let { logged_in, username, update_available, messages }: Props = $props();
  // Load some cows as soon as the component mounts
  onMount(() => {
    loadCows();
  });

  // If we get close to the bottom, load more cows.
  function handleScroll() {
    // Get the scroll position and the height of the window
    const { scrollY, innerHeight } = window;

    // Calculate the distance from the bottom of the page
    const distanceFromBottom =
      document.body.offsetHeight - scrollY - innerHeight;

    // If the distance from the bottom is less than 500 pixels and the table is not already loading, load more data
    if (distanceFromBottom < 800 && !isLoading()) {
      loadCows();
    }
  }
  window.addEventListener("scroll", handleScroll);

  // Show the bulk buttons if at least one cow is selected
  let bulk_buttons_visible = $derived(getCows().some((cow) => cow.selected));

  let addCowModalVisible = $state(false);
  function toggleAddCowModal() {
    addCowModalVisible = !addCowModalVisible;
  }
  let cowReportModalVisible = $state(false);
  let preparingToPrint = $state(false);
  let toggleCowReportModal = async () => {
    if (!cowReportModalVisible) {
      preparingToPrint = true;
      await loadAllCows();
    }
    cowReportModalVisible = !cowReportModalVisible;
    preparingToPrint = false;
  };
</script>

<svelte:head>
  <title
    >CattleDB: {getActiveCowsListType() == CowListType.ALL
      ? "Cows"
      : "Current Cows"}</title
  >
</svelte:head>

<Nav {logged_in} {username} {update_available} />
<MessagesModal {messages} />
<AddCowModal bind:isOpen={addCowModalVisible} cows={getCows()} />
<CowReportModal
  isOpen={cowReportModalVisible}
  toggle={toggleCowReportModal}
  results={getCows().map((cow) => {
    return {
      id: cow.tag_number,
      title: cow.tag_number,
    };
  })}
  title={getActiveCowsListType() == CowListType.ALL
    ? "All Cattle"
    : "Current Cows"}
/>
<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        class:active={getActiveCowsListType() == CowListType.ALL}
        id="all-cattle-tab"
        type="button"
        onclick={() => {
          setActiveCowsListType(CowListType.ALL);
          clearCows();
          loadCows();
        }}
        role="tab"
        aria-controls="all-cattle"
        aria-selected="true">All Cattle</button
      >
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        class:active={getActiveCowsListType() == CowListType.CURRENT_COWS}
        id="current-cows-tab"
        type="button"
        role="tab"
        onclick={() => {
          setActiveCowsListType(CowListType.CURRENT_COWS);
          clearCows();
        }}
        aria-controls="current-cows"
        aria-selected="false">Current Cows</button
      >
    </li>
  </ul>
  <div class="row sticky-top bg-light">
    <div class="col-sm-6">
      <p>
        Curently viewing active {getActiveCowsListType() == CowListType.ALL
          ? "cattle"
          : "current cows"}
        in the database{getActiveCowsListType() == CowListType.ALL
          ? ", including cows, bulls, and calves."
          : "."}
      </p>
    </div>
  </div>
  <div class="row sticky-top bg-light">
    <div class="col-sm-6">
      <button class="ml-3 m-2 btn btn-success" onclick={toggleAddCowModal}
        >Add Cow</button
      >
      <a class="m-2 btn btn-success" href="/cows/add_calving_record"
        >Add Calving Record</a
      >
      <a class="m-2 btn btn-success" href="/search?q=">Filter</a>
      {#if preparingToPrint}
        <button type="button" class="btn btn-success">
          <Circle color="#FFFFFF" size="25" />
        </button>
      {:else}
        <button
          class="m-2 btn btn-success"
          onclick={() => {
            toggleCowReportModal();
          }}>Print</button
        >
      {/if}
    </div>
    <div class="d-block my-auto ml-auto text-sm-right">
      <input
        class="d-md-inline-block"
        type="checkbox"
        name="showHideArchived"
        id="showHideArchived"
        onchange={() => {
          setArchivedCowsVisible(!getArchivedCowsVisible());
          clearCows();
          loadCows();
        }}
      />
      <label class="d-inline-block mx-2 my-auto" for="showHideArchived"
        >Show Archived Cows</label
      >
    </div>
    {#if bulk_buttons_visible}
      <div class="my-auto" id="bulk-button-group-wrapper">
        <BulkButtons selectedCows={getCows().filter((cow) => cow.selected)} />
      </div>
    {/if}
  </div>
  <!-- For desktop -->
  <Table />
  <!-- For mobile -->
  <Cards
    cows={getCows()}
    archivedCowsVisible={getArchivedCowsVisible()}
    {handleSort}
  />
</div>
