<!--
  The main component for a single event. 
-->
<script lang="ts">
  // Boilerplate. Navbar and message popups
  import Nav from "../general/Nav.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";

  // Calves, events, transactions with this event
  import RelationshipTabs from "../event/RelationshipTabs.svelte";

  // The main information and options for a event
  import EventCard from "../event/EventCard.svelte";

  interface Props {
    logged_in: any;
    username: any;
    update_available: any;
    messages: any;
    // The event we're looking at
    event: any;
  }

  let { logged_in, username, update_available, messages, event }: Props =
    $props();
</script>

<!--Page title-->
<svelte:head>
  <title>CattleDB: {event.name}</title>
</svelte:head>

<!--Nav stuff-->
<Nav {logged_in} {username} {update_available} />
<MessagesModal {messages} />

<!--Main body-->
<div class="container-fluid">
  <div class="row">
    <!--Event information and options-->
    <EventCard {event} />
    <!--Associated events, events, transactions-->
    <RelationshipTabs {event} />
  </div>
</div>
