<script lang="ts">
  import { untrack } from "svelte";
  // Boilerplate. Navbar and message popups
  import Nav from "../general/Nav.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";
  // Page elements
  import Filters from "../search/Filters.svelte";
  import Results from "../search/Results.svelte";

  interface Props {
    logged_in: any;
    username: any;
    update_available: any;
    messages: any;
    query: any;
  }

  let {
    logged_in,
    username,
    update_available,
    messages,
    query = $bindable(),
  }: Props = $props();

  // Define the default values
  const defaultValues = {
    q: query,
    types: ["Cow", "Event", "Transaction"],
    tags: [],
    owners: [],
    sexes: [],
    event_names: [],
    dates: [],
    transaction_names: [],
    prices: [],
    priceSelected: false,
    tofroms: [],
  };
  let searchParams = $state(defaultValues);

  let loading = $state(false);
  let results = $state([]);

  async function search() {
    if (loading) return;
    loading = true;
    results = [];
    for (const type of searchParams.types) {
      let query = searchParams.q;
      if (query === null || query === "null") {
        query = "";
      }
      const response = await fetch(`/search/search_${type.toLowerCase()}s`, {
        method: "POST",
        body: JSON.stringify({ query: query, filters: searchParams }),
      });
      results = [...results, ...(await response.json())];
    }
    for (const result of results) {
      if (result.selected === undefined) {
        result.selected = false;
      }
      if (result.visible === undefined) {
        result.visible = true;
      }
    }
    loading = false;
  }
  $effect(() => {
    // Svelte doesn't detect async reads to searchParams
    // So, we have to read it synchronously here
    // Touching these console.logs will break things
    console.log(searchParams);
    console.log(searchParams.types);
    console.log(searchParams.tags);
    console.log(searchParams.owners);
    console.log(searchParams.sexes);
    console.log(searchParams.event_names);
    console.log(searchParams.dates);
    console.log(searchParams.transaction_names);
    console.log(searchParams.prices[0]);
    console.log(searchParams.prices[1]);
    console.log(searchParams.priceSelected);
    console.log(searchParams.tofroms);
    console.log(searchParams.dam);
    console.log(searchParams.sire);
    if (searchParams.types.length > 0) {
      untrack(() => {
        search();
      });
    }
  });
</script>

<svelte:head>
  <title>
    {results.length} result{results.length == 1 ? "" : "s"} found for
    {query}:
  </title>
</svelte:head>
<!--Nav stuff-->
<Nav
  {logged_in}
  {username}
  {update_available}
  {query}
  onSearch={(e, query) => {
    searchParams.q = query;
    search();
  }}
/>
<MessagesModal {messages} />
<div class="container-fluid">
  <div class="row">
    <div class="mb-3 col-sm-12 d-md-none">
      <form
        id="search-form"
        action="/search"
        onsubmit={(e) => {
          e.preventDefault();
          searchParams.q = query;
          search();
        }}
      >
        <div class="input-group">
          <input
            name="q"
            class="form-control rounded"
            type="search"
            placeholder="Search"
            aria-label="Search"
            bind:value={query}
          />
          <button
            class="input-group-text border-0 btn btn-primary"
            type="submit"
            aria-label="Search"
            ><i class="bi bi-search"></i>
          </button>
        </div>
      </form>
    </div>
    <Filters bind:searchParams {search} />
    <Results {results} {searchParams} {loading} />
  </div>
</div>
