<script lang="ts">
  // Boilerplate. Navbar and message popups
  import Nav from "../general/Nav.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";
  import AddCalfModal from "../cow/modals/AddCalfModal.svelte";

  import {
    Modal,
    ModalHeader,
    ModalBody,
    ModalFooter,
  } from "@sveltestrap/sveltestrap";
  // import { deleteUPnP } from "../helper/manageUPnP";

  interface Props {
    logged_in: any;
    username: any;
    update_available: any;
    messages: any;
    users: any;
    ssid: any;
  }

  let { logged_in, username, update_available, messages, users, ssid }: Props =
    $props();

  let deleteBothModalVisible = $state(false);
  const toggleDeleteBothModal = () => {
    deleteBothModalVisible = !deleteBothModalVisible;
  };

  let upnpStatusTitle = $state("");
  let upnpStatusMessage = $state("");

  let upnpStatusModalVisible = $state(false);
  const toggleUpnpStatusModal = () => {
    upnpStatusModalVisible = !upnpStatusModalVisible;
  };

  let deleteUPnPRulesConfirmationModalVisible = $state(false);
  const toggleDeleteUPnPRulesConfirmationModal = () => {
    deleteUPnPRulesConfirmationModalVisible =
      !deleteUPnPRulesConfirmationModalVisible;
  };

  function addUPnP(button) {
    button.disabled = true;
    button.innerHTML = "Adding...";
    window.location.href = "/settings/add_upnp";
  }

  function deleteUPnP(button: HTMLButtonElement) {
    button.disabled = true;
    button.innerHTML = "Removing...";
    window.location.href = "/settings/delete_upnp";
  }
  async function checkUPnP(button: HTMLButtonElement) {
    const origInnerHTML = button.innerHTML;
    button.disabled = true;
    button.innerHTML = "Checking...";
    let response = await fetch("/settings/check_upnp");
    let responseJSON = await response.json();
    button.disabled = false;
    button.innerHTML = origInnerHTML;
    upnpStatusModalVisible = true;
    if (!responseJSON["check_successful"]) {
      upnpStatusTitle = "Failed to Check";
      upnpStatusMessage =
        "Failed to check UPnP Status. " + responseJSON["failure_reason"];
    } else if (responseJSON.rules.length == 0) {
      upnpStatusTitle = "No Rule";
      upnpStatusMessage =
        "There are no UPnP rules configured for CattleDB. Your CattleDB instance will not be available outside of " +
        responseJSON.ssid +
        " unless manually configured.";
    } else if (responseJSON.rules.length > 1) {
      upnpStatusTitle = "Multiple Rules";
      upnpStatusMessage = "There are multiple rules configured for CattleDB.";
    } else if (
      responseJSON.rules[0].toAddr != responseJSON.host_private_ip_address
    ) {
      upnpStatusTitle = "Different Host Computer";
      upnpStatusMessage =
        "A UPnP rule is configured but it's not set up for this device (" +
        responseJSON["host_private_ip_address"] +
        "). Instead it's sending traffic to " +
        responseJSON.rules[0].toAddr;
    } else if (responseJSON.rules[0].port != responseJSON.default_port) {
      upnpStatusTitle = "Different Port";
      upnpStatusMessage =
        "CattleDB is listening for traffic on port " +
        responseJSON.default_port +
        " but the UPnP rule is set up for port " +
        responseJSON.rules[0].port +
        ". ";
    } else {
      upnpStatusTitle = "All Set!";
      upnpStatusMessage =
        "It looks like UPnP is set up correctly. If you visit " +
        responseJSON.host_public_ip_address +
        ":" +
        responseJSON.default_port +
        "/ from a network other than " +
        responseJSON.ssid +
        " you should see the login screen for your CattleDB instance!";
    }
  }
</script>

<!--Nav stuff-->
<Nav {logged_in} {username} {update_available} />
<MessagesModal {messages} />

<div class="container">
  <div class="row">
    <div class="col-md-3 sticky">
      <ul class="nav flex-column sticky-top">
        <li class="nav-item mt-5">
          <a class="nav-link" href="#users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#addUser">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#changeUsername">Change Username</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#changePassword">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reconfigureUPnP">Reconfigure UPnP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#downloadFiles">Download Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#deleteAccount"
            >Delete Account</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#deleteConfig">Delete Config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#deleteDatabase"
            >Delete Database</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#deleteDatabase"
            >Delete Config and Database</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <section class="my-4" id="users">
        <h3>Users</h3>
        <p>Users currently set up to use CattleDB:</p>
        {#if users.length == 0}
          <div class="alert alert-danger" role="alert">
            There are no users configured to use CattleDB! If you log out, you
            won't be able to log in again.
            <b
              ><a class="text-danger" href="#addUser">Create a new user</a> immediately!</b
            >
          </div>
        {/if}
        <ul>
          {#each users as user}
            <li>{user}</li>
          {/each}
        </ul>
      </section>
      <section class="my-4" id="addUser">
        <h3>Add User</h3>
        <p>
          Add a new username and password combination to log in to CattleDB.
          This account will have full access to CattleDB and will be able to
          view, modify, and delete all CattleDB records.
        </p>
        <form action="/settings/add_user" method="post">
          <p>Username:</p>
          <input name="username" type="text" class="w-25 form-control" /><br />
          <p>Password:</p>
          <input name="password" type="password" class="w-25 form-control" /><br
          />
          <input type="submit" value="Submit" class="btn btn-success" />
        </form>
      </section>
      <section class="my-4" id="changeUsername">
        <h3>Change Username</h3>
        <p>You are logged in as <b>{username}</b></p>
        <p>
          Here you can change your username. If you check "Change cow ownership"
          all cows owned by
          {username} will have their ownership updated to your new username.
        </p>
        <form action="/settings/change_username" method="post">
          <input name="new_username" type="text" class="form-control w-25" /><br
          />
          <input
            name="change_cow_ownership"
            type="checkbox"
            id="changeCowOwnership"
          />
          <label for="changeCowOwnership">Change cow ownership</label><br /><br
          />
          <input type="submit" value="Submit" class="btn btn-success" />
        </form>
      </section>
      <section class="my-4" id="changePassword">
        <h3>Change Password</h3>
        <form action="/settings/change_password" method="post">
          <p>Old Password:</p>
          <input
            name="old_password"
            type="password"
            class="form-control w-25"
          /><br /><br />
          <p>New Password:</p>
          <input
            name="new_password"
            type="password"
            class="form-control w-25"
          /><br /><br />
          <p>Confirm New Password:</p>
          <input
            name="confirm_new_password"
            type="password"
            class="form-control w-25"
          /><br /><br />
          <input type="submit" value="Submit" class="btn btn-success" />
        </form>
      </section>
      <section class="my-4" id="reconfigureUPnP">
        <h3>Reconfigure UPnP</h3>
        <p>
          CattleDB uses <a
            href="https://www.lifewire.com/universal-plug-and-play-4153001"
            >Universal Plug and Play (UPnP)</a
          >
          to make itself available on outside networks (networks other than {ssid}).
          These optional allow you to reconfigure the way UPnP is set up for
          CattleDB. It's also possible to use
          <a href="https://portforward.com">port forwarding</a> to make CattleDB
          available on other networks, but this needs to be configured manually in
          order to work.
        </p>
        <b>Check UPnP Status: </b> Checks to see if a UPnP rule exists for
        CattleDB, and if it's set up correctly. This may take a few seconds on
        host computers running Windows.
        <br />
        <b>Add UPnP Rule: </b> Will attempt to make CattleDB available on
        outside networks. <br />
        <b>Remove UPnP Rule: </b> Will undo all configuration changes made by
        CattleDB. All CattleDB UPnP rules will be removed (non CattleDB rules
        won't be changed).
        <b
          >This will make CattleDB inaccessible to any device that is not
          connected to {ssid}!</b
        >
        (unless you've manually configured your network.) <br />
        <br />
        <button class="btn btn-secondary" onclick={(e) => checkUPnP(e.target)}
          ><i class="bi bi-activity"></i> Check UPnP Status</button
        >
        <button
          class="btn btn-primary py-auto"
          onclick={(e) => addUPnP(e.target)}
          ><i class="bi bi-plus-circle"></i> Add UPnP Rule</button
        >
        <button
          class="btn btn-warning"
          onclick={toggleDeleteUPnPRulesConfirmationModal}
          ><i class="bi bi-dash-circle"></i> Remove UPnP Rules</button
        >
        <Modal isOpen={upnpStatusModalVisible} toggle={toggleUpnpStatusModal}>
          <ModalHeader children={false}
            >Upnp status: {upnpStatusTitle}</ModalHeader
          >
          <ModalBody>{upnpStatusMessage}</ModalBody>
          <ModalFooter>
            <button
              class="btn btn-secondary"
              onclick={() => {
                toggleUpnpStatusModal();
              }}>Cancel</button
            >
          </ModalFooter>
        </Modal>
        <Modal
          isOpen={deleteUPnPRulesConfirmationModalVisible}
          toggle={toggleDeleteUPnPRulesConfirmationModal}
        >
          <ModalHeader children={false}>Remove UPnP Rules</ModalHeader>
          <ModalBody>
            This will undo all configuration changes made by CattleDB. All
            CattleDB UPnP rules will be removed (non CattleDB rules won't be
            changed). <b
              >This will make CattleDB inaccessible to any device that is not
              connected to {ssid}!</b
            > (unless you've manually configured your network.)
          </ModalBody>
          <ModalFooter>
            <button
              class="btn btn-secondary"
              onclick={toggleDeleteUPnPRulesConfirmationModal}>Cancel</button
            >
            <button onclick={() => deleteUPnP(this)} class="btn btn-danger"
              ><i class="bi bi-trash3-fill"></i> Delete UPnP Rules</button
            >
          </ModalFooter>
        </Modal>
      </section>
      <section class="my-4" id="downloadFiles">
        <h3>Download Files</h3>
        <p>
          Download copies of CattleDB files, either as a backup copy or to move
          to a new host computer. <b
            >It is strongly recommended that you keep a backup copy of your
            database, and make a new backup before performing any major changes.</b
          >
        </p>
        <a
          href="/settings/download_database"
          target="_blank"
          class="btn btn-success"
        >
          <i class="bi bi-download"></i>
          Download Database</a
        >
        <a
          href="/settings/download_config"
          target="_blank"
          class="btn btn-success"
        >
          <i class="bi bi-download"></i>
          Download Config</a
        >
      </section>
      <h2>The Danger Zone</h2>
      <p>
        Don't click any of these buttons unless you're <em
          >absolutely certain</em
        > you know what you're doing.
      </p>
      <section class="text-danger" id="deleteAccount">
        <h3>Delete Account</h3>
        <p>
          This will permanently delete <b>{username}'s</b> account. No records
          will be affected, but you
          <b>will not be able to log in using these credentials.</b>
        </p>
        <button
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#deleteAccountModal"
        >
          <i class="bi bi-trash3-fill"></i>
          Delete Account
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="deleteAccountModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form
                id="deleteAccount"
                action="/settings/delete_account"
                method="post"
              >
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Delete Account
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete your account? <br />
                  You are logged in as:
                  <b>{username}</b><br />
                  If you're sure, enter your password to continue:
                  <input name="password" type="password" class="form-control" />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-success"
                    data-dismiss="modal"
                    ><i class="bi bi-house-door-fill"></i> Back to Safety</button
                  >
                  <input
                    type="submit"
                    class="btn btn-danger"
                    value="Delete Account"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="my-4" id="deleteConfig">
        <h3 class="mt-3 text-danger">Delete Config</h3>
        <p class="text-danger">
          This will completely delete your CattleDB configuration. Cows, events,
          and transactions will be preserved, but all usernames, passwords, and
          network configuration information will be lost. This may cause
          unexpected behavior. <b
            >You will be redirected to the install screen to import or create a
            new config!</b
          >
        </p>
        <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#deleteConfigModal"
        >
          <i class="bi bi-trash3-fill"></i> Delete Config
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="deleteConfigModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form
                id="deleteConfig"
                action="/settings/delete_config"
                method="post"
              >
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Delete Config
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete your configuration file? If
                  you're sure, enter your password to continue:
                  <input name="password" type="password" class="form-control" />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-success"
                    data-dismiss="modal"
                    ><i class="bi bi-house-door-fill"></i> Back to Safety</button
                  >
                  <input
                    type="submit"
                    class="btn btn-danger"
                    value="Delete Config"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="my-4" id="deleteDatabase">
        <h3 class="mt-3 text-danger">Delete Database</h3>
        <p class="text-danger">
          This will completely delete your entire CattleDB database. All cows,
          events, and transactions will be deleted. <b
            >You will be redirected to the install screen to import or create a
            new database!</b
          >
        </p>
        <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#deleteDatabaseModal"
        >
          <i class="bi bi-trash3-fill"></i> Delete Database
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="deleteDatabaseModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form
                id="deleteDatabase"
                action="/settings/delete_database"
                method="post"
              >
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Delete Database
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete your database? If you're sure,
                  enter your password to continue:
                  <input name="password" type="password" class="form-control" />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-success"
                    data-dismiss="modal"
                  >
                    <i class="bi bi-house-door-fill"></i> Back to Safety</button
                  >
                  <input
                    type="submit"
                    class="btn btn-danger"
                    value="Delete Database"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="my-4" id="deleteDatabase">
        <h3 class="mt-3 text-danger">Delete Config and Database</h3>
        <p class="text-danger">
          This will completely delete your entire CattleDB config and database.
          All cows, events, and transactions, usernames, passwords, and network
          configuration information will be deleted.
          <b
            >You will be redirected to the install screen to import or create a
            new config and database!</b
          >
        </p>
        <button
          type="button"
          class="btn btn-danger"
          onclick={toggleDeleteBothModal}
          ><i class="bi bi-trash3-fill"></i> Delete Config and Database
        </button>
        <Modal isOpen={deleteBothModalVisible} toggle={toggleDeleteBothModal}>
          <ModalHeader children={false}>Delete Config and Database</ModalHeader>
          <form id="deleteBoth" action="/settings/delete_both" method="post">
            <ModalBody>
              Are you sure you want to delete your database and configuration
              file? If you're sure, enter your password to continue:
              <input name="password" type="password" class="form-control" />
            </ModalBody>
            <ModalFooter>
              <button type="button" class="btn btn-success" data-dismiss="modal"
                ><i class="bi bi-house-door-fill"></i> Back to Safety</button
              >
              <input
                type="submit"
                class="btn btn-danger"
                value="Delete Config and Database"
              />
            </ModalFooter>
          </form>
        </Modal>
      </section>
    </div>
  </div>
</div>
