<!--
  The main component for a single transaction. 
-->
<script lang="ts">
  // Boilerplate. Navbar and message popups
  import Nav from "../general/Nav.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";

  // Calves, transactions, transactions with this transaction
  import RelationshipTabs from "../transaction/RelationshipTabs.svelte";

  // The main information and options for a transaction
  import TransactionCard from "../transaction/TransactionCard.svelte";

  interface Props {
    logged_in: any;
    username: any;
    update_available: any;
    messages: any;
    transaction: any;
  }

  let { logged_in, username, update_available, messages, transaction }: Props =
    $props();
</script>

<!--Page title-->
<svelte:head>
  <title>CattleDB: {transaction.name}</title>
</svelte:head>

<!--Nav stuff-->
<Nav {logged_in} {username} {update_available} />
<MessagesModal {messages} />

<!--Main body-->
<div class="container-fluid">
  <div class="row">
    <!--Transaction information and options-->
    <TransactionCard {transaction} />
    <!--Associated transactions, transactions, transactions-->
    <RelationshipTabs {transaction} />
  </div>
</div>
