<script lang="ts">
  // Imports
  import { onMount } from "svelte";
  import Table from "../transactions/Table.svelte";
  import Nav from "../general/Nav.svelte";
  import Cards from "../transactions/Cards.svelte";
  import MessagesModal from "../general/MessagesModal.svelte";
  import BulkButtons from "../transaction/buttons/BulkButtons.svelte";

  interface Props {
    logged_in: any;
    username: any;
    update_available: any;
    messages: any;
  }

  let { logged_in, username, update_available, messages }: Props = $props();

  // The currently loaded transactions
  let transactions = $state([]);
  // The group of transactions to load next
  let page = $state(0);

  // Whether or not we're actively loading more transactions
  let loading = $state(false);
  // Wether or not we've already loaded any transactions
  let loadingFirstPage = $derived(loading && page == 0);

  // Default sorting parameters
  let sortField = $state("date");
  let sortDirection = $state("desc");

  // Load in a group of transactions
  async function loadData(replace) {
    // Set the loading flag
    loading = true;

    // Reset if requested
    if (replace) {
      transactions = [];
      page = 0;
    }
    // Get the transactions
    const response = await fetch(
      `/transactions/page/${page}?direction=${sortDirection}&field=${sortField}&include_archived=${archivedTransactionsVisible}`
    );
    // Put into the transactions array
    const newData = await response.json();
    transactions = [...transactions, ...newData];

    // Get ready to load the next page
    page++;
    // Indicate that loading is completes
    loading = false;
  }

  // Load some transactions as soon as the component mounts
  onMount(() => {
    loadData(false);
  });

  // If we get close to the bottom, load more transactions.
  function handleScroll() {
    // Get the scroll position and the height of the window
    const { scrollY, innerHeight } = window;

    // Calculate the distance from the bottom of the page
    const distanceFromBottom =
      document.body.offsetHeight - scrollY - innerHeight;

    // If the distance from the bottom is less than 500 pixels and the table is not already loading, load more data
    if (distanceFromBottom < 800 && !loading) {
      loadData(false);
    }
  }
  window.addEventListener("scroll", handleScroll);

  // Whether or not to show archived transactions
  let archivedTransactionsVisible = $state(false);
  async function handleSort(event) {
    let field;
    if (event.target.dataset.field) {
      field = event.target.dataset.field;
    } else {
      field = event.target.value;
    }
    if (sortField === field) {
      if (sortDirection == "desc") {
        sortDirection = "asc";
      } else {
        sortDirection = "desc";
      }
    } else {
      sortField = field;
      sortDirection = "asc";
    }
    await loadData(true);
  }

  // Deselect all of them
  transactions.map((transaction) => {
    transaction.selected = false;
  });

  // Show the bulk buttons if at least one transaction is selected
  let bulk_buttons_visible = $state();
  $effect(() => {
    bulk_buttons_visible = transactions.some(
      (transaction) => transaction.selected
    );
  });

  // Opt into tooltips for the bulk buttons
  //@ts-ignore
  const jq = window.$;
  $effect(() => {
    bulk_buttons_visible &&
      jq(function () {
        jq('[data-toggle="tooltip"]').tooltip();
      });
  });
</script>

<svelte:head>
  <title>CattleDB: Transactions</title>
</svelte:head>

<Nav {logged_in} {username} {update_available} />
<MessagesModal {messages} />
<!--<AddTransactionModal bind:isOpen={addTransactionModalVisible} {transactions} />-->
<div class="container-fluid">
  <div class="row sticky-top bg-light">
    <div class="col-sm-6"></div>
    <div class="d-block my-auto ml-auto text-sm-right">
      <input
        class="d-md-inline-block"
        type="checkbox"
        name="showHideArchived"
        id="showHideArchived"
        bind:checked={archivedTransactionsVisible}
        onchange={() => {
          loadData(true);
        }}
      />
      <label class="d-inline-block mx-2 my-auto" for="showHideArchived"
        >Show Archived Transactions</label
      >
    </div>
    {#if bulk_buttons_visible}
      <div class="my-auto" id="bulk-button-group-wrapper">
        <BulkButtons
          selectedTransactions={transactions.filter(
            (transaction) => transaction.selected
          )}
          onTransactionUpdate={() => {
            transactions = transactions;
          }}
        />
      </div>
    {/if}
  </div>
  <!-- For desktop -->
  <Table
    bind:transactions
    {archivedTransactionsVisible}
    {handleSort}
    {sortField}
    {sortDirection}
    {loadingFirstPage}
  />
  <!-- For mobile -->
  <Cards bind:transactions {archivedTransactionsVisible} {handleSort} />
</div>
