{% extends 'installer/base.html' %}
{% block content %}
<h3>Create User</h3>
<hr class="mt-0">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message != "" %}
<div class="alert alert-warning" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}
{% endwith %}
<p>Creating a new configuration file. First, let's set up your credentials:</p>
<form action="http://localhost:{{port}}/install/create_credentials" method="post">
    <p>Name</p>
    <input class="form-control" type="text" name="username" />
    <p>Password</p>
    <input class="form-control" type="password" name="password" />
    <p>Confirm Password</p>
    <input class="form-control" type="password" name="confirm_password" />
    <input class="btn btn-primary d-block text-center mx-auto mt-2" type="submit" value="Create Credentials" />
    {% if allow_skip %}
    <div class="text-center"><a href="/install" class="btn btn-secondary mt-2">Skip</a></div>{%
    endif %}
</form>
{%endblock%}
{%block script%}
{%endblock%}