{% extends 'installer/base.html' %}
{% block content %}
<h3>Third-Party Libraries</h3>
<hr class="mt-0">
<p>CattleDB would not be possible without these open source projects:</p>
<section class="mt-5">
    <h4><a href="https://github.com/pallets/flask">Flask</a></h4>
    <p>Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy,
        with
        the ability to scale up to complex applications. It began as a simple wrapper around Werkzeug and Jinja and has
        become one of the most popular Python web application frameworks.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2010 %}
        {% set owner = "Pallets" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/pallets-eco/flask-sqlalchemy">Flask-SQLAlchemy</a></h4>
    <p>Flask-SQLAlchemy is an extension for Flask that adds support for SQLAlchemy to your application. It aims to
        simplify using SQLAlchemy with Flask by providing useful defaults and extra helpers that make it easier to
        accomplish common tasks.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2010 %}
        {% set owner = "Pallets" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/wtforms/flask-wtf">Flask-WTF</a></h4>
    <p>Simple integration of Flask and WTForms, including CSRF, file upload, and reCAPTCHA.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2010 %}
        {% set owner = "WTForms" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/pallets/jinja">Jinja2</a></h4>
    <p>Jinja is a fast, expressive, extensible templating engine. Special placeholders in the template allow writing
        code similar to Python syntax. Then the template is passed data to render the final document.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2007 %}
        {% set owner = "Pallets" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/pallets/markupsafe">MarkupSafe</a></h4>
    <p>MarkupSafe implements a text object that escapes characters so it is safe to use in HTML and XML. Characters that
        have special meanings are replaced so that they display as the actual characters. This mitigates injection
        attacks, meaning untrusted user input can safely be displayed on a page.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2010 %}
        {% set owner = "Pallets" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/sqlalchemy/sqlalchemy">SQLAlchemy</a></h4>
    <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full
        power and flexibility of SQL. SQLAlchemy provides a full suite of well known enterprise-level persistence
        patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain
        language.</p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        {% set year = "2005-2022" %}
        {% set owner = "SQLAlchemy authors and contributors <see AUTHORS file>" %}
            <p>{% include 'installer/licenses/mit/mit.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/arsenetar/send2trash">Send2Trash</a></h4>
    <p>Send2Trash is a small package that sends files to the Trash (or Recycle Bin) natively and on all platforms. On OS
        X, it uses native FSMoveObjectToTrashSync Cocoa calls or can use pyobjc with NSFileManager. On Windows, it uses
        native IFileOperation call if on Vista or newer and pywin32 is installed or falls back to SHFileOperation calls.
        On other platforms, if PyGObject and GIO are available, it will use this. Otherwise, it will fallback to its own
        implementation of the trash specifications from freedesktop.org.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2017 %}
        {% set owner = "Virgil Dupras" %}
        <p>{% include 'installer/licenses/bsd/bsd_all_rights_reserved.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/neogeny/TatSu">竜 TatSu</a></h4>
    <p>竜 TatSu is a tool that takes grammars in a variation of EBNF as input, and outputs memoizing (Packrat) PEG
        parsers in Python.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        <p>{% include 'installer/licenses/bsd/bsd_tatsu.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/wtforms/wtforms">WTForms</a></h4>
    <p>WTForms is a flexible forms validation and rendering library for Python web development. It can work with
        whatever web framework and template engine you choose. It supports data validation, CSRF protection,
        internationalization (I18N), and more. There are various community libraries that provide closer integration
        with popular frameworks.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2008 %}
        {% set owner = "WTForms" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/pallets/werkzeug">Werkzeug</a></h4>
    <p>Werkzeug is a comprehensive WSGI web application library. It began as a simple collection of various utilities
        for WSGI applications and has become one of the most advanced WSGI utility libraries.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2007 %}
        {% set owner = "Pallets" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="#">Arrow</a></h4>
    <p>Apache Arrow is a development platform for in-memory analytics. It contains a set of technologies that enable big
        data systems to process and move data fast.</p>
    <a class="collapsible">Apache Software License</a>
    <div class="content">
        {% set year = "[yyyy]" %}
        {% set owner = "[name of copyright owner]" %}
        <p>{% include 'installer/licenses/apache/apache_2.0.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/python-attrs/attrs">attrs</a></h4>
    <p>attrs is the Python package that will bring back the joy of writing classes by relieving you from the drudgery of
        implementing object protocols (aka dunder methods). Trusted by NASA for Mars missions since 2020!</p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        {% set year = 2015 %}
        {% set owner = "Hynek Schlawack" %}
        <p>{% include 'installer/licenses/mit/mit_the_mit_license.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/certifi/python-certifi">Certifi</a></h4>
    <p>Certifi provides Mozilla's carefully curated collection of Root Certificates for validating the trustworthiness
        of SSL certificates while verifying the identity of TLS hosts. It has been extracted from the Requests project.
    </p>
    <a class="collapsible">Mozilla Public License 2.0 (MPL 2.0)</a>
    <div class="content">
        <p>{% include 'installer/licenses/mpl2.0.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/Ousret/charset_normalizer">charset-normalizer</a></h4>
    <p>A library that helps you read text from an unknown charset encoding.
        Motivated by chardet, I'm trying to resolve the issue by taking a new approach. All IANA character set names for
        which the Python core library provides codecs are supported.
    </p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        {% set year = 2019 %}
        {% set owner = "TAHRI Ahmed R." %}
        <p>{% include 'installer/licenses/mit/mit_mit_license.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/pallets/click">Click</a></h4>
    <p>Click is a Python package for creating beautiful command line interfaces in a composable way with as little code
        as necessary. It's the "Command Line Interface Creation Kit". It's highly configurable but comes with sensible
        defaults out of the box.
    </p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2014 %}
        {% set owner = "Pallets" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/flask-extensions/Flask-SimpleLogin">Flask-SimpleLogin</a></h4>
    <p>The simplest way to add login to flask! </p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        {% set year = 2017 %}
        {% set owner = "Bruno Rocha" %}
        <p>{% include 'installer/licenses/mit/mit_mit_license.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="#">Greenlet</a></h4>
    <p>Greenlets are lightweight coroutines for in-process concurrent programming.</p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        <p>{% include 'installer/licenses/mit/mit_greenlet.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/ics-py/ics-py">Ics.py</a></h4>
    <p>Ics.py is a pythonic and easy iCalendar library. Its goals are to read and write ics data in a developer friendly
        way.</p>
    <a class="collapsible">Apache Software License</a>
    <div class="content">
        <p>{% include 'installer/licenses/apache/apache_2.0_ics.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/kjd/idna">Internationalized Domain Names in Applications (IDNA)</a></h4>
    <p>Support for the Internationalised Domain Names in Applications (IDNA) protocol as specified in RFC 5891. This is
        the latest version of the protocol and is sometimes referred to as “IDNA 2008”.</p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = "2013-2021" %}
        {% set owner = "Kim Davies" %}
        <p>{% include 'installer/licenses/bsd/bsd_3_clause.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/pallets/itsdangerous">ItsDangerous</a></h4>
    <p>
        Various helpers to pass data to untrusted environments and to get it back safe and sound. Data is
        cryptographically signed to ensure that a token has not been tampered with.
    </p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = 2011 %}
        {% set owner = "Pallets" %}
        <p>{% include 'installer/licenses/bsd/bsd.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://pypi.org/project/miniupnpc/">MiniUPnPc</a></h4>
    <p>
        Various helpers to pass data to untrusted environments and to get it back safe and sound. Data is
        cryptographically signed to ensure that a token has not been tampered with.
    </p>
    <a class="collapsible">BSD License</a>
    <div class="content">
        {% set year = "2005-2016" %}
        {% set owner = "Thomas BERNARD" %}
        <p>{% include 'installer/licenses/bsd/bsd_all_rights_reserved.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/dateutil/dateutil">dateutil</a></h4>
    <p>
        The dateutil module provides powerful extensions to the standard datetime module, available in Python.
    </p>
    <a class="collapsible">Apache License</a>
    <div class="content">
        <p>{% include 'installer/licenses/apache/apache_2.0_dateutil.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/psf/requests">Requests</a></h4>
    <p>
        Requests is a simple, yet elegant, HTTP library.
    </p>
    <a class="collapsible">Apache Software License</a>
    <div class="content">
        <p>{% include 'installer/licenses/apache/apache_2.0_requests.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="#">Six</a></h4>
    <p>
        Six is a Python 2 and 3 compatibility library. It provides utility functions for smoothing over the differences
        between the Python versions with the goal of writing Python code that is compatible on both Python versions. See
        the documentation for more information on what is provided.
    </p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        {% set year = "2010-2020" %}
        {% set owner = "Benjamin Peterson" %}
        <p>{% include 'installer/licenses/mit/mit.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="#">urllib3</a></h4>
    <p>
        urllib3 is a powerful, user-friendly HTTP client for Python. Much of the Python ecosystem already uses urllib3
        and you should too. urllib3 brings many critical features that are missing from the Python standard libraries
    </p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        {% set year = "2008-2020" %}
        {% set owner = "Andrey Petrov and contributors (see CONTRIBUTORS.txt)" %}
        <p>{% include 'installer/licenses/mit/mit_mit_license.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="#">version-parser</a></h4>
    <p>
        The version parser is able to parse versions and figure out which of them are build in one of the following
        three formats: Major-Version, Minor-Version and Build-Version.
    </p>
    <a class="collapsible">MIT License</a>
    <div class="content">
        {% set year = "datetime.now().year" %}
        {% set owner = "Stefan Eiermann" %}
        <p>{% include 'installer/licenses/mit/mit.html'%}</p>
    </div>
</section>
<section class="mt-5">
    <h4><a href="https://github.com/Pylons/waitress">waitress</a></h4>
    <p>
        Waitress is a production-quality pure-Python WSGI server with very acceptable performance. It has no
        dependencies except ones which live in the Python standard library. It runs on CPython on Unix and Windows under
        Python 3.7+. It is also known to run on PyPy 3 (version 3.7 compatible python) on UNIX. It supports HTTP/1.0 and
        HTTP/1.1.
    </p>
    <a class="collapsible">Zope Public License</a>
    <div class="content">
        <p>{% include 'installer/licenses/zpl2.0.html'%}</p>
    </div>
</section>
<hr>
<footer>
    <small>
        <i>
            Descriptions and library names are copyright of their respective projects and have been sourced from their
            README files unless stated otherwise.
            <br>
            <br>
            Is the incorrect project license or project information being shown? <a
                href="mailto:support@jforseth.com">Contact Me</a>
        </i>
    </small>
</footer>
<style>
    .content {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}