{% extends 'installer/base.html' %}
{% block content %}
<h3>Create Additional Users</h3>
<hr class="mt-0">
<p>Would you like to create another user?</p>
<a class="btn btn-secondary my-1" href="/install/create_credentials">Yes</a>
<a class="btn btn-primary my-1" href="/install">No</a>
{%endblock%}
{%block script%}
{%endblock%}