{% extends 'installer/base.html' %}
{% block content %}
<h3>Install UPnP Wizard</h3>
<hr class="mt-0">
<p>CattleDB needs an additional program to configure your network. Please download and install UPnP Wizard from the link
    below:</p>
<a href="https://www.xldevelopment.net/upnpwiz.php">https://www.xldevelopment.net/upnpwiz.php</a>
<a class="mt-3 btn btn-primary" href="/install/setup_online_mode">I've installed UPnP Wizard</a>
{%endblock%}
{%block script%}
{%endblock%}