{% extends 'installer/base.html' %}
{% block content %}
<h3>Set Up Network</h3>
<hr class="mt-0">
<p>How would you like to access CattleDB?</p>
<b>Offline Mode:</b>
<p>Only use CattleDB from {{ssid}}. Do not attempt to add a UPnP rule. This will prevent anyone from accessing CattleDB without being connected to {{ssid}}. This is more secure but less convenient.</p>
<b>Online Mode:</b>
<p>Attempt to configure your internet connection so you can use CattleDB on networks other than {{ssid}}. This is more
    convienient, but less secure. It may not work depending on how your network is set up. If you wish to configure your network manually using port forwarding or other means, please use Offline Mode.</p>
<a class="btn btn-primary" href="/install/setup_offline_mode">Offline Mode</a>
<a class="btn btn-secondary mt-3" href="/install/setup_online_mode">Online Mode</a>

{%endblock%}
{%block script%}
{%endblock%}
