{% extends 'installer/base.html' %}
{% block content %}
<h3>Configuration</h3>
<hr class="mt-0">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message != "" %}
<div class="alert alert-warning" role="alert">
    {{message}}
</div>
{%endif%}
{% endfor %}
{% endif %}
{% endwith %}
<p>Now, we need to create a configuration file. If you have an existing CattleDB installation, you can import the old
    config.json
    file. Otherwise, click "Create a New Config"</p>
<div class="mx-auto w-100 h-100 card" id="dropzone" ondrop="dropHandler(event);" ondragenter="dragEnterHandler(event);"
    ondragover="dragEnterHandler(event);" ondragleave="dragLeaveHandler(event);">
    <p class="text-center p-4 my-auto text-secondary" id="dropMessage">
        <label for="fileInput" class="file-selection-text text-secondary d-inline">Select a config.json
            file</label>
        or drop a config.json file here...
    </p>
</div>
<form id="fileForm" method="post" action="http://localhost:{{port}}/install/import_config"
    enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" class="visually-hidden" />
</form>
<p class="text-center m-2">~ or ~</p>
<a href="http://localhost:{{port}}/install/create_config" class="btn btn-primary mt-auto">Create a New
    Configuration</a>
    {%endblock%}
    {%block script%}
    <script>
        function dragEnterHandler(ev) {
            document.getElementById("dropMessage").classList.add("text-primary")
            document.getElementById("dropMessage").classList.remove("text-secondary")
            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }

        function dragLeaveHandler(ev) {
            document.getElementById("dropMessage").classList.add("text-secondary")
            document.getElementById("dropMessage").classList.remove("text-primary")
            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }
        function dropHandler(e) {

            e.stopPropagation();
            e.preventDefault();
            document.getElementById("dropMessage").classList.add("text-secondary")
            document.getElementById("dropMessage").classList.remove("text-primary")

            const dt = e.dataTransfer;
            const files = dt.files;

            handleFiles(files);
        }
        async function handleFiles(files) {

            if (files.length > 1) {
                alert("Please only upload one file");
                return;
            }
            let formData = new FormData();
            formData.append("file", files[0]);
            //network request using POST method of fetch
            await fetch('http://localhost:{{port}}/install/import_config', {
                method: "POST",
                body: formData,
                redirect: "manual"
            }).then((response) => {
                window.location.href = response.url;
            });
        }
        document.getElementById("fileInput").onchange = function () {
            document.getElementById("fileForm").submit();
        };
    </script>
    {%endblock%}
