{% extends 'installer/base.html' %}
{% block content %}
<h3>CattleDB Installed!</h3>
<hr class="mt-0">
<p>Success! CattleDB has been installed!</p>
<p>You should be able to access CattleDB at one of the links below</p>
<p>If you are on the same network as this computer ({{ssid}}), connect using this link (LAN Address):</p>
<b><a href="{{private_ip}}">{{private_ip}}</a></b>
{% if using_wan %}
<p class="mt-3">If you are on a different network (not {{ssid}}), and you set up online mode or manually configured the
    server,
    connect
    using this link (WAN Address):</p>
<b><a href="{{public_ip}}">{{public_ip}}</a></b>
{% else %}
<p class="mt-3">If you are on a different network (not {{ssid}}), you will need to manually configure your network. If
    you have, you should be able to access CattleDB using this link (WAN Address):</p>
<b><a href="{{public_ip}}">{{public_ip}}</a></b>
{% endif %}
<a href="/" class="btn btn-primary mt-3">Go to CattleDB</a>
<button type="button" class="btn btn-secondary mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Pair CattleDB App
</button>

<a href="mailto:?subject=CattleDB%20Server%20Information&body=I've%20just%20set%20up%20a%20CattleDB%20server!%20You%20can%20access%20it%20at%3A%0A{{private_ip}}%20(on%20{{ssid}})%0Aor%0A{{public_ip}}%20(not%20on%20{{ssid}})"
    class="btn btn-secondary mt-1">Email CattleDB Links</a>
</a>
<small class="mt-5 mx-auto"><em>Running CattleDB Version: {{version}}</em></small>
<small class="mx-auto"><em>Latest CattleDB Version: {{latest_version}}</em></small>
<small class="mx-auto"><em><a href="/install/licenses">Third Party Libraries</a></em></small>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Show QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center mx-auto" id="qrcode"></div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "{{private_ip}}");
</script>
{%endblock%}