{% extends 'installer/base.html' %}
{% block content %}
<h3>Online Mode Already Configured</h3>
<hr class="mt-0">
<p>It looks like online mode has already been configured. Remove the old rule on {{port}} to continue.</p>
<a href="/install/setup_online_mode" class="btn btn-primary">Try Again</a>
<a href="/install" class="btn btn-primary mt-3">Proceed with Install</a>
<a href="/settings/delete_upnp" class="btn btn-danger mt-3"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-trash3-fill" viewBox="0 0 16 16">
        <path
            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
    </svg> Delete CattleDB UPnP Rules</a>
    <p class="mt-3 text-center">Click above to remove all old CattleDB UPnP rules. You'll need to enter your username and password.</p>
{%endblock%}
{%block script%}
{%endblock%}