{% extends 'installer/base.html' %}
{% block content %}
<h3>Successfully installed!</h3>
<hr class="mt-0">
<p>Online mode configured successfully!</p>
<p>You're CattleDB installation is now configured to be available on other networks</p>
<a class="mt-3 btn btn-primary" href="/install">Proceed with Install</a>

{%endblock%}
{%block script%}
{%endblock%}