{% extends 'installer/base.html' %}
{% block content %}
<h3>Could Not Configure Online Mode</h3>
<hr class="mt-0">
<p>Unfortunately we were unable to configure your network to use Online Mode. However you can still manually configure
    your network by forwarding port {{port}} to this device. For more information visit:</p>
<a href="https://portforward.com">https://portforward.com</a>
<a href="/install" class="mt-3 btn btn-primary">Proceed with Install</a>
{%endblock%}
{%block script%}
{%endblock%}