<script lang="ts">
  import { run } from 'svelte/legacy';

  import { TabContent, TabPane } from "@sveltestrap/sveltestrap";
  import CowsTab from "../general/tabs/CowsTab.svelte";
  import EventsTab from "../general/tabs/EventsTab.svelte";
  import AddRemoveCowsButton from "./buttons/AddRemoveCowsButton.svelte";
  import { onMount, onDestroy } from "svelte";

  let { transaction } = $props();
  let activeTab = $state();
  let loading = true;
  onMount(() => {
    const urlParams = new URLSearchParams(window.location.search);
    const tabParam = urlParams.get("tab");

    if (!tabParam) {
      activeTab = "cows";
    } else {
      activeTab = tabParam;
    }

    // Event listener for URL changes
    window.addEventListener("popstate", () => {
      const newTabParam = new URLSearchParams(window.location.search).get(
        "tab"
      );
      if (newTabParam && document.getElementById(newTabParam)) {
        activeTab = newTabParam;
      }
    });
    loading = false;
  });

  onDestroy(() => {
    window.removeEventListener("popstate", () => {});
  });

  run(() => {
    if (activeTab !== undefined) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set("tab", activeTab);
      const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
      window.history.pushState({ path: newUrl }, "", newUrl);
    }
  });
</script>

<div class="col-md-7">
  {#if activeTab == undefined}
    <p>Loading</p>
  {:else}
    <TabContent on:tab={(e) => (activeTab = e.detail)}>
      <TabPane tabId="cows" tab="Cows" active={activeTab === "cows"}>
        <CowsTab cows={transaction.cows} showDam={true} showSire={true}>
          {#snippet footerButtons()}
                    <span >
              <AddRemoveCowsButton
                transaction_id={transaction.transaction_id}
                selectedCows={transaction.cows}
              />
            </span>
                  {/snippet}
        </CowsTab>
      </TabPane>
      <TabPane tabId="event" tab="Event" active={activeTab === "event"}>
        <EventsTab events={[transaction.event]} />
      </TabPane>
    </TabContent>
  {/if}
</div>
