<script lang="ts">
  import ChangeToFromButton from "./buttons/ChangeToFromButton.svelte";
  import ChangeNameButton from "../general/modalButtons/ChangeNameButton.svelte";
  import ChangeDescriptionButton from "../general/modalButtons/ChangeDescriptionButton.svelte";
  import ChangeAmountButton from "./buttons/ChangeAmountButton.svelte";
  let { transaction } = $props();

  const formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
  });
</script>

<div class="col-md-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{transaction.name}</h2>
      <small><i>System Id: #000{transaction.transaction_id}</i></small>
      <ul>
        <li>Date: {transaction.event.date}</li>
        <li>
          Amount: <span
            class:text-success={transaction.price > 0}
            class:text-danger={transaction.price < 0}
            >{formatter.format(transaction.price)}</span
          >
        </li>
        <li>
          Amount/head: <span
            class:text-success={transaction.price > 0}
            class:text-danger={transaction.price < 0}
            >{formatter.format(transaction.price/transaction.cows.length)}</span
          >
        </li>
        <li>
          Archived: {#if transaction.isArchived}Yes{:else}No{/if}
        </li>
        <li>
          Description: <br />{transaction?.description || ""}
        </li>
        {#if transaction.price > 0}
          <li>
            From: {transaction?.tofrom || ""}
          </li>
        {:else}
          <li>
            To: {transaction?.tofrom || ""}
          </li>
        {/if}
      </ul>
      <div class="row">
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeDescriptionButton
            identifier={transaction.transaction_id}
            identifierName={"transaction_id"}
            headerText="Change Description"
            buttonText="Change Description"
            buttonIcon="bi-pencil-square"
            action="/transactions/change_description"
            description={transaction.description}
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeNameButton
            identifier={transaction.transaction_id}
            identifierName={"transaction_id"}
            headerText="Change Name"
            buttonText="Change Name"
            buttonIcon="bi-pencil-square"
            action="/transactions/change_name"
            name={transaction.name}
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeAmountButton
            transaction_id={transaction.transaction_id}
            headerText="Change Amount"
            buttonText="Change Amount"
            price={transaction.price}
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeToFromButton
            transaction_id={transaction.transaction_id}
            headerText="Change To/From"
            buttonText="Change To/From"
            tofrom={transaction.tofrom}
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          {#if transaction.isArchived}
            <a
              class="w-100 btn btn-success"
              href="/transactions/unarchive?transaction_id={transaction.transaction_id}"
            >
              <i class="bi bi-archive"></i>
              Unarchive</a
            >
          {:else}
            <a
              class="w-100 btn btn-success"
              href="/transactions/archive?transaction_id={transaction.transaction_id}"
            >
              <i class="bi bi-archive"></i>
              Archive</a
            >
          {/if}
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <form method="post" action="/transactions/delete">
            <input
              name="transaction_id"
              value={transaction.transaction_id}
              hidden
            />
            <button type="submit" class="w-100 btn btn-danger">
              <!-- Trash icon-->
              <i class="bi bi-trash"></i>
              Delete Transaction
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
