<script lang="ts">
  import AddEventModal from "../../general/AddEventModal.svelte";
  let { tag_number } = $props();

  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
</script>

<AddEventModal bind:isOpen {toggle} {tag_number} />
<button class="m-2 btn btn-success" onclick={toggle}>
  <i class="bi bi-calendar"></i>
  Add Event
</button>
