<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  let {
    identifier,
    identifierName,
    name,
    headerText,
    buttonText,
    buttonIcon,
    action,
  } = $props();
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
</script>

<button class="w-100 btn btn-secondary" onclick={toggle}>
  <i class="bi {buttonIcon}"></i>
  {buttonText}
</button>
<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>{headerText}</ModalHeader>
  <ModalBody
    ><form id="nameForm" method="POST" {action}>
      <input name={identifierName} value={identifier} hidden />
      <input
        type="text"
        form="nameForm"
        name="name"
        class="form-control"
        value={name}
      />
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="nameForm"
      class="btn btn-primary"
      value={buttonText}
    />
  </ModalFooter>
</Modal>
