<script lang="ts">
  import {
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  let isOpen = $state(false);
  let toggle = () => {
    isOpen = !isOpen;
  };
  let {
    date,
    buttonText,
    buttonClasses,
    action,
    identifier,
    identifierName,
    headerText,
    dateName,
  } = $props();
</script>

<button class={buttonClasses} onclick={toggle}>
  <i class="bi bi-calendar-date"></i>
  {buttonText}
</button>
<Modal fade={true} {isOpen} {toggle} backdrop="static">
  <ModalHeader children={false}>{headerText}</ModalHeader>
  <ModalBody>
    <form id="setBirthdateForm" method="POST" {action}>
      <input type="hidden" name={identifierName} value={identifier} />
      <input class="form-control" type="date" name={dateName} value={date} />
    </form></ModalBody
  >
  <ModalFooter>
    <button type="button" class="btn btn-secondary" onclick={toggle}
      >Close</button
    >
    <input
      type="submit"
      form="setBirthdateForm"
      class="btn btn-primary"
      value={buttonText}
    />
  </ModalFooter>
</Modal>
