<script lang="ts">
  import {
    Button,
    Modal,
    ModalBody,
    ModalFooter,
    ModalHeader,
  } from "@sveltestrap/sveltestrap";
  import AddParentButton from "./buttons/AddParentButton.svelte";
  import ChangeSexButton from "./buttons/ChangeSexButton.svelte";
  import ChangeTagNumberButton from "./buttons/ChangeTagNumberButton.svelte";
  import ChangeDateButton from "../general/modalButtons/ChangeDateButton.svelte";
  import TransferOwnershipButton from "./buttons/TransferOwnershipButton.svelte";
  import ChangeDescriptionButton from "../general/modalButtons/ChangeDescriptionButton.svelte";
  import DeathLossButton from "./buttons/DeathLossButton.svelte";
  import type Cow from "src/types";
  interface Props {
    cow: Cow;
  }

  let { cow }: Props = $props();

  let deleteCowModalVisible = $state(false);
  let toggleDeleteCowModal = () => {
    deleteCowModalVisible = !deleteCowModalVisible;
  };
  let isDeleting = $state(false);
  async function deleteCow() {
    isDeleting = true;
    try {
      const formBody = new URLSearchParams();
      formBody.append("tag_number", cow.tag_number);

      const response = await fetch("/cows/delete", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: formBody,
      });

      if (response.ok) {
        // This will cause a full page reload, simulating form submission behavior
        window.location = "/cows";
      } else {
        // Handle error (you might want to add error handling logic)
        console.error("Delete failed", response);
      }
    } catch (error) {
      console.error("Error deleting cow:", error);
    } finally {
      isDeleting = false;
    }
  }
</script>

<div class="col-md-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{cow.tag_number}</h2>
      <small><i>System Id: #000{cow.cow_id}</i></small>
      <ul>
        <li>Owned By: {cow.owner}</li>
        {#if cow.birthdate}
          <li>Born: {cow?.birthdate || ""}</li>
        {/if}
        {#if cow.deathdate}
          <li>Died: {cow?.deathdate || ""}: {cow?.causeOfDeath || ""}</li>
        {/if}
        <li>Sex: {cow.sex}</li>
        {#if cow.dam}
          <li>
            <a href="/cows/cow/{cow.dam.tag_number}"
              >Dam: {cow.dam.tag_number}</a
            >
          </li>
        {/if}
        {#if cow.sire}
          <li>
            <a href="/cows/cow/{cow.sire.tag_number}"
              >Sire: {cow.sire.tag_number}</a
            >
          </li>
        {/if}
        <li>
          Archived: {#if cow.isArchived}Yes{:else}No{/if}
        </li>
        <li>
          Notes: <br />{cow?.description || ""}
        </li>
      </ul>
      <div class="row">
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeDescriptionButton
            identifier={cow.tag_number}
            identifierName="tag_number"
            headerText="Add Notes"
            buttonText="Add Notes"
            buttonIcon="bi-journal-text"
            action="/cows/change_description"
            description={cow.description}
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeTagNumberButton tag_number={cow.tag_number} />
        </div>

        <div class="col-lg-6 col-md-12 p-1">
          <ChangeDateButton
            date={cow.birthdate}
            headerText="Set Birthdate"
            buttonText="Set Birthdate"
            buttonClasses="w-100 btn btn-secondary"
            action="/cows/set_birthdate"
            identifier={cow.tag_number}
            identifierName="tag_number"
            dateName="birthdate"
          />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <ChangeSexButton tag_number={cow.tag_number} sex={cow.sex} />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <AddParentButton {cow} />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <TransferOwnershipButton tag_number={cow.tag_number} />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          {#if cow.isArchived}
            <a
              class="w-100 btn btn-success"
              href="/cows/unarchive?tag_number={cow.tag_number}"
            >
              <i class="bi bi-archive"></i>
              Unarchive</a
            >
          {:else}
            <a
              class="w-100 btn btn-success"
              href="/cows/archive?tag_number={cow.tag_number}"
            >
              <i class="bi bi-archive"></i>
              Archive</a
            >
          {/if}
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <DeathLossButton tag_number={cow.tag_number} />
        </div>
        <div class="col-lg-6 col-md-12 p-1">
          <input name="tag_number" value={cow.tag_number} hidden />
          <Button
            color="danger"
            class="w-100"
            disabled={isDeleting}
            on:click={toggleDeleteCowModal}
          >
            <i class="bi bi-trash me-2"></i>
            {#if isDeleting}
              Deleting...
            {:else}
              Delete Cow
            {/if}
          </Button>
        </div>
      </div>
    </div>
  </div>
</div>
<Modal isOpen={deleteCowModalVisible} toggle={toggleDeleteCowModal}>
  <ModalHeader toggle={toggleDeleteCowModal} children={false}
    >Confirm Cow Deletion</ModalHeader
  >
  <ModalBody>
    Are you sure you want to delete {cow.tag_number}?
    <br />
    This action cannot be undone.
  </ModalBody>
  <ModalFooter>
    <Button color="secondary" on:click={toggleDeleteCowModal}>Cancel</Button>
    <Button color="danger" on:click={deleteCow}>Delete</Button>
  </ModalFooter>
</Modal>
