<script lang="ts">
  import { TabContent, TabPane } from "@sveltestrap/sveltestrap";
  import type { Cow } from "../types";
  import CowsTab from "../general/tabs/CowsTab.svelte";
  import EventsTab from "../general/tabs/EventsTab.svelte";
  import TransactionsTab from "../general/tabs/TransactionsTab.svelte";
  import TreeTab from "../general/tabs/TreeTab.svelte";

  import AddEventButton from "../general/modalButtons/AddEventButton.svelte";
  import AddToExistingEventButton from "./buttons/AddToExistingEventButton.svelte";

  import { isFemale, isMale } from "../Sexes";

  import AddCalfModal from "./modals/AddCalfModal.svelte";
  import { onMount, onDestroy } from "svelte";

  let addCalfModalVisible = $state(false);
  let toggleAddCalfModal = () => {
    addCalfModalVisible = !addCalfModalVisible;
  };
  interface Props {
    cow: Cow;
  }

  let { cow }: Props = $props();
  let activeTab: string = $state();

  onMount(() => {
    const urlParams = new URLSearchParams(window.location.search);
    const tabParam = urlParams.get("tab");

    if (!tabParam) {
      activeTab = "offspring";
    } else {
      activeTab = tabParam;
    }

    // Event listener for URL changes
    window.addEventListener("popstate", () => {
      const newTabParam = new URLSearchParams(window.location.search).get(
        "tab"
      );
      if (newTabParam && document.getElementById(newTabParam)) {
        activeTab = newTabParam;
      }
    });
  });

  onDestroy(() => {
    window.removeEventListener("popstate", () => {});
  });

  $effect(() => {
    if (activeTab !== undefined) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set("tab", activeTab);
      const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
      window.history.pushState({ path: newUrl }, "", newUrl);
    }
  });
</script>

<div class="col-md-7">
  {#if activeTab == undefined}
    <p>Loading</p>
  {:else}
    <TabContent on:tab={(e) => (activeTab = e.detail.toString())}>
      <TabPane
        tabId="offspring"
        tab="Offspring"
        active={activeTab === "offspring"}
      >
        <CowsTab
          cows={cow.calves}
          showDam={isMale(cow.sex)}
          showSire={isFemale(cow.sex)}
        >
          {#snippet headerButtons()}
            <span>
              <button class="m-2 btn btn-success" onclick={toggleAddCalfModal}
                ><i class="bi bi-plus-circle"></i> Add Calf</button
              >
              <AddCalfModal
                isOpen={addCalfModalVisible}
                toggle={toggleAddCalfModal}
                {cow}
              />
            </span>
          {/snippet}
        </CowsTab>
      </TabPane>
      <TabPane tabId="events" tab="Events" active={activeTab === "events"}>
        <EventsTab events={cow.events}
          >{#snippet headerButtons()}
            <span>
              <AddEventButton tag_number={cow.tag_number} />
              <AddToExistingEventButton tag_number={cow.tag_number} />
            </span>
          {/snippet}</EventsTab
        >
      </TabPane>
      <TabPane
        tabId="transactions"
        tab="Transactions"
        active={activeTab === "transactions"}
        ><TransactionsTab transactions={cow.transactions} includeDate={true} />
      </TabPane>
      <TabPane tabId="tree" tab="Family Tree" active={activeTab === "tree"}>
        <TreeTab tag_number={cow.tag_number} />
      </TabPane>
    </TabContent>
  {/if}
</div>
